extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='не работает микрофон iPhone')
            | Вас не слышит собеседник, не работает микрофон
            | iPhone
          .cf
            i.f40.left.mr20.icon-microphone.aa
            p
              | Бывает, что при разговоре вас перестает слышать собеседник и вы уверены, что это не проблема вашего
              | сотового оператора.
            p
              | В этом случае может потребоваться замена микрофона, если он вышел из строя. Если микрофон в порядке — то
              | мог испортится шлейф. А если и шлейф цел, то, вероятно, проблема в микросхеме управления голосом.
          p
            | Наш мастер проведет &nbsp;
            strong диагностику вашего apple iphone
            |  и заменит испорченную деталь.
          .text-center.mb20
            h3 Понравилась статья? Расскажите друзьям!
            .a2a_kit.a2a_kit_size_32.addtoany_list
              a.a2a_button_google_plus
              a.a2a_button_vk
              a.a2a_button_facebook
              a.a2a_button_twitter
              a.a2a_button_pinterest
              a.a2a_button_linkedin
          script(async='', src='https://static.addtoany.com/menu/page.js')

