extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='iPhone не заряжается') iPhone не заряжается
          p
            span.left.f40.mr20
              i.icon-charge.aa
            |  Весьма частым явлением в iPhone является
            |           внезапная остановка процесса зарядки или вовсе его отсутствие, когда ваше устройство просто не реагирует на
            |           зарядное устройство. В данном случае проблема может быть обусловлена возникновением неисправности в нижнем
            |           шлейфе, где и расположен разъем питания.
            br
            br
            | Также, не исключение, что остановка зарядки произошла по вине
            |           неисправности аккумулятора. Например, в случае падения телефона, мог выйти из строя контроллер питания.
          h2 Так что же предпринять, когда iPhone перестал заряжаться?
          h3 1. Не забыть проверить на работоспособность зарядное устройство.
          p
            | Чаще всего именно из-за нерабочей зарядки &nbsp;
            strong iPhone не заряжается
            | . Иногда, из-за плохой или
            |           испорченной зарядки, появляются ошибки, например такая:
          .text-center.mb10
            img(src='/img/content/no_charge.jpg', alt='Картинка:iPhone не заряжается', title="замена батареии в айфоне | Сервисном центре Apple в Киеве")
          p
            | В большинстве случаев именно оно может стать виновником отсутствия зарядки, ввиду своей неисправности.
          p
            | Необходимо убедиться, что кабель и адаптер в рабочем состоянии, посредством проверки их на других iPhone и
            | если зарядка пошла успешно, отбросить подобный вариант поломки.
          h3 2. Неисправность нижнего шлейфа
          p
            | В данном случае без специализированной помощи не обойтись, так как вторая частая проблема в iPhone, влияющая
            | на отсутствие зарядки, заключается в повреждении разьема, при котором зарядное устройство, просто не способно
            | работать.
          include ../../templates/share-sosials

