extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='iPhone не включается') iPhone не включается. Что делать?
        .col-sm-3.text-center.f40
          i.icon-no-mobile.aa
        .col-sm-9
          p
            | Если вы в очередной раз пытаетесь включить iPhone, но никакой реакции кнопка включения не
            | дает, а на экране давно привыкшее глазу яблочко не мелькает, то решение проблемы может таиться во многих
            | причинах. Для скоротечного выявления проблемы в телефоне лучше обратиться в наш сервис, где мы оперативно
            | проведем диагностику и выявим неисправность.
      .row
        .col-xs-12
          p Последствием падения, либо сильного удара устройства может быть его выключение. В таких случаях причина подобного поведения гаджета ясна. Но что делать, если iPhone не включается, хотя он не падал и не ударялся?
          h2 Мы расскажем о четырех возможных причинах возникновения проблемы. Также мы напишем, что делать если iPhone перестал работать.
          ol
            li
              p iPhone не включается, а лишь показывает черный экран. Гаджет мог просто зависнуть. Простейшим способом устранения этой проблемы будет перезагрузка Айфона. Она выполняется даже если iPhone не включается, у него отсутствуют реакции на нажатие кнопок, а также прикосновения. Для перезагрузки iPhone 7 (7 Plus) следует на протяжении 10 секунд держать зажатыми кнопки «Режим сна/Пробуждение» и «Уменьшение громкости». Устройства более ранних поколений перезагружаются посредством удержания кнопок «Режим сна/Пробуждение» и «Домой».
            li
              p iPhone не работает даже после перезапуска. Следующим этапом будет подключение смартфона к источнику питания. Поставьте его на зарядку где-то на час. Важно чтобы разъем, кабель, а также адаптер питания были исправны.
            li
              p Гаджет включился, но завис. Иногда iPhone не работает, когда требуется обновление операционной системы. В этом случае следует подключить смартфон к iTunes, перезапустить его и не отпускать кнопки до появления экрана режима восстановления. Далее выберите опцию «Обновить» и подождите пока программа переустановит операционную систему.
            li
              p
                | Возможно в&nbsp;
                a(href="/voda-iphone") iPhone попала вода
                |&nbsp;, в этом случаи мы рекомендуем не включать устройство в ближайшие пару часов, а лучше всего сделать чистку айфона, в нашем сервисе, это занимает всего 10 минут.
          p Однако в некоторых ситуациях причины того, что iPhone не включается довольно серьезны и не могут быть устранены с помощью простого перезапуска и обновления. Например:
          ul
            li дисплей черный, но приходят оповещения и работает вибрация;
            li при работающем дисплее устройство не реагирует на прикосновения и любые жесты;
            li iPhone не включается даже после выполнения всех описанных выше рекомендаций;
            li программа iTunes не идентифицирует гаджет, либо он завис на экране с логотипом Apple;
            li из-за поломки кнопок, перезапуск Айфона невозможен.
          p
          |В этих случаях лучшее решение – обратиться в&nbsp;
          a(href='/') сервисный центр
          |&nbsp;. Компания Service iPhone предлагает качественный профессиональный ремонт Айфонов в кратчайшие сроки и с гарантией.

        .col-xs-12
          include ../../templates/share-sosials

