extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не нажимаются кнопка Home на iPhone') Не нажимаются кнопки на iPhone
          .col-xs-12.col-sm-5
            img(src='/img/new/problems/ne-rabotaut-knopki.jpg', alt='Не нажимаются кнопки на iPhone')
          .col-xs-12.col-sm-7
            p
              | Часто от неаккуратного использования iPhone перестают работать различные функциональные кнопки(
              strong(title='кнопка Home не работает') кнопка Home
              | ,кнопки громкости, кнопка блокировки,кнопка
              | беззвучного режима) или же работают плохо и почти не нажимаются. В этом случае мы заменяем шлейф который
              | отвечает за необходимую функцию. Часто кнопки выходят из строя от попадания грязи или воды.

            .row
              .col-xs-12.col-sm-6
                p.blue.strong Время ремонта - от 10 мин
              .col-xs-12.col-sm-6
                p.blue.strong Стоимость от 200 грн
            .row
              .col-xs-12.col-sm-6
                p
                  span.strong.mr10 Поделится
                include ../../templates/share-sosials
              //.col-xs-12.col-sm-6
              //  span.strong.mr10 Полезный Материал
              //  span.heart 140