extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='iPhone не включается') iPhone не включается
        .col-sm-3.text-center.f40
          i.icon-no-mobile.aa
        .col-sm-9
          p
            | Если вы в очередной раз пытаетесь включить iPhone, но никакой реакции кнопка включения не
            | дает, а на экране давно привыкшее глазу яблочко не мелькает, то решение проблемы может таиться во многих
            | причинах. Для скоротечного выявления проблемы в телефоне лучше обратиться в наш сервис, где мы оперативно
            | проведем диагностику и выявим неисправность.
      .row
        .col-sm-6
          h3
          p
            | Среди часто встречающихся проблем, влияющих на неспособность телефона включиться можно отметить:
          ol
            li неработоспособность аккумулятора;
            li неисправность нижнего шлейфа, когда iPhone еще перестает и заряжаться;
            li отжившую свое микросхему питания;
            li возникновение других проблем на плате.
        .col-sm-6
          p
            | Чтобы не гадать о причине поломки рекомендуем обратиться к 
            a(href='/') нашим мастерам
            | ,
            |         которые благодаря проведению диагностики быстро выявят поломку и устранят ее.
      .row
        .col-sm-6
          h3 Частые трудности, связанные с аккумулятором
          p
            | Распространенная причина невключения iPhone может крыться в долгом отсутствии оптимального заряда. В данном
            | случае аккумулятор подвергается разряду и перестает нормально функционировать. Для исправления проблемы
            | телефон необходимо заряжать в выключенном виде при достижении оптимального уровня заряда в 40%. В случае, если
            | iPhone не включается и при наличии заряда, то проблема состоит не в аккумуляторе.
          p Как проверить?
          ul
            li
              | Чтобы убедиться в этом, достаточно установить в телефон новый аккумулятор и протестировать его.
        .col-sm-6
          .img-container
            img(src='/img/content/iphone_back_part.jpg', alt='Картинка:Iphone 4s Аккумулятор', title="Ремонт аккумулятора iPhone 4s в Сервисном центре Apple в Киеве")
      .row
        .col-sm-6
          .img-container
            img(src='/img/content/iphone_part_camera.jpg', alt='Картинка:не работает камера на iphone', title="Ремонт камеры iPhone в Сервисном центре Apple в Киеве")
        .col-sm-6
          h3 После перезагрузки iPhone не включается
          p
            | Еще одной частой проблемой в iPhone при неспособности его к включению может быть перезагрузка телефона в
            | выключенном состоянии. Распознать причину поломки в данном случае самостоятельно сложно, ведь это может быть
            | как нерабочая кнопка включения, так и другие всевозможные варианты перечисленные выше.
          p
            | Однако, если диагноз проблемы состоит в ошибке цепи питания, то без квалифицированной помощи не обойтись.
      .row
        .col-sm-6
          h3 Неисправности материнской платы
          p
            | Одним из самых сложных и нехороших случаев наблюдающихся в iPhone можно назвать его выключение и отсутствие
            | включения. Ведь огромная вероятность поломки в данном случае может скрыться в проблеме с материнской платой,
            | например, при выходе микросхемы из строя. Обусловлено это обычно повреждениями телефона, его плохой зарядкой
            | или попаданием в него воды. Если iPhone перестал включаться, а перезагрузка происходит самостоятельно, то
            | неисправность вероятнее всего именно в материнской плате. Поэтому принести телефон для диагностики в наш
            | сервис и устранить поломку рекомендуется в ближайшее время.
          h3 Возможен ли самостоятельный ремонт?
          p Нет, так как это чревато полной поломкой телефона без возможности ремонта.
          p
            | Ремонт своими силами очень опасен, потому лучшим выходом будет отнести его в
            a(href='/') сервисный центр
            |           по ремонту.
        .col-sm-6
          .img-container
            img(src='/img/content/iphone_math_plate.jpg', alt='Картинка:материнская плата Iphone', title="Ремонт ремонт материнской платы iPhone в Сервисном центре Apple в Киеве")

