extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не нажимаются кнопка Home на iPhone') Не нажимаются кнопки на iPhone
          .col-xs-12.col-sm-5
            img()
          .col-xs-12.col-sm-7
            p Часто от неаккуратного использования iPhone перестают работать различные функциональные кнопки(
            ul
              li Кнопка Home может перестать
              li Кнопка Home может перестать
              li Кнопка Home может перестать

            .row
              .col-xs-12.col-sm-6
                p Время ремонта - от 10 мин
              .col-xs-12.col-sm-6
                p Стоимость от 200 грн
            .row
              .col-xs-12.col-sm-6
                span.strong.mr10 Полезный Материал
                span.heart 140

              .col-xs-12.col-sm-6
                p
                  span.strong.mr10 Поделится



          p
            | Часто от неаккуратного использования iPhone перестают работать различные функциональные кнопки(
            strong(title='кнопка Home не работает') кнопка Home
            | ,кнопки громкости, кнопка блокировки,кнопка
            |           беззвучного режима) или же работают плохо и почти не нажимаются. В этом случае мы заменяем шлейф который
            |           отвечает за необходимую функцию. Часто кнопки выходят из строя от попадания грязи или воды.
          .text-center.mb20
            h3 Понравилась статья? Расскажите друзьям!
            .a2a_kit.a2a_kit_size_32.addtoany_list
              a.a2a_button_google_plus
              a.a2a_button_vk
              a.a2a_button_facebook
              a.a2a_button_twitter
              a.a2a_button_pinterest
              a.a2a_button_linkedin
          script(async='', src='https://static.addtoany.com/menu/page.js')

