extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='iPhone быстро разряжается') iPhone быстро разряжается
          p
            | Аккумулятор в iPhone, так же как и в других устройствах имеет свой срок службы. И со временем он всё быстрее
            | разряжается и его может хватать буквально на пару часов.
          p
            | Если ваш телефон еще новый, но вам хочется продлить жизнь аккумулятора в iPhone, то рекомендуем выключать
            | сеть 3G и полностью отключать WiFi (даже если вы не подключены к сети, WiFi постоянно находится в поиске и
            | сажает батарею), это поможет уменьшить скорость разряда аккумулятора.
          p
            | Если ваш&nbsp;
            strong iPhone быстро разряжается
            | , то, скорее всего, у вас аккумулятор плохо держит заряд.
            |           В этом случае его требуется заменить.
          p
            | Возможно, что ваш телефон был поврежден водой, и ваш телефон потребляет больше тока. В этом случае необходимо
            | произвести&nbsp;
            a(href='/') ремонт вашего iPhone
            | .
