extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не нажимаются кнопка Home на iPhone') Не нажимаются кнопки на iPhone
          p
            | Часто от неаккуратного использования iPhone перестают работать различные функциональные кнопки(
            strong(title='кнопка Home не работает') кнопка Home
            | ,кнопки громкости, кнопка блокировки,кнопка
            |           беззвучного режима) или же работают плохо и почти не нажимаются. В этом случае мы заменяем шлейф который
            |           отвечает за необходимую функцию. Часто кнопки выходят из строя от попадания грязи или воды.
          ul

