extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не работает звук на iPhone') Не работает звук на iPhone
          p
            i
              | Существует ряд поломок в iPhone, влияющих на внезапное прекращение подачи звука. Проявление подобных
              | проблем весьма различно, точно также, как и их устранение при ремонте.
          h2 Не слышно собеседника (плохо слышно)
          p
            | В случае, когда собеседника при разговоре не слышно или слышно еле-еле, некоторые владельцы выходят из
            | ситуации путем включения громкой связи. Однако, подобное решение не является подходящим, если разговор ведется
            | в общественных местах.
          h3 Проблемы с верхним динамиком
          p
            | Если у вас возникла подобная неисправность, то решение ее состоит в проверке слухового или верхнего динамика.
            | К его порче приводит скопление пыли или частые падения. Устранение неполадки возможно посредством замены
            | верхнего динамика в устройстве. Стоимость их вы сможете уточнить в специальном разделе ниже.
          h3 Неисправность верхнего шлейфа
          p
            | Крепление верхнего динамика на плату не происходит напрямую, так как в каждой модели он соединяется с верхним
            | шлейфом, который и присоединяется к материнской плате. Выход верхнего шлейфа, отвечающего за слуховой динамик,
            | происходит не часто, однако в некоторых случаях это наблюдается. Например, при попадании воды или при сильных
            | падениях. В данном случае необходимо провести замену шлейфа динамика.
          h2 Не работает громкая связь, а музыку слышно лишь с наушниками
          p
            | Функция по воспроизведению громких звуков ложится на полифонический динамик, располагающийся снизу. Многие
            | ошибочно считают, что снизу присутствует два динамика, но на самом деле один из них замаскированный
            | микрофон.
          p Если вы не слышите или слышите очень плохо:
          ul
            li звонок телефона;
            li музыкальных композиций без наушников;
            li звука в видеозаписях;
            li человека при разговоре на громкой связи;
            li звука в играх.
          p
            | Значит ваша проблема может быть обусловлена двумя неисправностями: в нижнем шлейфе или динамике.
          h2 Поломка нижнего динамика
          p
            | Повреждение подобного динамика в iPhone обычно происходит после ударов, скопления пыли или попадания в него
            | влаги. В нашем сервисе вы сможете заменить его на оригинальный.
          h3 Нижний шлейф
          p
            | Соединение динамика с материнской платой происходит при помощи нижнего шлейфа и в случае его повреждения,
            | проблема будет состоять в динамике.
          h3 Неисправности платы, влияющие на звук
          p
            | Каждая из проблем, упомянутая выше, может касаться исключительно материнских плат, так как именно на них
            | присутствуют микросхемы, влияющие на воспроизведение звука.
          p
            | Распространенные из них, это микросхема для управления голосом и аудиокодек, при повреждении которых,
            | рекомендуется скоротечно произвести их замену.

