extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не работает тачскрин на iPhone ') Не работает тачскрин на iPhone
          p
            | Бывает, что часть экрана перестает реагировать на нажатия или просто очень плохо откликается. А иногда
            | тачскрин (сенсорное стекло) вообще перестает работать.
          p
            | В этом случае мог отойти разъем тачскрина или он полностью вышел из строя — в таком случае требуется его
            | замена.
          .text-center.mb20
            h3 Понравилась статья? Расскажите друзьям!
            include ../../templates/share-sosials

