extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не работает виброзвонок') Не работает виброзвонок
          p Возможно несколько неполадок виброзвонка на iPhone.
          ol
            li Может не работать сам переключатель (чаще всего это бывает на iPhone)
            li Возможно, вибрация работает слишком слабо или обрывками.
            li Также вибрация может вообще отсутствовать.
          p Чаще всего мы просто меняем вибромотор.

