extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не работает дисплей iPhone') Не работает дисплей iPhone
          p
            | В этой странице описаны распространенные проблемы, связанные с дисплеями на Айфонах.
      .row
        .col-sm-6
          h2 Черный экран, нет изображения
          h3 Симптомы
          p
            | Аппарат подает признаки жизни, работает звук, на телефон можно позвонить, но экран остается черный.
            | Перезагрузка и подключение зарядки ни к чему не приводят.
          h3 После чего могло произойти
          p Часто случается после падения, но может произойти и само по себе.
          h3 Вероятный диагноз
          p
            strong Вышел из строя дисплей
            | , либо на него не подается питание.
          h4 Варианты лечения
          ul
            li Замена дисплея или дисплейного модуля.
            li Ремонт разъема дисплея
          h2 Точки, битые пиксели
          h3 Симптомы
          p Маленькие, почти незаметные точки различных цветов на экране.
          h3 После чего могло произойти
          p Происходит само по себе, либо это заводской брак.
          h3 Вероятный диагноз
          p Битые пиксели.
          h4 Варианты лечения
          ul
            li Замена дисплея или дисплейного модуля.
        .col-sm-6
          h2 Полосы на дисплее
          h3 Симптомы
          p
            | Аппарат работает, изображение на экране присутствует. Поверх изображения есть полосы различных цветов. Иногда
            | очень тонкие. Могут появляться периодически.
          h3 После чего могло произойти
          p Часто случается после падения, но может произойти и само по себе.
          h3 Вероятный диагноз
          p Выбита дорожка на матрице, возможно частично.
          h4 Варианты лечения
          ul
            li Замена дисплея или дисплейного модуля.
          h2 Черные круги на дисплее
          h3 Симптомы
          p
            | Черные расплывающиеся круги на экране, возможное искажение цветов около них. Не исчезают.
          h3 После чего могло произойти
          p
            | Происходит после падения, либо после попыток разделить стекло и дисплей в модуле.
          h3 Вероятный диагноз
          p Разбита матрица, потекли кристаллы.
          h4 Варианты лечения
          ul
            li
              strong Замена дисплея
              |  или дисплейного модуля.


