extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не работает дисплей iPhone') Что делать, если не работает дисплей iPhone?

          p Дисплей – это сердце всего смартфона. Он обеспечивает взаимодействие пользователя с устройством. Поэтому поломка тачскрина представляется серьезной проблемой.
          p
            | Если Вы внезапно обнаружили, что&nbsp;
            em не работает дисплей iPhone
            |&nbsp;, то оперативно «реанимировать» устройство можно выполнив два простых шага:
          ul
            li
              |Убедитесь в невредимости экрана iPhone. Если не работает дисплей, то первым делом следует:
              ol
                li Тщательно осмотреть устройство.
                li Снять защитные аксессуары (если такие имеются).
                li Протереть экран мягкой неворсистой тканью (немножко влажной).
                li И перезапустите гаджет.
              p Если после этого дисплей все равно не работает, то смартфон лучше отнести в сервисный центр.
            li
              p
               strong Попробуйте отрегулировать настройки 3D Touch.
               |&nbsp;Возможно проблема не в том, что дисплей не работает, а в том, что тачскрин недостаточно чувствителен. Смартфоны iPhone 6s и более современных серий позволяют регулировать настройки. Чтобы настроить чувствительность тачскрина, выполните на iPhone следующие действия:
          h2 Меню → Настройки → Основные → Универсальный доступ → 3D Touch → отрегулируйте чувствительность.
          p
            | Если с помощью описанных выше действий устранить неисправность не удалось и все равно не работает дисплей, то единственный выход – обращение в&nbsp;
            a(href='/') сервисный центр
            |.
          p Service Iphone – это сервисный центр, занимающийся ремонтом и обслуживанием техники Apple. Мы в кратчайшие сроки приведем в исправность дисплей Вашего iPhone. А вдобавок предоставим гарантию на выполненные работы.
          .text-center.mb20
            h3 Понравилась статья? Расскажите друзьям!
            include ../../templates/share-sosials


