extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Не работает виброзвонок') Не работает виброзвонок
          p Возможно несколько неполадок виброзвонка на iPhone.
          ol
            li Может не работать сам переключатель (чаще всего это бывает на iPhone)
            li Возможно, вибрация работает слишком слабо или обрывками.
            li Также вибрация может вообще отсутствовать.
          p Чаще всего мы просто меняем вибромотор.
          .text-center.mb20
            h3 Понравилась статья? Расскажите друзьям!
            .a2a_kit.a2a_kit_size_32.addtoany_list
              a.a2a_button_google_plus.a2a_counter
              a.a2a_button_vk.a2a_counter
              a.a2a_button_facebook.a2a_counter
              a.a2a_button_twitter.a2a_counter
          script(async='', src='https://static.addtoany.com/menu/page.js')

