extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1(title='Что делать если разбилось стекло iPhone')
            | Что делать, если разбилось стекло
            | iPhone
        .col-sm-3.text-center.f40
          i.icon-hammer.aa
        .col-sm-9
          p
            | Чаще всего владельцы iPhone обращаются в сервисные центры за помощью из-за повреждений на
            | стекле телефона (сколы, трещины, царапины). Компания Apple уделяет большое внимание дизайну и стилю своей
            | продукции, но, к сожалению, поверхность, которая не царапается, плохо переносит малейшие механические
            | повреждения. Для решения такой проблемы достаточно заменить разбитое стекло телефона, процесс занимает около 30
            | минут. &nbsp;
            a(href='/iphone') ремонте iPhone
            | .
      .row
        .col-sm-6
          h3 Что такое дисплейные модули
          p
            | Если на iPhone (за исключением моделей «третьей» серии) установлены оригинальные стекла, то в этом случае они
            | неразделимы с дисплеем. Такой тип сборки препятствует попаданию пыли в аппарат, но в случае повреждения стекла
            | — потребуется заменить и дисплей. В более новых моделях &nbsp;
            a(href='/remont-iphone4') iPhone 4
            | &nbsp; или 4S такого
            | недостатка нет.
        .col-sm-6
          h3 Как производится замена стекла у моделей 3G и 3GS
          p
            | В более старые модели iPhone установлены дисплейные модули (стекло совмещено с дисплеем телефона), которые
            | разбираются. После этого можно беспрепятственно заменить отдельно и стекло, и дисплей. Такая замена не
            | потребует много времени (вам не придется оставлять телефон, вы можете просто подождать 20 минут). Если вы
            | разбили стекло своего iPhone, рекомендуем обратиться к нашим опытным специалистам. Мы быстро и качественно
            | заменим поврежденное стекло.
  .container
    - columns = ['Услуга','iPhone 4/4S','iPhone 5','iPhone 5C','iPhone 5S','iPhone 6','iPhone 6+', 'iPhone SE', 'iPhone 6S', 'iPhone 6S+', 'iPhone 7', 'iPhone 7+' ];

    - rows = [{'Услуга': 'Замена стекла и дисплея (модулем)','iPhone 4/4S': '699 грн','iPhone 5': '1499 грн','iPhone 5C': '1499 грн','iPhone 5S': '1499 грн','iPhone 6': '2399 грн','iPhone 6+': '2999 грн','iPhone SE': '1499 грн', 'iPhone 6S': '4199 грн', 'iPhone 6S+': '5999 грн', 'iPhone 7': '10099 грн', 'iPhone 7+': '13999 грн'},{'Услуга': 'Замена дисплея (отдельно)','iPhone 4/4S': '699 грн','iPhone 5': '1499 грн','iPhone 5C': '1499 грн','iPhone 4S': '699 грн','iPhone 5S': '1499 грн','iPhone 6': '2399 грн','iPhone 6+': '2999 грн','iPhone SE': '1499 грн', 'iPhone 6S': '4199 грн', 'iPhone 6S+': '5999 грн', 'iPhone 7': '10099 грн', 'iPhone 7+': '13999 грн'},{'Услуга': 'Замена переднего стекла (отдельно)','iPhone 4/4S': '699 грн','iPhone 5': '799 грн','iPhone 5C': '799 грн','iPhone 4S': '699 грн','iPhone 5S': '799 грн','iPhone 6': '1199 грн','iPhone 6+': '1399 грн', 'iPhone SE': '799 грн', 'iPhone 6S': '1999 грн', 'iPhone 6S+': '2499 грн', 'iPhone 7': '3499 грн', 'iPhone 7+': '4499 грн'}]
    table.prices-table
      thead
        tr
          each title in columns
            th.prices-table__th #{title}
      tbody
        each item in rows
          tr
            each title in columns
              td #{item[title]}


