extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1 Как проводится замена стекла на iPhone?
          p Чаще всего владельцы iPhone обращаются в сервисные центры за помощью из-за повреждений на стекле телефона (сколы, трещины, царапины). Компания Apple уделяет большое внимание дизайну и стилю своей продукции, но, к сожалению, поверхность, которая не царапается, плохо переносит малейшие механические повреждения. Для решения такой проблемы достаточно заменить разбитое стекло телефона, процесс занимает около 30 минут.
          h2 3 наиболее популярных причин поломки экрана iPhone
          p
            a(href="/ne-rabotaet-displey-iphone") Замена дисплея iPhone
            |&nbsp;является одной из наиболее популярных услуг. В связи с исключительной функциональностью яблочной техники, многие владельцы практически не выпускают ее из рук. Из-за чего Айфон подвергается влиянию различных негативных факторов:
          ol
            li
              |Повышенная влажность, либо в&nbsp;
              a(href="/voda-iphone") iphone попала вода
              |&nbsp;, чай или кофе.
            li Детишки или домашние животные, желающие познакомиться со смартфоном.
            li Механическое воздействие (царапины, удары и падения устройств).
          h2 Как заменить дисплей iPhone самостоятельно?
          p
            |Замена стекла iPhone - дорогостоящая услуга. Однако она популярна ввиду восприимчивости экрана устройств ко всякого рода воздействиям. Поэтому некоторые владельцы, стремясь сэкономить, пробуют&nbsp;
            a(href="/ne-rabotaet-displey-iphone") заменить дисплей iPhone
            |&nbsp; самостоятельно. Однако это кропотливая работа, требующая особенной аккуратности. Единственное неверное движение может привести к полной поломке смартфона. Во избежание подобных ситуаций, мы решили рассказать о том, как проводится замена дисплея iPhone.
          ol
            li Определение методики замены экрана. В зависимости от модели Айфона может отличаться способ соединения компонентов смартфона. Так, в устройствах третьего поколения сенсор можно снять с помощью простой отвертки. Но во всех остальных сериях модуль соединяется с помощью специального клея. Он высокоадгезивен, поэтому замена стекла iPhone должна проводиться с помощью специализированного оборудования - сепаратора.
            li
              |Демонтаж модуля.&nbsp;
              em Замена стекла iPhone
              |&nbsp;начинается со снятия дисплея и очистки слоя от остатков клея. Для демонтажа используется сепаратор. А очистка осуществляется с помощью металлической струны и специального средства.
          p Мы настоятельно не рекомендуем пытаться заменить дисплей Айфона используя подручные средства. Это приведет к полной поломке смартфона. Если у Вас нет специального оборудования и очищающих средств, то обратитесь в любой сервисный центр Service iPhone. У нас замена дисплея iPhone проводится максимально оперативно, да еще и с гарантией качества.
          p Не рискуйте целостностью экрана смартфона. Выбирайте качество с гарантией!

    include ../../templates/share-sosials

//h2 Цены на замену стекла iPhone Киев
          - columns = ['Услуга','iPhone 4/4S','iPhone 5','iPhone 5C','iPhone 5S','iPhone 6','iPhone 6+', 'iPhone SE', 'iPhone 6S', 'iPhone 6S+', 'iPhone 7', 'iPhone 7+' ];
          - rows = [{'Услуга': 'Замена стекла и дисплея (модулем)','iPhone 4/4S': '699 грн','iPhone 5': '1499 грн','iPhone 5C': '1499 грн','iPhone 5S': '1499 грн','iPhone 6': '2399 грн','iPhone 6+': '2999 грн','iPhone SE': '1499 грн', 'iPhone 6S': '4199 грн', 'iPhone 6S+': '5999 грн', 'iPhone 7': '10099 грн', 'iPhone 7+': '13999 грн'},{'Услуга': 'Замена дисплея (отдельно)','iPhone 4/4S': '699 грн','iPhone 5': '1499 грн','iPhone 5C': '1499 грн','iPhone 4S': '699 грн','iPhone 5S': '1499 грн','iPhone 6': '2399 грн','iPhone 6+': '2999 грн','iPhone SE': '1499 грн', 'iPhone 6S': '4199 грн', 'iPhone 6S+': '5999 грн', 'iPhone 7': '10099 грн', 'iPhone 7+': '13999 грн'},{'Услуга': 'Замена переднего стекла (отдельно)','iPhone 4/4S': '699 грн','iPhone 5': '799 грн','iPhone 5C': '799 грн','iPhone 4S': '699 грн','iPhone 5S': '799 грн','iPhone 6': '1199 грн','iPhone 6+': '1399 грн', 'iPhone SE': '799 грн', 'iPhone 6S': '1999 грн', 'iPhone 6S+': '2499 грн', 'iPhone 7': '3499 грн', 'iPhone 7+': '4499 грн'}]
          table.prices-table
            thead
              tr
                each title in columns
                  th.prices-table__th #{title}
            tbody
              each item in rows
                tr
                  each title in columns
                    td #{item[title]}