extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1 Что делать, если в iPhone попала вода
          .text-center.mb10
            img(src='/img/content/iphone-whater-inside.jpg', alt='Картинка:iPhone попала вода', title='iPhone попала вода')
          p
            | От воды не защищен ни один телефон, исключением не стал и популярнейший сегодня iPhone. Вода – это самый
            | страшный враг всей техники. Давайте рассмотрим наиболее частые ситуации, в которых iPhone повреждается из-за
            | попадания воды:
          ul
            li
              | Вы могли случайно взять телефон мокрыми руками. В этом случае мелкие капли влаги могут просочиться внутрь
              | аппарата и повредить механизм кнопок. Это наименее опасная для телефона ситуация, которая легко разрешается.
            li
              | Если вы привыкли брать с собой телефон в душ, стоит отказаться от этой привычки. Пар превращается в
              | конденсат, таким образом капли воды попадают в iPhone.
            li
              | Сидя в баре или ресторане все обычно выкладывают телефон на стол, не удивительно что рано или поздно его
              | настигает участь залитого вином или пивом телефона.
            li
              | В конце концов, iPhone можно и вовсе уронить в речку или ванну (бывают случаи, когда дорогостоящий аппарат
              | «купается» даже в унитазе).
          p
            | Пожалуй, самая опасная для телефона ситуация – это «морское путешествие». Соленная вода наносит iPhone
            | непоправимый вред. Чаще всего телефоны, попавшие в морскую воду не поддаются ремонту.
          h2 Что делать, если iPhone попал в воду
          p
            | В первую очередь, развеем миф о том, что если положить мокрый телефон в рис, то он быстро высохнет и вернется
            | к жизни. На самом деле это не так, с таим же успехом можно просто протереть iPhone полотенцем. Короткое
            | замыкание не сможет исправить ни полотенце, ни рис, ни гречка с майонезом. Более того рисины забиваются в
            | проемы телефона и их потом приходится оттуда извлекать.
          p
            strong Если вы уронили телефон в воду
            | , как можно быстрее&nbsp;
            strong отключите его
            | (если он
            | работает) и незамедлительно&nbsp;
            strong отсоедините аккумулятор
            | . Если вы решили самостоятельно разобрать
            | аппарат и просушить его, будьте предельно внимательны к тонким шлейфам, которые можно случайно порвать в
            | процессе разборки. После того, как iPhone высох, удалите коррозию с контактов. Если вода не успела проникнуть
            | в другие элементы телефона, то возможно он заработает.
          p
            | Лучше всего не экспериментировать, а отнести телефон к наш &nbsp;
            a(title='Сервис центр Service-iPhone.com.ua', href='/') сервисный центр
            | . Чем дольше вы
            | ждете, тем сложнее будет нашим мастерам «вылечить» ваш iPhone.
          .text-center.mb20
            h3 Понравилась статья? Расскажите друзьям!
            .a2a_kit.a2a_kit_size_32.addtoany_list
              a.a2a_button_google_plus.a2a_counter
              a.a2a_button_vk.a2a_counter
              a.a2a_button_facebook.a2a_counter
              a.a2a_button_twitter.a2a_counter
          script(async='', src='https://static.addtoany.com/menu/page.js')


