extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-12
          h1 Отсутствует подключение к Wi-Fi или плохой прием сигнала на iPhone
          p
            | Категория неисправностей, касающаяся работоспособности сети Wi-Fi может сочетать в себе различные виды
            | поломок. Каждая из них по своему индивидуальна и требует определенного подхода в ремонте.
          h2 «No Wi-Fi» или «Нет Wi-Fi» в настройках iPhone.
          p
            | Подобная проблема может выглядеть так: заходя в настройки своего iPhone в раздел, где должна высвечиваться
            | сеть Wi-Fi, вы замечаете лишь надпись «Нет Wi-Fi», после чего процесс задействования ее, ничего не изменяет
            | (кнопка попросту неработоспособна). Таким образом, присоединиться к интернету по доступной вам сети не
            | удается, также, как и невозможно просмотреть их список.
          p
            | Распространенной причиной подобной неисправности может являться попадание в устройство воды или сильный
            | удар.
          h2 Плохой сигнал сети Wi-Fi
          p
            | В случае, когда ваш телефон стал плохо ловить сигнал сети Wi-Fi, проблема может скрываться в вышедшей из
            | строя антенны, например, при ударах или падении телефона, что является частым явлением среди любых устройств.
            | Таким образом, сигнал будет все хуже, а делений на индикаторе все меньше.
          p
            | Точную стоимость по ремонту Wi-Fi можно узнать лишь после проведенной диагностики.
          .text-center.mb20
            h3 Понравилась статья? Расскажите друзьям!
            .a2a_kit.a2a_kit_size_32.addtoany_list
              a.a2a_button_google_plus
              a.a2a_button_vk
              a.a2a_button_facebook
              a.a2a_button_twitter
          script(async='', src='https://static.addtoany.com/menu/page.js')


