section.home__phone.show-desktop
  .row
    .col-sm-6
      h3.h2 Частые поломки
      p.trbl-descriptioin Часто наши клиенты интересуются следующими проблемами:
      ul.trbl-list
        li.trbl-list__item: a.trbl-list__link(href='/ne-rabotaet-displey-iphone', title='Не работает дисплей iPhone') разбит экран/дисплей;
        li.trbl-list__item: a.trbl-list__link(href='/razbilos-steklo-iphone', title='Замена стекла iPhone') треснуло стекло на iPhone;
        li.trbl-list__item: a.trbl-list__link(href='/iphone-ne-vklyuchaetsya', title='не включается айфон') не включается айфон
        li.trbl-list__item: a.trbl-list__link(href='#') разбита задняя крышка;
        li.trbl-list__item: a.trbl-list__link(href='/iphone-byistro-razryazhaetsya', title='быстро разряжается айфон') аккумулятор плохо держит заряд;
        li.trbl-list__item: a.trbl-list__link(href='#') не работает модуль wi-fi;
        li.trbl-list__item: a.trbl-list__link(href='#') ремонт аудиокодека;
        li.trbl-list__item: a.trbl-list__link(href='#') сгорел контроллер питания;
        li.trbl-list__item: a.trbl-list__link(href='#') не работает динамик;
        li.trbl-list__item: a.trbl-list__link(href='#') тихий звук полифонического динамика;
        li.trbl-list__item: a.trbl-list__link(href='/voda-iphone', title='iPhone попала вода') в iPhone попала вода;
        li.trbl-list__item: a.trbl-list__link(href='#') не работает кнопка iHome;
        li.trbl-list__item: a.trbl-list__link(href='#') запала кнопка Power/включения;
    .col-sm-6
      .trbl__img
        img(src='/img/new/remont-iphone-fixes.jpg', alt="Картинка: ремонт iPhone в Киеве")