nav.nav
  a.nav__link(href='/iphone')
    img.nav__img(src='/img/svg/remont-iphone.svg', alt='Иконка: Ремонт iPhone')
    span.nav__text(title='Ремонт iPhone') Ремонт iPhone
  a.nav__link(href='/ipad-remont')
    img.nav__img(src='/img/svg/remont-ipad.svg', alt='Иконка: Ремонт iPad')
    span.nav__text(title='Ремонт iPad') Ремонт iPad
  a.nav__link(href='/remont-macbook')
    img.nav__img(src='/img/svg/remont-macbook.svg', alt='Иконка: Ремонт MacBook')
    span.nav__text(title='Ремонт MacBook') Ремонт MacBook
  a.nav__link(href='/remont-iwatch')
    img.nav__img(src='/img/svg/remont-apple-watch.svg', alt='Иконка: Ремонт Apple Watch')
    span.nav__text(title='Ремонт Apple Watch') Ремонт Apple Watch
