svg.nav__img(width='25px', height='32px', viewbox='0 0 25 32', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  // Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch
  title ipad
  desc Created with Sketch.
  defs
  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#ipad(fill='#000000')
      g#Group
        path#Shape(d='M23.0994286,0 L1.816,0 C0.833350649,0 0.033974026,0.800311688 0.033974026,1.784 L0.033974026,30.1976104 C0.033974026,31.1807792 0.833350649,31.9806753 1.816,31.9806753 L23.0994286,31.9806753 C24.0822857,31.9806753 24.8818701,31.1807792 24.8818701,30.1976104 L24.8818701,1.784 C24.8818701,0.800311688 24.0822857,0 23.0994286,0 Z M1.59241558,6.07335065 L23.3234286,6.07355844 L23.3234286,24.6626494 L1.59241558,24.6626494 L1.59241558,6.07335065 Z M1.816,1.55844156 L23.0994286,1.55844156 C23.222961,1.55844156 23.3234286,1.65963636 23.3234286,1.784 L23.3234286,4.51511688 L1.59241558,4.51490909 L1.59241558,1.784 C1.59241558,1.65963636 1.69267532,1.55844156 1.816,1.55844156 Z M23.0994286,30.4222338 L1.816,30.4222338 C1.69475325,30.4222338 1.59241558,30.3193766 1.59241558,30.1976104 L1.59241558,26.2210909 L23.3234286,26.2210909 L23.3234286,30.1976104 C23.3234286,30.3215584 23.222961,30.4222338 23.0994286,30.4222338 Z')
        path#Shape(d='M11.0065455,3.55615584 L13.9091948,3.55615584 C14.1961558,3.55615584 14.4286753,3.32353247 14.4286753,3.03667532 C14.4286753,2.74981818 14.1961558,2.51719481 13.9091948,2.51719481 L11.0065455,2.51719481 C10.7195844,2.51719481 10.4870649,2.74981818 10.4870649,3.03667532 C10.4870649,3.32353247 10.7195844,3.55615584 11.0065455,3.55615584 Z')
        path#Shape(d='M12.4578701,26.5375584 C11.4740779,26.5375584 10.6737662,27.3383896 10.6737662,28.3229091 C10.6737662,29.305974 11.4740779,30.1057662 12.4578701,30.1057662 C13.4416623,30.1057662 14.241974,29.305974 14.241974,28.3229091 C14.241974,27.3383896 13.4416623,26.5375584 12.4578701,26.5375584 Z M12.4578701,29.0668052 C12.0441558,29.0668052 11.7127273,28.7342338 11.7127273,28.3229091 C11.7127273,27.9111688 12.0440519,27.5765195 12.4578701,27.5765195 C12.8706494,27.5765195 13.203013,27.9111688 13.203013,28.3229091 C13.203013,28.7342338 12.8705455,29.0668052 12.4578701,29.0668052 Z')
