extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Диагностика iPhone 6') Диагностика iPhone 6
        p
          |Полная
          strong диагностика iPhone 6
          |является обязательной и бесплатной услугой, которую предоставляет сервисный центр Service-iPhone всем владельцам смартфонов от компании Apple, которые обращаются к нам за помощью.
        p
          |Качественный
          strong ремонт iPhone 6
          |невозможен без тщательной, профессионально проведенной, диагностики всех основных систем устройства. Это может быть внешний осмотр или более детальное изучение работы смартфона с помощью специального оборудования - все зависит от неисправности, с которой обратился в сервисный центр пользователь.
        p Точная диагностика помогает правильно определить причину неисправности и устранить ее оптимальным способом - с минимальными затратами времени и средств. Кроме этого, во время диагностики могут быть обнаружены дефекты, которые еще не проявились в виде неисправностей, но неизбежно дали бы о себе знать чуть позже.
        p Особенно актуальным проведение диагностики работы всех компонентов смартфона является при повреждениях, которые вызваны падениями, ударами, или попаданием влаги. Так, если в результате падения разбилось стекло вашего Айфона, а экран работает, это не значит, что больше никаких повреждений нет. Со временем экран или сенсор могут перестать функционировать должным образом, и это будет результатом удара. Профессиональная диагностика помогает сразу выявить проблему и решить ее, вовремя заменив поврежденный модуль.