
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена стекла iphone 6
        p
          | С каждым годом линейка iPhone пополняется новой моделью, которая в отличие от предыдущих версий становится еще легче
          | и тоньше. Не стал исключением и iphone 6. Однако такие преимущества лишили девайс герметичного водонепроницаемого
          | корпуса и прочного стекла. Поэтому в случае падения гаджета или его удара о твердую поверхность, стекло первым берет
          | на себя всю ответственность. Это приводит к появлению трещин и царапин, которые портят внешний вид девайса, затрудняют
          | его использование в дальнейшем.
        p.text-center
          img(src='/img/content/zamena-stekla-iphone-6.jpg', alt='Картинка:Замена стекла iPhone 6 Киев' title='Замена стекла iPhone 6 Киев', height='300px')
        p
          | Именно по этой причине&nbsp;
          strong замена экрана iphone 6
          |  — одна из самых популярных видов ремонтных услуг. В
          |   «Service-iphone» квалифицированные специалисты быстро восстановят привлекательность и функциональность вашего айфон 6.
          |   Мы сможем устранить проблему отсутствия реакции дисплея на прикосновения, уберем полосы, точки и места размытия, а
          |   также ликвидируем проблему самостоятельного включения или выключения гаджета.&nbsp;
          strong
            a(href='/remont-iphone-6', title='Замена стекла iphone 6') Замена стекла iphone 6
          | &nbsp;в Киеве
          |  пройдет быстро и качественно.
        p
          | В нашем центре мы берем на&nbsp;
          strong ремонт iphone 6
          |  обеих модификаций: с размером дисплея в 4,7 и 5,5 дюймов.
          |   Наши специалисты досконально знают тонкости сборки и разборки подобных моделей, чтобы выполнить профессиональную
          |   замену поврежденной или изношенной детали.
        p Обращайтесь уже сегодня!