
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена передней камеры iPhone 6') Замена фронтальной (передней) камеры iPhone 6
        p Повышение разрешения фронтальных камер в смартфонах Apple делает использование камеры для видеозвонков все популярнее с каждой новой серией Айфонов. Как и любое сложное и технологичное устройство, фронтальная камера подвержена механическим повреждениям, а также может выйти из строя после попадания внутрь воды или пыли.

        p <strong>Замена фронтальной (передней) камеры iPhone 6</strong> это достаточно сложная и ответственная операция, которая требует высокой квалификации а также использования специального оборудования. По этой причине правильным решением при неисправности фронтальной камеры будет обращение в авторизованный сервисный центр.

        p <strong>Ремонт iPhone 6</strong> в такой сервисной организации, как Service-iPhone, значит, что:

        ul
          li будет проведена квалифицированная бесплатная диагностика работы аппарата;
          li после выявления причины будет проведен оптимальный ремонт, чтобы минимизировать затраты времени и ваших средств;
          li для замены используются только качественные оригинальные детали;
          li на результаты ремонта действует гарантия от сервисного центра.

        p Мы уверены в качестве оказываемых услуг, и поэтому можем гарантировать нашим клиентам дальнейшую бесперебойную работу отремонтированного компонента смартфона.