.footer {
	padding:10px 0;
	border-top: 1px solid #ccc;
	background: #f2f2f2;
}

.footer-link {
	display: inline-block;
	margin:0 10px 10px;
	color: #222;
	text-decoration: none;
}

.google-maps{
	height: 200px;
}