.header {
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 30px;
}

.logo {
  padding: 10px 15px;
}

.logo__link {
  text-decoration: none;
  &:active .logo__text{
    color: $link-hover-color;
  }
  &:active path {
    fill: $link-hover-color;
  }
}

.logo__img {
  height: 30px;
  margin: 0 5px 0 0;

  vertical-align: middle;
}

.logo__text {
  text-transform: uppercase;
  color: $link-hover-color;
  position: relative;
  top: 4px;
}