.logo {
  padding: 10px 15px;
}

.logo__img {
  height: 30px;
  margin: 0 5px 0 0;

  vertical-align: middle;
}

.logo__text {
  text-transform: uppercase;
  color: $link-hover-color;
  position: relative;
  top: 4px;
}