.site-logo {
  white-space: nowrap;
  width: 200px;
  margin: 0 auto;
  padding: 5px 0;
}

.site-logo__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #0e749e;
  text-decoration: none;
  line-height: 1;
  display: block;
}
.site-logo__img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -4px;
}


.director-button {
  margin-top: 3px;
  display: none;
}

.header {
  width: 100%;
}

.header-section {
  padding: 15px 0;
  background: #f2f2f2;
}

.header-section__schedule--description {
  font-size: 16px;
  line-height: 1;
}

.header-section__warranty {
  top: 0;
  position: absolute;
}

.header-section__warranty--period {
  display: block;
}

.header-section__warranty--all {
  display: block;
}

.sub-header {
  margin: 30px 0 0;
}

.sub-header__description {
  margin: 15px 0 0;
}

.header-section__contacts {
  font-size: 16px;
  line-height: 20px;
}

.header-section__contacts__tel {
  margin: 0 10px;
  display: inline-block;
}

.header-section__schedule {
  text-align: center;
}

.header-section__contacts__tel,
.header-section__schedule--description {
  text-decoration: none;
  &:hover, &:focus {
    color: #222;
  }
}

.header-section__schedule--description {
  color: #222;
}

.fb_iframe_widget {
  vertical-align: top;
  margin: 0 0 0 5px;
}