extends ../../layout

block content
  section.device-section
    h1.device-title(title="Ремонт Apple iPhone/Ipad в Киеве | Iphone 3/4/5/6") Ремонт iPhone
    p.heading-title Выберите модель:
    include ../../modules/navigation.jade
  - var problemCases = [{'href': 'razbilos-steklo-iphone','text': 'Разбилось стекло','title': '','iconName': 'icon-hammer'},{'href': 'iphone-ne-vklyuchaetsya','text': 'Не включается','title': '','iconName': 'icon-no-mobile'},{'href': 'wifi-ne-rabotaet','text': 'Не работает Wi-Fi','title': '','iconName': 'icon-wifi'},{'href': 'ne-rabotaet-zvuk-na-iphone','text': 'Не работает звук','title': '','iconName': 'icon-mute'},{'href': 'ne-rabotaet-displey-iphone','text': 'Не работает дисплей','title': '','iconName': 'icon-tv'},{'href': 'iphone-ne-zaryazhaetsya','text': 'Не заряжается','title': '','iconName': 'icon-charge'},{'href': 'voda-iphone','text': 'Попала вода','title': '','iconName': 'icon-water'},{'href': 'ne-rabotaet-vibrozvonok','text': 'Не работает вибрация','title': '','iconName': 'icon-bell'},{'href': 'ne-rabotaet-displey-iphone','text': 'Не работает тачскрин','title': '','iconName': 'icon-finger'},{'href': 'iphone-byistro-razryazhaetsya','text': 'Быстро разряжается','title': '','iconName': 'icon-low-battery'},{'href': 'iphone-ne-nazhimayutsya-knopki','text': 'Не работают кнопки','title': '','iconName': 'icon-circle'},{'href': 'iphone-ne-rabotaet-mikrofon','text': 'Не работает микрофон','title': '','iconName': 'icon-microphone'}];
  section.problems-section.bg-lightgray
    div.container
      div.heading-title.mt20 Выберите проблему
      ul.row.problems
        each item in problemCases
          li.col-md-4.col-lg-3.col-sm-6.problems__item
            a.problems__link(title='#{item.text}', href='#{item.href}')
              i.aa(class='#{item.iconName}')
              span.problems__text.aus #{item.text}
            section.information-section
  .container
    h3.text-center
      | Выполняемые услуги&nbsp;
      i.icon-engineering.aa
    p.text-center Инженеры сервисов Service Iphone выполняют следующие виды услуг:
    .row
      .col-xs-12
        .row.content-row
          .col-sm-3
            ul.content-list
              li
                | Замена любых деталей в аппарате:
                br
                span.content-list--gray дисплеев, корпусов, кнопок, динамиков, микрофонов.
          .col-sm-3
            ul.content-list
              li
                | Пайка и другие работы по плате:
                br
                span.content-list--gray замена микросхем, реболлинг BGA-чипов, замена и восстановление разъемов.
          .col-sm-3
            ul.content-list
              li Комплексный ремонт после попадания воды.
          .col-sm-3
            ul.content-list
              li
                | Работа с ПО:
                br
                span.content-list--gray прошивка, восстановление системы, сброс пароля.
    br
    br