extends ../../layout

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 7') Ремонт iPhone 7
      h2(title="Цены на Ремонт айфона 7 в Киеве") Цены на Ремонт iPhone 7 в Киеве
      .row
        .col-xs-12.col-sm-10
          include ../../templates/price-table
        .col-xs-12.col-sm-2
          img.sub-header__img(src='../img/iphone/iphone7nav.jpg', alt='Ремонт iPhone 7')

    h2(title='Ремонтируем iPhone 7: шоп-лист поломок') Ремонтируем iPhone 7: шоп-лист поломок
    p
      | Фанаты продукции Apple с нетерпением ожидали выхода нового iPhone седьмого поколения. Ожидания оправдались — 7 сентября 2016 года айфон 7 впервые представлен публике и на данный момент занимает лидирующие позиции на рынке мобильных телефонов.
    h2(title='Чем покоряет iPhone 7?') Чем покоряет iPhone 7?
    p
      | Новый «яблочный» девайс  оснащен новым мощным процессором А10 Fusion, практичными и мощными стереодинамиками и Retina-дисплеем в 4,7 дюймов. Эта модель не разочарует любителей высокоскоростных гаджетов.
    p
      | Прочный алюминиевый корпус смартфона отличается компактными размерами и влагозащитными характеристиками. Кстати, это первый айфон с самым высоким уровнем влагоустойчивости по сравнению с предыдущими моделями. В остальном дизайн айфон 7 практически повторяет стиль айфон шестого поколения: выглядит таким же модным и привлекательным.
    h2(title='Почему айфон 7 нужен ремонт?') Почему айфон 7 нужен ремонт?
    p
      | В процессе использования смартфона могут возникнуть неприятные ситуации. Например, вы случайно уронили своего помощника на кафель или тротуарную плитку, перевернули чашку кофе на стол, где лежит мобильник, или телефон выпал из кармана в снег.
    p
      | Помимо косметических дефектов на экране и корпусе, гаджет может познакомиться с более серьезными поломками. Например, может выйти из строя камера, тачскрин или программное обеспечение.
    p
      | Если ваш телефон некорректно работает, приносите его в «Service-iphone». Ремонт iPhone 7 в Киеве пройдет быстро и бюджетно. Наши специалисты предлагают бесплатную диагностику устройства, по результатам которой подбирается необходимый вид ремонта с заменой поврежденных деталей на оригинальные.
    h2(title='Замена стекла iPhone 7 в Киеве') Замена стекла iPhone 7 в Киеве
    p
      | Чаще всего стекло получает повреждение после падения мобильника или сильного удара по корпусу. Трещины и царапины не украшают модный гаджет. Выход из строя звуковых устройств и других внутренних деталей — дело рук этих изъянов, через которые внутрь конструкции проникает вода и пыль.
    p
      strong(title='Замена дисплея iPhone 7 в Киеве') Замена дисплея iPhone 7 в Киеве
      |  предполагает установку нового экрана. Если мастер выявит, что вместе со стеклом поврежден тачскрин, потребуется установка нового дисплейного модуля. Только в этом случае можно вернуть сенсору прежнюю работоспособность и восстановить реакцию на нажатия.
    p
      | Сенсор 3D Touch в 7 модели айфон дает возможность использовать две базовые силы нажатия для более комфортного управления девайсом: более слабую Peek и более сильную Pop.
    h3 Ремонт звуковых устройств
    p
      | Частичное или полное отсутствие звука — проблема, которая возникает в результате повышенной влажности в помещении, падения гаджета или вследствие отсутствия защитного аксессуара. Динамик или микрофон первыми могут пострадать, например, из-за дождя, под который вы попали.
    p
      | Чтобы вернуть звук, нужно протестировать все звуковые устройства. Нередко причиной его исчезновения становится чрезмерное скопление пыли на звуковой плате. Специалист прочистит устройство и вернет вам гаджет уже в день обращения.
    h3 Проблемы с аккумулятором
    p
      | Если вы столкнулись с тем, что батарея быстро садиться после подзарядки, возможно, дело в попадании воды внутрь конструкции или падении телефона. Слабое «сердце» смартфона говорит о необходимости его замены.
    p
      | Лучше всего доверить эту работу профессионалу, который аккуратно разберет девайс и заменит аккумулятор.
    p
      | Иногда батарея не держит зарядку вследствие физического износа. Айфон 7 выполняет множество функций и способен работать без перерыва 24 часа в сутки. В таком режиме работы батарея действительно быстро изнашивается и требует замены.
    h3 Наладка программного обеспечения
    p
      | Сбои в работе системы айфон 7 могут возникнуть по разным причинам. К самым распространенным принадлежат перегрузка системы множеством приложений с большим весом, использование нелицензионных программ, а также различные повреждения телефона вследствие падений и ударов мобильника.
    p
      | Чтобы исправить ситуацию понадобится перепрошивка или другие восстановительно-наладочные работы с программным обеспечением. В «Service-iphone» вы получите скорую помощь в решении любых проблем с телефоном, которые касаются скорости и качества запуска системы.
    h3 Исправление неполадок при запуске беспроводных сетей
    p
      | Если гаджет не позволяет подключиться к Wi-Fi, установить вайбер или выйти в скайп, специалист поможет снова установить быстрое подключение к сети Интернет. Такие проблемы могут возникать по разным причинам, например, вследствие сбоя автоматических настроек, из-за падения телефона.
    p
      strong(title='Ремонт айфон 7 в Киеве в «Service-iphone»') Ремонт айфон 7 в Киеве в «Service-iphone»
      |  проходит оперативно и качественно. Вы можете обратиться за помощью к нашим мастерам при любой некорректной работе своего мобильника.
    p
      | На каждый вид работ мы даем гарантию. Можете быть уверены в профессиональном подходе специалистов к любой проблеме, возникающей в вашем айфон.
    p Звоните и получите бесплатную консультацию.
    p Приходите и уже завтра мобильник будет работать на 100%!


