extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center(itemscope, itemtype='http://schema.org/Product')
          img.sub-header__img(src='../img/iphone/iphone4s.jpg', alt='Ремонт iPhone 4s')
          div.raiting
            meta(itemprop='name', content='iPhone 4S')
            meta(itemprop='description', content=description)
            meta(itemprop='url', content='http://service-iphone/remont-iphone4s')
          .raiting__value(itemprop='aggregateRating', itemtype='http://schema.org/AggregateRating')
            span.raiting__stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              //i.fa.fa-star-o
            span.raiting-text
              span.raiting__score(itemprop="ratingValue") 5
              | &nbsp;(голосов&nbsp;
              span.raiting__count(itemprop="reviewCount") 18
              | )
        .col-sm-4
          h1(title='Быстрый Ремонт iPhone 4s в Киеве') Ремонт iPhone 4s
          p Услуги и цены
        .col-sm-6
          p
            strong Повредить смартфон
            | &nbsp; можно случайным образом, находясь дома, на работе и даже на отдыхе.
            | Падение телефона на твердую поверхность может вызвать проблемы с микрофоном, динамиком и
            | программным обеспечением. Как найти недорогой и качественный ремонтный сервис?
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 4s
      h3.pricelist__heading Основное
      include ../../templates/price-table

  .container
    .row
      .col-xs-12
        h2 Преимущества iPhone 4s:
        ul.ml20
          li  возможность работать в UMTS, CDMA и GSM-сетях;
          li  наличие круглых клавиш для управления громкостью и режимами;
          li  встроенный слот для SIM-карты в формате «микро»;
          li  3,5” IPS-матрица, разрешение 960 х 640;
          li голосовое управление Siri, голосовой ввод при написании текста, функция iMessage;
          li  фронтальная камера для видеовызова;
          li  синхронизация с iTunes по Wi-Fi.
        p
          | Если вы выбрали этот гаджет — сразу оцените его удобство и функциональность. Но что делать, если понадобится &nbsp;
          strong ремонт айфона 4s
          | ?
        h2 Ремонт iphone 4s
        p
          strong Service-iphone
          | — качественный сервис по ремонту техники Apple любой сложности, включая и
          | iphone 4S. Опытные специалисты устранят даже самые сильные повреждения на &nbsp;
          a(href='/ipad-remont') iPad
          | , &nbsp;
          a(href='/') iPod
          | , &nbsp;
          a(href='/remont-macbook') MacBook
          | &nbsp; или &nbsp;
          a(rel='nofollow', href='/remont-macbook') iMac
          | , а также смартфонах iphone любого поколения. Можете не переживать об утрате
          | работоспособности своего мобильного любимчика — мы быстро вернем ему первоначальную
          | привлекательность и приведем в рабочее состояние.
        p
          | Наш сервис выполнит &nbsp;
          strong ремонт iphone 4s в Киеве
          | &nbsp; быстро и качественно, применяя оригинальные
          | запчасти для вашего модного девайса. Это залог длительной работы вашего девайса.
        p Обращайтесь прямо сейчас, если вашему телефону нужна:
        ul.ml20
          li замена экрана iphone 4S, задней крышки;
          li реабилитация после попадания жидкости в открытые разъемы, внутрь корпуса;
          li восстановительная программа по налаживанию программного обеспечения.
        p
          | Также мы поможем, если у вас:
        ul.ml20
          li отсутствует реакция на сенсорное прикосновение;
          li не работает Wi-Fi, камера, звук, кнопка или микрофон;
          li на панели появилась некрасивая трещина, царапина.
        h3
          | Гарантийный ремонт экрана iphone 4S и других деталей телефона
        p
          | В Service-iphone вы получаете полный комплекс ремонтных услуг без предварительной записи.
          | Все, что нужно — принести девайс и довериться рукам опытных профессионалов. Удобная доставка
          | отремонтированного смартфона прямо в офис порадует даже тех, кто очень занят. Наш курьер быстро
          | вернет незаменимое устройство связи и вы сможете вернуться к текущим делам, не выбиваясь из
          | привычного графика.
        p
          | Помните: &nbsp;
          strong качественный ремонт iphone 4s
          | &nbsp; —
          a(href='/razbilos-steklo-iphone') замена стекла
          | , &nbsp;
          a(href='/ne-rabotaet-zvuk-na-iphone') динамика
          | , &nbsp;
          a(href='/iphone-ne-rabotaet-mikrofon') микрофона
          | , камеры и прочих запчастей, которые износились или сильно повреждены.
        p
          | В Service-iphone вы получаете не косметический, а полноценный ремонт с гарантией, который
          | избавит от проблем во время эксплуатации устройства.
        p
          | Например, &nbsp;
          strong замена заднего стекла iphone 4S
          | &nbsp; — шанс избавиться от трещины или скола,
          | возвращая мобильнику первоначальный вид, как в день покупки. В данном случае, склеить трещину — не выход.
          | Рано или поздно в отверстие просочиться пыль и грязь, что заставит обратиться в &nbsp;
          a(href='/') ремонтный сервис
          | .
          | Однако стоимость такого ремонта будет значительно дороже, ведь уже повреждены и внутренние запчасти. Экономьте сейчас — &nbsp;
          strong замена задней крышки iphone 4S
          | &nbsp; обойдется гораздо
          | дешевле!
        p
          | В Service-iphone предусмотрена возможность бесплатной консультации, которая поможет вам понять, в чем заключается причина поломки.
        p Приходите к нам — наши цены приятно удивляют!
        ul
          li: a(href='/razbilos-steklo-iphone', title='Замена стекла iphone 4s') Замена стекла iPhone
          li: a(href='/ne-rabotaet-displey-iphone', title='Замена touchscreen iPhone 4s') Замена touchscreen iPhone
          li: a(href='/iphone-ne-vklyuchaetsya', title='Замена аккумулятора iPhone 4s') Замена аккумулятора iPhone
        br
        br
