extends ../../layout
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/remont-iphone4.jpg', alt='Ремонт iPhone 4 Киев')
          div.raiting(itemscope, itemtype='http://schema.org/Product')
          meta(itemprop='name', content='iPhone 4')
          meta(itemprop='description', content=description)
          meta(itemprop='url', content='http://service-iphone/remont-iphone3g')
          div(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
            meta(itemprop='worstRating', content='1')
            meta(itemprop='bestRating', content='5')
            meta(itemprop='ratingValue', content='5')
            meta(itemprop='ratingCount', content='9')
          .raiting__value
            span.raiting__stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              //i.fa.fa-star-o
            span.raiting-text
              span.raiting__score 5
              | &nbsp;(голосов&nbsp;
              span.raiting__count 9
              | )
        .col-sm-4
          h1(title='Качественный ремонт iPhone 4 в Киеве') Ремонт iPhone 4
        .col-sm-6
      .sub-header__description
        | На данный момент iPhone 4 — это самая популярная модель телефона фирмы Apple.
        | Наши мастера с радостью выполнят любой &nbsp;
        strong ремонт iPhone 4
        | . Мы даем гарантию на 6 месяцев, быстро
        | производим ремонтные работы, используем оригинальные запчасти.
        p
          | iPhone 4 по праву считается одним из лучших творений компании Apple и является одной из
          | самых покупаемых моделей, завоевавших популярность у потребителей. Однако с его выпуском гарантийные ремонты и
          | замены телефонов значительно участились. Это связано, прежде всего, со сложностью конструкции аппарата и его
          | необычным внешним видом, который привлекает покупателей, однако впоследствии не оправдывает ожиданий. Дело в
          | том, что корпус телефона выполнен из стекла которое легко бьется. Кроме того, &nbsp;
          a(href='http://service-iphone.com.ua/voda-iphone') iPhone 4 выходит из строя от попадания воды
          | , да и от заводского брака никто не может быть застрахован.
        p
          | С момента появления Айфон 4 в продаже наша компания занимается его ремонтом, и мастера могут с уверенностью
          | назвать себя специалистами в этом деле. Самые распространенные неполадки аппарата – &nbsp;
          a(href='/razbilos-steklo-iphone', title='Что делать если разбилось стекло iPhone?') разбитые стекла
          | &nbsp; и &nbsp;
          a(href='/ne-rabotaet-zvuk-na-iphone', title='Не работает звук на iphone') пропадание звука
          | , когда
          | собеседник не слышит вас или вы не понимаете его. Кроме того, стало не редкостью повреждение телефона водой.
          | Все эти проблемы требуют скорейшего обращения в сервис, особенно это касается случаев, когда аппарат подвергся
          | воздействию жидкости: упал в воду или попал под дождь. Чем быстрее будет произведен ремонт в этом случае, тем
          | с большей уверенностью можно гарантировать скорейшее восстановление его функций.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 4
      
      
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика
            time.pricelist__item__time от 15 мин.
          .col-md-2
            .pricelist__item__cost бесплатно
          .col-md-7
            .pricelist__item__description
              | Мы проводим диагностику айфон4 совершенно бесплатно! Во время диагностики мы выявим причину неполадки и сможем сказать, что именно нужно чинить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена стекла (отдельно)
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost 649 грн.
          .col-md-7
            .pricelist__item__description
              | Уронили и разбили стекло на айфон4. Мы ставим на Ваш выбор копию или оригинальное стекло с олеофобным покрытием и по самым низким ценам.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена экрана и дисплея (модулем)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 749 грн.
          .col-md-7
            .pricelist__item__description
              | Дисплей перестал показывать изображение? Или имеются искажения, полосы и другие неисправности?. Мы ставим только оригинальный дисплейный модуль и делаем замену стекла iphone 4 по самым низким ценам.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 549 грн.
          .col-md-7
            .pricelist__item__description
              | Замена корпуса iphone 4 повреждается при  сильных падениях или под колесами автомобиля мы сможем его заменить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена задней крышки
            time.pricelist__item__time 5 мин.
          .col-md-2
            .pricelist__item__cost 199 грн.
          .col-md-7
            .pricelist__item__description
              | Крышка apple iphone 4 может царапаться,появиться трещины от падения. Обращайтесь к нам в сервис, замена задней крышки iphone 4

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 150 грн.
          .col-md-7
            .pricelist__item__description
              | Прошивка может потребоваться, если iphone 4 зависает, глючит или если вы неудачно обновились.

      h3.pricelist__heading Кнопки
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost 199 грн.
          .col-md-7
            .pricelist__item__description
              | Чаще всего кнопка Home выходит из строя из-за неправильного обращения или попадания воды и грязи. Обычно при этом достаточно заменить её шлейф.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Рычажок вибрации может выйти из строя и тогда вы не сможете включить или выключить беззвучный режим на iphone 4.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Кнопка включения не нажимается? Это часто приводит к проблеме, что вы не можете включить iPhone 4 . Мы заменим кнопку Power на iPhone 4 в кратчайшие сроки.

      h3.pricelist__heading Комплектующие
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Если вдруг у вас пропал звук в iphone 4, а именно: нет звука на громкой связи, нет звука в играх, нет звука звонка, - то нужно проверить и заменить нижний (полифонический) динамик.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 299 грн.
          .col-md-7
            .pricelist__item__description
              | Вас не слышит собеседник? Или, может быть, при записи видео не пишется звук? Скорее всего дело в микрофоне iPhone 4 и может потребоваться его замена.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена разговорного динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 279 грн.
          .col-md-7
            .pricelist__item__description
              | Верхний (слуховой) динамик в iphone 4 используется только в разговоре, поэтому, если вы не слышите собеседника, то, скорее всего, нужно заменить верхний динамик.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 5 мин.
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Ваш аккумулятор все чаще приходится заряжать и он быстрее садится? Новый аккумулятор решит все проблемы!

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена вибро-мотора
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 199 грн.
          .col-md-7
            .pricelist__item__description
              | Вибромотор от падений может начать барахлить, звенеть или вообще перестать работать. Его замена на телефоне: айфон 4 занимает довольно мало времени.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 10 мин.
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description
              | Задняя камера iPhone 4 может выдавать плохое изображение или вообще не запускаться, в этом случае, мы заменим её на новую.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена датчиков освещения и приближения
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Этот датчик выключает экран iPhone 4, когда вы прикладываете аппарат к уху во время разговора и не дает случайно нажиматься кнопкам.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт модуля Wi-Fi
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 899 грн.
          .col-md-7
            .pricelist__item__description
              | Требуется провести замену модуля на айфон 4, если переключатель Wi-Fi стал серого цвета.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена модемной части аппарата
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 899 грн.
          .col-md-7
            .pricelist__item__description Телефон постояно ищет сеть.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Невозможность убавить или прибавить звук на айфон 4, приводит к тому, что вы не слышите звука при исправном динамике. Достаточно просто заменить кнопки громкости iPhone 4 и все заработает.

      h3.pricelist__heading Шлейфы
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 249 грн.
          .col-md-7
            .pricelist__item__description
              | Самая главная кнопка в телефоне iPhone 4 – это кнопка Home, которая находится под дисплеем. Она чаще других ломается и при ремонте необходимо менять данный шлейф.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена верхнего шлейфа
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Обычно, замена верхнего шлейфа необходима, если не работает работает кнопка включения или при неполадках с датчиком света. Вы можете отдать iphone 4 на ремонт

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена разъёма синхронизации и зарядки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 299 грн.
          .col-md-7
            .pricelist__item__description
              | Проблемы связанные с зарядкой или подключением к компьютеру iPhone 4 чаще всего решаются заменой нижнего шлейфа.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена разъёма для наушников (аудиоджека)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 349 грн.
          .col-md-7
            .pricelist__item__description
              | Если в iPhone 4 не работает разъем наушником или не нажимаются кнопки громкости, то необходимо проверить аудиошлейф.



      h3.pricelist__heading Другое
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена мат. платы 16 Gb
            time.pricelist__item__time 45 мин.
          .col-md-2
            .pricelist__item__cost Уточняйте цену и наличие
          .col-md-7
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена микросхемы Wi-Fi
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 899 грн.
          .col-md-7
            .pricelist__item__description Требуется провести замену модуля, если переключатель Wi-Fi стал серого цвета.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Пайка разъема SIM
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost от 199 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 50 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы заняти, нет времени отдать на ремонт iphone 4, курьер с радостью доставит Вам его по адресу.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost бесплатно
          .col-md-7
            .pricelist__item__description
              | Вы спешите, и нет времени заехать в сервис, тогда наш курьер сможет забрать iPhone 4 и привести на диагностику.




  .container
    .mb20.content-text
      .row
        .col-xs-12
          p
            | Наша Киевская компания занимается ремонтом айфона 4 на профессиональном уровне. Опытные инженеры быстро
            | найдут и исправят возникшую проблему, так как они могут с точностью определить поломку и эффективно устранить
            | ее за короткое время.
          p
            | При ремонте
            strong iphon 4
            | &nbsp; используются оригинальные запчасти, поэтому они служат длительное время, не уступая по
            | качеству испорченным заводским. Наши поставщики работают напрямую с заводами-производителями и гарантируют
            | качество запчастей, которое не идет в сравнение с деталями, используемыми во многих других сервисах. Как
            | правило, конкурирующие компании закупают запчасти, производимые в Киеве и не являющиеся оригинальными.
          p
            | Итак, самые частые проблемы, с которыми обладатели телефона iPhone 4 обращаются в наш сервис:
          h3 Замена стекла iPhone 4, замена экрана
          p
            strong
              a(href='/ne-rabotaet-displey-iphone') Замена дисплея
              | &nbsp; iPhone 4
            | , покрывающего всю переднюю поверхность телефона и никак не защищенного. При падении
            | стекло часто бьется. В этом случае приходится заменять не только дисплей, но и тачскрин, так как в устройстве
            | они представлены единым модулем;
          h3 Замена заднего стекла iPhone 4
          p
            | Замена заднего стекла, которое также достаточно хрупкое и страдает при падениях. Специалисты нашего сервиса
            | заменят стекло телефона iphone 4 и 4S буквально за несколько минут, прямо на глазах клиента;
          p
            | устранение неполадок, связанных с проникновением в устройство влаги. Часто владельцы iPhone 4 забывают, что
            | он абсолютно не защищен от попадания воды и разговаривают по телефону в дождь. Это быстро выводит аппарат из
            | строя.
          p
            | Как передний экран, так и задняя крышка в нашей компании представлены в виде оригинальных запчастей, схожих с
            | теми, которые до этого находились в телефоне. Многие люди предпочитают не менять заднюю стенку, заклеивая ее
            | скотчем, от чего страдает внешний вид телефона. А ведь осуществить замену можно буквально за пару минут,
            | потратив при этом незначительную сумму. Зато потом не придется прятать свой недавно купленный телефон, скрывая
            | разбитый корпус.

          p В наш сервисный центр чаще всего обращаються со следующими вопросами:
          ul
            li: a(href='/razbilos-steklo-iphone', title='Замена стекла iphone 4') Замена стекла iPhone
            li: a(href='/ne-rabotaet-displey-iphone', title='Замена дисплея iPhone 4') Замена дисплея iPhone
            li: a(href='/iphone-ne-vklyuchaetsya', title='Замена батареи iPhone 4') Замена батареи iPhone
            li Рекомендуем вам ознакомиться с ценами на &nbsp;
              a(href='/remont-iphone4s') ремонт iPhone 4s
