extends ../../layout

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 6s Plus') Ремонт iPhone 6s Plus
      h2(title="Цены на Ремонт айфона 6s Plus в Киеве") Цены на Ремонт iPhone 6s Plus в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='remont-iphone-6s-plus.jpg', alt='Ремонт iPhone 6S Plus', srcset="/img/iphone/remont-iphone-6s-plus.jpg 1x, /img/iphone/retina/remont-iphone-6s-plus.jpg 2x")

    h2(title='Ремонт 6s+ в «Service iPhone»') Ремонт 6s+ в «Service iPhone»
    p Красивый айфон 6s+ — лучший смартфон среди яблочной линейки, который оснащен функциональной камерой, беспроводной сетью и большой диагональю экрана. Этот девайс радует прочным корпусом и стильным дизайном. Однако вследствие удара по задней крышке или экрану, из-за падения телефона с высоты или в результате неосторожного обращения с устройством отдельные составляющие конструкции могут некорректно работать, получить серьезные повреждения.
    p
      | Заказать качественный&nbsp;
      a(href='/', title='ремонт iPhone в Киеве') ремонт iPhone в Киеве
      |  вы можете в ремонтном центре «Service iPhone». Наши специалисты помогут заменить поврежденную деталь на новую и восстановить работоспособность гаджета.  Бесплатная диагностика мобилки поможет определить все неисправности и «слабые» места. Мастер быстро подскажет правильный и бюджетный вариант ремонта и поможет даже в день обращения.
    h2(title='Ремонт айфон 6s+ Киеве: цена вопроса') Ремонт айфон 6s+ Киеве: цена вопроса
    p Стоимость ремонта «яблочной» продукции — дорогое удовольствие. При повреждениях отдельных составляющих смартфона требуется замена неисправных запчастей только на оригинальные детали. В «Service iPhone» наши специалисты помогут отремонтировать девайс быстро и качественно.
    p
      | Например, если разбилось стекло, а дисплей не поврежден, достаточно заменить экран.&nbsp;
      strong(title='Замена стекла iPhone 6s+ в Киеве') Замена стекла iPhone 6s+ в Киеве
      |  в нашем ремонтном центре выполняется уже в день обращения. Мастер аккуратно снимет экран при помощи потока горячего воздуха и установит новое стекло. Когда поврежден тачскрин нужно заменить весь дисплейный модуль. Только такой ремонт поможет восстановить работу сенсора и вернуть телефону реакцию на нажатия.
    h3 В «Service iPhone» вы сможете обратиться, если:
    ul
      li не работает динамик, периодически пропадает звук, вышел из строя микрофон;
      li сломался разъем для зарядки или подключения гарнитуры;
      li сбоит программное обеспечение;
      li на корпусе есть царапины и сколы;
      li
        | необходима&nbsp;
        strong(title='замена дисплея iPhone 6s+') замена дисплея iPhone 6s+
        | .
    p В  Киеве вы получите скорый ремонт своего айфон с гарантией на любой вид работы. Специалист поможет заменить даже аккумулятор, если он не держит заряд энергии. Чаще всего проблема слабой батареи кроется в физическом износе, попадании внутрь конструкции влаги, сильном ударе по корпусу мобилки. Своевременная замена батареи поможет восстановить работоспособность вашего телефона уже завтра.
    p Обращайтесь в «Service iPhone» и доверьте ремонт своего айфон настоящим профессионалам!
