extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 5c'})
  script(type="application/ld+json").
    {
    "@context": "http://schema.org",
    "@type": "Product",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.7",
      "reviewCount": "17"
    },
    "name": "iPhone 5c"
    }

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 5C Киев') Ремонт iPhone 5C
      h2(title="Цены на Ремонт айфона 5с в Киеве") Цены на Ремонт iPhone 5с в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='/img/iphone/remont-iphone-5c.jpg', alt='Картинка:Киев ремонт iPhone 5C', srcset="/img/iphone/remont-iphone-5c.jpg 1x, /img/iphone/retina/remont-iphone-5c.jpg 2x", title="Ремонт iPhone 5c в Сервисном центре Apple в Киеве")
    .mb20.content-text
      .row
        .col-sm-12
          p
            | Вот уже не один год наша компания Service Iphone занимается ремонтом техники
            | исключительно производства компании Apple. За этот срок мы
            | тщательно изучили наиболее частые поломки каждой из моделей и нашли индивидуальный подход к устранению любых
            | неполадок. Ремонт устройств мы производим в сжатые сроки, что никак не отражается на качестве. С уверенностью
            | можно говорить о том, что нам под силу устранить неполадки самых разных моделей, в том числе и только что
            | выпущенных.
          p
            | Ремонт iPhone 5С в нашей компании выполняют профессионалы буквально на ваших глазах с использованием
            | оригинальных запчастей высокого качества. Вы обладатель модели iPhone 5С, которую нужно срочно восстановить?
            | Тогда вам точно к нам! iPhone 5С на рынке появился не так давно, но мы уже десятки раз сталкивались с ремонтом
            | этой модели, изучив все нюансы работы с ней. Процесс восстановления устройства за этот короткий срок полностью
            | отлажен, что еще раз говорит о профессионализме наших мастеров. К нам не нужно записываться и долго ждать.
            | Самое главное – нам не нужно много платить! Вы платите лишь за запчасти и работу, не переплачивая ни копейки
            | сверху!
          p
            | Кроме того, обратившись по поводу ремонта iPhone 5С, вы получите бесплатную диагностику телефона в качестве
            | бонуса. Обращайтесь в любое удобное для вас время.
            |  Благодаря профессионализму наших мастеров, ваш iPhone 5С вернется в строй очень быстро!

          p Рекомендуем Вам ознакомиться с ценами на ремонт iPhone 5с он имеет схожие технические характеристики с iPhone 5s.
          p.cf
            span.pull-left
              i.fa.fa-arrow-left
              | &nbsp;&nbsp;
              a(href="/remont-iphone5") Цены в СЦ Apple на ремонт iPhone 5
            span.pull-right
              a(href="/remont-iphone-se") Цены на ремонт iPhone SE
              | &nbsp;&nbsp;
              i.fa.fa-arrow-right

