extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center(itemscope, itemtype='http://schema.org/Product')
          img.sub-header__img(src='../img/iphone/iphone6plus.jpg', alt='Ремонт iPhone 6S')
          div.raiting
            meta(itemprop='name', content='iPhone 6S')
            meta(itemprop='description', content=description)
            meta(itemprop='url', content='http://service-iphone/remont-iphone-6s')
          .raiting__value(itemprop='aggregateRating', itemtype='http://schema.org/AggregateRating')
            span.raiting__stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-half-o
              //i.fa.fa-star-o
            span.raiting-text
              span.raiting__score(itemprop="ratingValue") 5
              | &nbsp;(голосов&nbsp;
              span.raiting__count(itemprop="reviewCount") 7
              | )
        .col-xs-12.col-sm-10
          h1(title='Ремонт iPhone 6S') Цены на Ремонт iPhone 6S
  .container
    section.repear
      h2.pricelist__heading Основное
      include ../../templates/price-table

    h2(title='Ремонт 6s+ c гарантией: где заказать') Ремонт 6s+ c гарантией
    p  Бывают ситуации, когда телефон случайно падает со стола или выскальзывает из рук. В этом случае дисплей и корпус получают не только косметические дефекты в виде царапин или сколов, но и серьезные внутренние повреждения, которые не видны визуально. Например, из строя может выйти камера, звуковая или системная плата, а также динамик.
    p
      | Заказать качественный &nbsp;
      a(href='http://service-iphone.com.ua/iphone', title='ремонт iphone 6s+в Киеве') ремонт iphone 6s+в Киеве
      |  в день обращения вы можете в ремонтном центре «Service iPhone». Наши специалисты помогут восстановить функционал вашего телефона и его привлекательный вид. Бесплатная диагностика позволит определить все неисправности и найти наиболее бюджетные варианты их устранения.
    h2(title='Какой ремонт выполняют в «Service iPhone»?') Какой ремонт выполняют в «Service iPhone»?
    p
      | Чаще всего пользователи обращаются в случае, если нужна&nbsp;
      a(href='/remont-iphone-6s/zamena-stekla', title='замена стекла iPhone 6s+') замена стекла iPhone 6s+
      | . Это происходит после появления сколов и трещин на дисплее, вследствие чего может выйти из строя даже тачскрин.
      strong(title='Замена дисплея iPhone 6s+') Замена дисплея iPhone 6s+
      |  поможет вернуть смартфону красоту и работоспособность сенсора.
    p  Распространенной проблемой является физический износ батареи. Замена аккумулятора требует участия специалиста равносильно, как и замена аудиокодека или динамика. Не пытайтесь самостоятельно заменить батарею. Чтобы разобрать гаджет, нужны специальные инструменты и знания. В «Service iPhone» опытные мастера вдохнут жизнь в ваш мобильник даже в срочном порядке.
    p  Если отсутствует или частично пропадает звук, нужно протестировать звуковые устройства. Иногда такая неисправность всего лишь следствие скопления пыли на звуковой плате. При помощи специальных приспособлений мастер очистит ее от загрязнений.
    p  В нашем ремонтном центре в Киеве вы сможете получить квалифицированную помощь от профессионалов, если ваш айфон не включается, сбоит при воспроизведении аудио- и видеофайлов или не отвечает на нажатия.
    p  На каждый вид ремонта мы предоставляем гарантию. Вы сможете быть уверенными в качестве проделанной работы по восстановлению работоспособности мобилки.  Замена поврежденных деталей выполняется с использованием «родных» запчастей.  Это гарантия бесперебойной работы вашей мобилки после ремонта.
    p  Неродные запчасти, установленные в айфон, приведут к сбоям телефона уже в первые дни после того, как вы забрали мобильник из ремонтного центра. Лучше не экономить и довериться опыту тех, кто знает, как работает» яблочная» техника.
    p Приходите уже сегодня и убедитесь сами!
