extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone5c.jpg', alt='Киев ремонт iPhone 5C')
        .col-sm-4
          h1(title='Ремонт iPhone 5C Киев') Ремонт iPhone 5C
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        | Наша команда предлагает &nbsp;
        strong профессиональный ремонт iPhone 5c
        | &nbsp; на
        | самых выгодных условиях в Киеве. Мы предлагаем не только ремонт с гарантией качества, но и отличный сервис!
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 5c
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time 20 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description Диагностика бесплатна даже при отказе от ремонта.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost от 250 грн.
          .col-md-4
            .pricelist__item__description При ремонте iphone 5c после воды, мы сразу проводим чистку и диагностику.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы забыли пароль блокировки iPhone 5C Вам потребуется прошивка с потерей информации.

      h3.pricelist__heading Корпус
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла и дисплея (модулем)
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 1500 грн.
          .col-md-4
            .pricelist__item__description Дисплейный модуль меняется, если не работает дисплей или разбито стекло.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла, сенсора
            time.pricelist__item__time от 2 часов.
          .col-md-3
            .pricelist__item__cost 800 грн.
          .col-md-4
            .pricelist__item__description Установка оригинального дисплейного модуля с олеофобным покрытием.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 1300 грн.
          .col-md-4
            .pricelist__item__description
              | Пластиковый корпус iPhone 5С может сломаться от падения или очень сильно поцарапаться.

      h3.pricelist__heading Кнопки
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 200 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас через раз срабатывает кнопка Home или залипает, то наши мастера в кратчайшие сроки устранят эту проблему.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 25 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Если на iPhone 5С невозможно выключить или включить беззвучный режим, то нужно поменять переключатель вибро.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас не работают или залипают кнопки громкости, наши мастера с радостью исправят данную проблему, починив кнопки громкости сделав качественный ремонт iphone 5c.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Кнопка включения не нажимается? Это часто приводит к проблеме, что вы не можете включить iPhone 5С. Мы заменим кнопку Power на iPhone в кратчайшие сроки.

      h3.pricelist__heading Комплектующие
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 25 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Нижний динамик отвечает за исходящие звуки: во время звонка, в играх, при воспроизведении музыки.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 25 мин.
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description Если Вас не слышат, значит скорее всего проблема в нижнем микрофоне.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена разговорного динамика
            time.pricelist__item__time 25 мин.
          .col-md-3
            .pricelist__item__cost 300 грн.
          .col-md-4
            .pricelist__item__description Если Вы не слышите собеседника, значит скорее всего проблема в верхнем динамике.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description Если у Вас iPhone 5C быстро разряжается, вероятно проблема в аккумуляторе.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена вибро-мотора
            time.pricelist__item__time 25 мин.
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description
              | Если iPhone 5C перестал вибрировать, возможно вышел из строя вибро-мотор или кнопка вибрации.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 15 мин.
          .col-md-3
            .pricelist__item__cost 450 грн.
          .col-md-4
            .pricelist__item__description
              | При проблемах с задней камерой iPhone 5С, таких как низкое качество изображение или его отсутствие, следует заменить камеру.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description
              | При проблемах с фронтальной камерой iPhone 5С, таких как низкое качество изображение или его отсутствие, следует заменить камеру.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена датчиков света/затемнения
            time.pricelist__item__time 45 мин.
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description
              | Этот датчик выключает экран iPhone 5С, когда вы прикладываете аппарат к уху во время разговора и не дает случайно нажиматься кнопкам.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас плохой сигнал wi-fi, значит нужно заменить антенну, произвести ремонт iphone 5c.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны GSM
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description Если у Вас плохо ловит сотовая связь, возможно нужно заменить антенну GSM.

      h3.pricelist__heading Шлейфы
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description За работу кнопки Home отвечает шлейф кнопки Home

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена верхнего шлейфа
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Верхний шлейф iPhone 5С отвечает за работу кнопок громкости, включения, вибро и за запись звука при съемке видео

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена разъёма синхронизации и зарядки
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description
              | На нижнем шлейфе расположен разъем для зарядки и наушников, антенна GSM,а также нижний микрофон

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена разъёма для наушников (аудиоджека)
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description

      h3.pricelist__heading Другое
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена мат. платы 16 Gb
            time.pricelist__item__time 45 мин.
          .col-md-3
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-4
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена мат. платы 32 Gb
            time.pricelist__item__time 45 мин.
          .col-md-3
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-4
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost от 80 грн.
          .col-md-4
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 100 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPhone 5, наш курьер всегда с радостью Вам его доставит.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно.

  .container
    .mb20.content-text
      .row
        .col-sm-12
          p
            | Вот уже не один год наша компания Service Iphone занимается ремонтом техники
            | исключительно производства компании &nbsp;
            a(rel='nofollow', href='http://www.apple.com/') Apple
            | . За этот срок мы
            | тщательно изучили наиболее частые поломки каждой из моделей и нашли индивидуальный подход к устранению любых
            | неполадок. Ремонт устройств мы производим в сжатые сроки, что никак не отражается на качестве. С уверенностью
            | можно говорить о том, что нам под силу устранить неполадки самых разных моделей, в том числе и только что
            | выпущенных.
          p
            | Ремонт iPhone 5С в нашей компании выполняют профессионалы буквально на ваших глазах с использованием
            | оригинальных запчастей высокого качества. Вы обладатель модели iPhone 5С, которую нужно срочно восстановить?
            | Тогда вам точно к нам! iPhone 5С на рынке появился не так давно, но мы уже десятки раз сталкивались с ремонтом
            | этой модели, изучив все нюансы работы с ней. Процесс восстановления устройства за этот короткий срок полностью
            | отлажен, что еще раз говорит о профессионализме наших мастеров. К нам не нужно записываться и долго ждать.
            | Самое главное – нам не нужно много платить! Вы платите лишь за запчасти и работу, не переплачивая ни копейки
            | сверху!
          p
            | Кроме того, обратившись по поводу ремонта iPhone 5С, вы получите бесплатную диагностику телефона в качестве
            | бонуса. Обращайтесь в любое удобное для вас время, и в уютном офисе за чашкой ароматного кофе мы обсудим все
            | детали ремонта. Благодаря профессионализму наших мастеров, ваш iPhone 5С вернется в строй очень быстро!
