extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 3'})

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone3s.jpg', alt='Картинка:Ремонт iPhone 3GS в Киеве.', title="Ремонт iPhone 3gs в Сервисном центре Apple в Киеве")

        .col-sm-4
          h1(title='Ремонт iPhone 3G/3GS в Киеве.') Ремонт iPhone 3G/3GS
          p Услуги и цены
        .col-sm-6
      .sub-header__description

        | Сервисный центр Service Apple осуществляет &nbsp;
        strong ремонт iPhone 3G и 3GS
        |&nbsp; по самым низким ценам при любой сложности ремонта.
      section.repear
        h2.repear__title Цены на Ремонт iPhone 3G/3GS
        h3.pricelist__heading Основное
        include ../../templates/price-table

  .container
    .mb20.content-text
      .row
        .col-md-6.col-sm-12
          p
            | iPhone 3G является вторым по счету в линейке смартфонов от компании Аpple.
            | Через некоторый период времени на суд поклонников был выставлен его ближайший родственник iPhone 3GS. Несмотря
            | на то, что первый телефон (iPhone 2G), вышедший у флагмана по производству средств связи, был своеобразным
            | прорывом, именно iPhone 3G/3GS кардинально изменил ситуацию на рынке мобильных устройств, понизив рейтинги
            | конкурентов, или полностью вытеснив их из данного сегмента. Что касается качества смартфонов третьей серии,
            | представленных компанией Apple, то оно не вызывает нареканий. Конструкция корпуса у телефона достаточно прочная,
            | задняя крышка выполнена из пластика, который в отличие от &nbsp;
            a(href='/razbilos-steklo-iphone', title='Разбилось стекло iphone') стекла
            | &nbsp; менее
            | подвержен трещинам и сколам. Но если речь идет о ее замене, здесь не обойтись без услуг профессионалов, так как
            | на крышке смартфона закреплена его электронная «начинка».
        .col-md-6.col-sm-12
          p
            a(title='Ремонт iPhone', href='/') Ремонт iPhone
            | &nbsp; 3G/3GS необходимо проводить
            | очень внимательно и щепетильно. Это обусловлено особенностями его конструкции и внутреннего наполнения. Даже при
            | обычной &nbsp;
            a(href='/iphone-ne-zaryazhaetsya', title='Не заряжается iPhone?') замене аккумулятора
            | &nbsp; потребуется
            | разборка всего смартфона с применением специальных инструментов. Стоит обратить внимание и на то, что
            | пластиковый корпус данной модели телефона, в силу длительной эксплуатации, может поддаваться деформации и
            | нарушать работу деталей, находящихся внутри устройства.
      .col-xs-12
        p Смотрите так же цены на&nbsp;
          a(href='/remont-iphone4', title='ремонт iPhone 4 в Киеве') ремонт iPhone 4
          |.
