extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone6plus.jpg', alt='Ремонт iPhone 6 Plus')
        .col-sm-4
          h1(title='Ремонт iPhone 6 Plus') Ремонт iPhone 6 Plus.
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        p
          | Количество сервисных центров, предлагающих &nbsp;
          strong ремонт iPhone 6 Plus
          | , с каждым днем увеличивается, но вот качество их услуг вызывает большие сомнения. Поэтому для того,
          | чтобы не стать жертвой мошенников, не потерять не только деньги, но и свой смартфон, следует обращаться к
          | проверенным специалистам. Такими специалистами располагает сервисный центр проекта Service iPhone,
          | что делает наши услуги более доступными.
        p
          | Наш сервисный центр выполняет ремонт iPhone 6 Plus в Киеве на самом высоком качественном уровне. Высокая
          | квалификация и опыт наших мастеров позволяет ориентироваться в ситуации уже во время приема заказа и выполнять
          | срочный ремонт iPhone 6 Plus в самые короткие сроки, в некоторых случаях даже в присутствии клиента.
        p
          | Если у Вас перестал работать iPhone 6 Plus и вы обратились к специалистам Service iPhone, прежде чем приступать
          | к ремонту, они обязательно проведут бесплатную диагностику смартфона и в большинстве случаев уже на этом этапе
          | выявят причину неисправности. &nbsp;
          strong Диагностика iPhone 6 Plus
          | &nbsp; проводится с использованием лучших
          | наработок ведущих инженеров нашей компании и собранной годами статистики. Для того, чтобы выполнить ремонт
          | iPhone 6 Plus, мы используем только оригинальные запчасти и компоненты.
        p
          | Для того, чтобы выяснить, по какой причине не работает Айфон 6 Плюс, специалистам нашей компании нужно минимум
          | времени, но только после этого мастера приступают к ремонту. После замены поврежденных деталей проводится
          | тестирование устройства и проверяется его работоспособность. На отремонтированный смартфон предоставляется
          | гарантия, к которой прилагается акт выполненных работ, в нем указывается стоимость запасных частей и работ по их
          | замене. Мы работаем индивидуально с каждым клиентом и предлагаем услуги самого высокого качества. Если у вас не
          | работает iPhone 6 Plus и Вы обратитесь в наш центр, Вы получите полный спектр профессиональных услуг и
          | обязательно останетесь довольны качеством выполненных работ.
        p Стоимость ремонта iPhone 6 Plus вы можете узнать по телефонам сервис-центра.
 
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 6+ 
      h3.pricelist__heading Основное
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time 20 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description
              | Если проблема сразу не ясна, то для определения причины неисправности мы проводим диагностику.
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-3
            .pricelist__item__cost 200* грн.
          .col-md-4
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.	  
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас зависает iPhone 6 plus или вы забыли пароль блокировки, нужно будет прошить устройство.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла и дисплея(модуль)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 3600 грн.
          .col-md-4
            .pricelist__item__description Дисплейный модуль меняется, если не работает дисплей или разбито стекло.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 2500 грн.
          .col-md-4
            .pricelist__item__description Дисплейный модуль меняется, если не работает дисплей или разбито стекло.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 4000 грн.
          .col-md-4
            .pricelist__item__description Если у Вас гнутый корпус или много царапин, нужно будет заменить корпус.
       
      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description Время от времени кнопка Home начинает залипать или полностью выходит из строя.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Основные признаки неполадки кнопки вибрации iPhone 6 plus : невозможно отключить звук, кнопка расшаталась или запала, произвольно включается и отключается звук.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете убавить или прибавить звук, кнопка громкости залипает - это доставляет очень много неудобств при прослушивании аудио- или видео.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description Чаще всего выходит из строя кнопка включения у iPhone 6 plus.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | У Вас быстро разряжается iPhone 6 plus? Произвольно отключается? Скорее всего проблема в аккумуляторе.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена вибро-мотора
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Во время входящего звонка Вы не ощущаете Ваш iPhone 6 plus, значит Вам нужно заменить вибро-мотор.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 750 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 700 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена датчиков света/затемнения
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 700 грн.
          .col-md-4
            .pricelist__item__description
              | Если во время звонка Ваше ухо произвольно нажимает на кнопки и iPhone 6 plus не блокируется, значит проблема в датчике.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description Если у Вас плохо ловит wi-fi, Вам нужно заменить антенну.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны GSM
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description Если у Вас плохо ловит сотовая связь, скорее всего проблема в антенне.

      h3.pricelist__heading Шлейфы
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description За работу кнопки Home отвечает шлейф кнопки Home.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа включения
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Верхний шлейф iPhone 6 plus отвечает за работу кнопок громкости, включения, вибро и за запись звука при съемке видео.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа разьема синхронизации и зарядки
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | На нижнем шлейфе расположен разъем для зарядки и наушников, а также нижний микрофон.
       
      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost от 80 грн.
          .col-md-4
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 50 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPhone 5, наш курьер всегда с радостью Вам его доставит.
       
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно заберет Ваше устройство.