extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone6plus.jpg', alt='Ремонт iPhone 6 Plus')
          div.raiting(itemscope, itemtype='http://schema.org/Product')
          meta(itemprop='name', content='iPhone 6 plus')
          meta(itemprop='description', content=description)
          meta(itemprop='url', content='http://service-iphone/remont-iphone-6plus')
          div(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
            meta(itemprop='worstRating', content='1')
            meta(itemprop='bestRating', content='5')
            meta(itemprop='ratingValue', content='5')
            meta(itemprop='ratingCount', content='9')
          .raiting__value
            span.raiting__stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-half-o
              //i.fa.fa-star-o
            span.raiting-text
              span.raiting__score 5
              | &nbsp;(голосов&nbsp;
              span.raiting__count 9
              | )
        .col-sm-4
          h1(title='Ремонт iPhone 6 Plus') Ремонт iPhone 6 Plus.
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        p
          | Количество сервисных центров, предлагающих &nbsp;
          strong ремонт iPhone 6 Plus
          | , с каждым днем увеличивается, но вот качество их услуг вызывает большие сомнения. Поэтому для того,
          | чтобы не стать жертвой мошенников, не потерять не только деньги, но и свой смартфон, следует обращаться к
          | проверенным специалистам. Такими специалистами располагает сервисный центр проекта Service iPhone,
          | что делает наши услуги более доступными.
        p
          | Наш сервисный центр выполняет ремонт iPhone 6 Plus в Киеве на самом высоком качественном уровне. Высокая
          | квалификация и опыт наших мастеров позволяет ориентироваться в ситуации уже во время приема заказа и выполнять
          | срочный ремонт iPhone 6 Plus в самые короткие сроки, в некоторых случаях даже в присутствии клиента.
        p
          | Если у Вас перестал работать iPhone 6 Plus и вы обратились к специалистам Service iPhone, прежде чем приступать
          | к ремонту, они обязательно проведут бесплатную диагностику смартфона и в большинстве случаев уже на этом этапе
          | выявят причину неисправности. &nbsp;
          strong Диагностика iPhone 6 Plus
          | &nbsp; проводится с использованием лучших
          | наработок ведущих инженеров нашей компании и собранной годами статистики. Для того, чтобы выполнить ремонт
          | iPhone 6 Plus, мы используем только оригинальные запчасти и компоненты.
        p
          | Для того, чтобы выяснить, по какой причине не работает Айфон 6 Плюс, специалистам нашей компании нужно минимум
          | времени, но только после этого мастера приступают к ремонту. После замены поврежденных деталей проводится
          | тестирование устройства и проверяется его работоспособность. На отремонтированный смартфон предоставляется
          | гарантия, к которой прилагается акт выполненных работ, в нем указывается стоимость запасных частей и работ по их
          | замене. Мы работаем индивидуально с каждым клиентом и предлагаем услуги самого высокого качества. Если у вас не
          | работает iPhone 6 Plus и Вы обратитесь в наш центр, Вы получите полный спектр профессиональных услуг и
          | обязательно останетесь довольны качеством выполненных работ.
        p Стоимость ремонта iPhone 6 Plus вы можете узнать по телефонам сервис-центра.
 
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 6+ 
      h3.pricelist__heading Основное
      include ../../templates/price-table