extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone5s.jpg', alt='Недорогой ремонт iPhone 5S')
        .col-sm-4
          h1(title='Ремонт iPhone 5s в Киеве недорого!') Ремонт iPhone 5s
          p Услуги и цены
        .col-sm-6
      .sub-header__description.content-text
        p
          | Наш сервисный центр, это сочетание профессионалов, знающих свое
          | дело. Поэтому, сдавая в ремонт устройство, они чинят лишь то, что вам необходимо. Перед &nbsp;
          strong ремонтом iPhone 5S
          | &nbsp; он подвергается бесплатной диагностике для выявления причины поломки и скоротечного ее устранения.
          | После диагностики мы связывается с владельцем телефона и поясняем в чем причина поломки. А производить ремонт той
          | или иной неисправности: решаете исключительно вы. Например, если в телефон попала вода, и вспышка перестала
          | работать, а вы ею почти не пользуетесь, вам совсем не обязательно платить за ремонт. Кроме этого, даже если после
          | проведенной диагностики вы отказываетесь от ремонта мы не возьмем за проделанную работу ни копейки. Когда
          | возникает необходимость узнать в чем причина поломки вашего телефона, вы всегда сможете получить подробную
          | консультацию по телефону от наших мастеров, а также уточнить стоимость ремонта. Очень часто, решение проблемы
          | происходит и без приезда в наш офис, прямо по телефону. Стоит помнить, что наши специалисты не склонны к
          | предугадыванию проблемы, которая привела к неисправности, ведь в некоторых случаях без диагностики телефона просто
          | не обойтись. Самые распространенные из неполадок:
        ul.mb15.ml20
          li iPhone 5S перестал включаться;
          li в iPhone 5S попала влага или он упал в воду.
        p.mb0
          | При возникновении данных проблем указать ориентировочную стоимость крайне сложно. И волне
          | естественно, что ремонт в подобных случаях не будет равен стоимости самых обычных услуг.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 5s 
      h3.pricelist__heading Основное
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика
            time.pricelist__item__time 15 мин.
          .col-md-2
            .pricelist__item__cost 0 грн.
          .col-md-7
            .pricelist__item__description
              | Если проблема сразу не ясна, то для определения причины неисправности мы проводим диагностику.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена стекла, touchscreen
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost 999 грн.
          .col-md-7
            .pricelist__item__description Установка оригинального дисплейного модуля с олеофобным покрытием.
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена экрана и дисплея(модуль)
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost 1599 грн.
          .col-md-7
            .pricelist__item__description Дисплейный модуль меняется, если не работает дисплей или разбито стекло.
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost 1500 грн.
          .col-md-7
            .pricelist__item__description Если у Вас гнутый корпус или много царапин, нужно будет заменить его.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 150 грн.
          .col-md-7
            .pricelist__item__description
              | Если у Вас зависает iPhone 5S или вы забыли пароль блокировки, нужно будет прошить устройство.

      h3.pricelist__heading Кнопки
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description Время от времени кнопка Home начинает залипать или полностью выходит из строя.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description
              | Основные признаки неполадки кнопки вибрации iPhone 5S: невозможно отключить звук, кнопка расшаталась или запала, произвольно включается и отключается звук.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы не можете убавить или прибавить звук, кнопка громкости залипает - это доставляет очень много неудобств при прослушивании аудио- или видео.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description Чаще всего выходит из строя кнопка включения у iPhone 5S.

      h3.pricelist__heading Комплектующие
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 350 грн.
          .col-md-7
            .pricelist__item__description
              | Нижний динамик отвечает за звук во время звонка, при прослушивании музыки или видео.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description Если Вас не слышит собеседник, скорее всего вышел из строя нижний микрофон.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена голосового динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 350 грн.
          .col-md-7
            .pricelist__item__description Если Вы не слышите собеседника, значит проблема в слуховом динамике.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 450 грн.
          .col-md-7
            .pricelist__item__description
              | У Вас быстро разряжается iPhone 5S? Произвольно отключается? Скорее всего проблема в аккумуляторе.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена вибро-мотора
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 250 грн.
          .col-md-7
            .pricelist__item__description
              | Во время входящего звонка Вы не ощущаете Ваш iPhone 5S, значит Вам нужно заменить вибро-мотор.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 450 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена датчиков света/затемнения
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description
              | Если во время звонка Ваше ухо произвольно нажимает на кнопки и iPhone 5S не блокируется, значит проблема в датчике.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 350 грн.
          .col-md-7
            .pricelist__item__description Если у Вас плохо ловит wi-fi, Вам нужно заменить антенну.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена антенны GSM
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 350 грн.
          .col-md-7
            .pricelist__item__description Если у Вас плохо ловит сотовая связь, скорее всего проблема в антенне.

      h3.pricelist__heading Шлейфы
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description За работу кнопки Home отвечает шлейф кнопки Home.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена верхнего шлейфа
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description
              | Верхний шлейф iPhone 5S отвечает за работу кнопок громкости, включения, вибро и за запись звука при съемке видео.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена нижнего шлейфа
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 399 грн.
          .col-md-7
            .pricelist__item__description
              | На нижнем шлейфе расположен разъем для зарядки и наушников, а также нижний микрофон.

      h3.pricelist__heading Другое
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена мат. платы 16 Gb
            time.pricelist__item__time 1 час.
          .col-md-2
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-7
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена мат. платы 32 Gb
            time.pricelist__item__time 1 час.
          .col-md-2
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-7
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена мат. платы 64 Gb
            time.pricelist__item__time 1 час.
          .col-md-2
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-7
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 5 мин.
          .col-md-2
            .pricelist__item__cost от 80 грн.
          .col-md-7
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 50 грн.
          .col-md-7
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPhone 5, наш курьер всегда с радостью Вам его доставит.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 0 грн.
          .col-md-7
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно забрать Ваше устройства.

  .container
    .mb20.content-text
      .row
        .col-sm-12
          h2(title='Нововведения в ремонте iPhone 5S') Нововведения в ремонте iPhone 5S
          p
            | В новинке iPhone 5S от Apple появилось несколько полезных решений во функционале, но одним из самых
            | примечательных можно назвать присутствие сканера отпечатков пальцев. Естественно, что это решение для
            | разблокировки устройства применить в Apple вздумали не впервые, ведь подобный способ наблюдался и в нескольких
            | телефонах, а также ноутбуках. Но отличительным преимуществом данной технологии является то, что именно в
            | iPhone 5S она может функционировать без единой ошибки, неудобств, а главное оперативно.
          p
            | Но если придерживаться мнения одного из сервис-инженеров по поводу надежности и ремонтпригодности новинки, то
            | станет понятно, что нередко из-за кнопки «Home», которая выходит из строя весьма часто, приходится ее заменять
            | вместе со сканером отпечатков, что чревато дорогущим ремонтом, большим, как если бы, например, он понадобился
            | для других моделей.
          h2(title='Преимущества ремонта iPhone 5S') Преимущества ремонта iPhone 5S в нашем сервисе:
          ul.ml20.mb20
            li
              | огромный опыт и знание всех тонкостей строения устройства iPhone 5S наших мастеров, позволяет проводить
              | ремонт в кратчайшие сроки;
            li
              | специальные навыки, помимо теоретических знаний устройства наших специалистов гарантируют выявление даже
              | самых загадочных неисправностей и их устранение;
            li
              | мы располагаем дорогостоящим профессиональным оборудованием для пайки и проведения диагностики, без чего
              | невозможен качественный ремонт.
          h3 Ремонт iPhone в случае попадания в него воды
          p
            | Как и следовало догадаться, в данной модели не предусмотрено никакой защиты от попадания в телефон воды,
            | поэтому в случае ее проникновения не следует затягивать с ремонтом, а стоит принести аппарат к нам. Если ваше
            | устройство подверглось &nbsp;
            a(href='/voda-iphone', title='попала вода в iphone') падению в воду
            | , то стоит
            | отнести в ремонт для не лишней замены стекла в нем.
          p
            | Каждый наш сервисный центр предоставляет полную гарантию на проделанную работу, поэтому, если по каким-то
            | причинам после ремонта ваш аппарат &nbsp;
            a(href='/iphone-ne-vklyuchaetsya', title='iPhone не включается') перестал работать
            | , наши специалисты готовы провести повторный ремонт и устранить неполадки по гарантии совершенно
            | бесплатно.

          ul
            li: a(href='/razbilos-steklo-iphone', title='Замена стекла iPhone 5s в Киеве') Замена стекла iPhone 5s Киев
            li: a(href='/ne-rabotaet-displey-iphone', title='замена экрана iphone 5s в Киеве') замена экрана iphone 5s
            li: a(href='/iphone-ne-vklyuchaetsya', title='замена батареи iphone 5s в Киеве') замена батареи iphone 5s Киев

          p Рекомендуем Вам ознакомиться с ценами на &nbsp;
            a(href='/remont-iphone-5', title='ремонт iphone 5s в Киеве') ремонт iPhone 5s
            | &nbsp;он имеет похожий дизайн и характеристики с iPhone 5s.
