extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 5s'})

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 5s') Ремонт iPhone 5s
      h2(title="Цены на Ремонт айфона 5с в Киеве") Цены на Ремонт iPhone 5s в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='/img/iphone/remont-iphone-5s.jpg', alt='Недорогой ремонт iPhone 5S', srcset="/img/iphone/remont-iphone-5s.jpg 1x, /img/iphone/retina/remont-iphone-5s.jpg 2x", title="Ремонт iPhone 5s в Сервисном центре Apple в Киеве")
        .col-xs-12
          p
            | Наш сервисный центр, это сочетание профессионалов, знающих свое
            | дело. Поэтому, сдавая в ремонт устройство, они чинят лишь то, что вам необходимо. Перед &nbsp;
            strong ремонтом iPhone 5S
            | &nbsp; он подвергается бесплатной диагностике для выявления причины поломки и скоротечного ее устранения.
            | После диагностики мы связывается с владельцем телефона и поясняем в чем причина поломки. А производить ремонт той
            | или иной неисправности: решаете исключительно вы. Например, если в телефон попала вода, и вспышка перестала
            | работать, а вы ею почти не пользуетесь, вам совсем не обязательно платить за ремонт. Кроме этого, даже если после
            | проведенной диагностики вы отказываетесь от ремонта мы не возьмем за проделанную работу ни копейки. Когда
            | возникает необходимость узнать в чем причина поломки вашего телефона, вы всегда сможете получить подробную
            | консультацию по телефону от наших мастеров, а также уточнить стоимость ремонта. Очень часто, решение проблемы
            | происходит и без приезда в наш офис, прямо по телефону. Стоит помнить, что наши специалисты не склонны к
            | предугадыванию проблемы, которая привела к неисправности, ведь в некоторых случаях без диагностики телефона просто
            | не обойтись. Самые распространенные из неполадок:
          ul.mb15.ml20
            li iPhone 5S перестал включаться;
            li в iPhone 5S попала влага или он упал в воду.
          p.mb0
            | При возникновении данных проблем указать ориентировочную стоимость крайне сложно. И волне
            | естественно, что ремонт в подобных случаях не будет равен стоимости самых обычных услуг.

  .container
    .mb20.content-text
      .row
        .col-sm-12
          h2(title='Нововведения в ремонте iPhone 5S') Нововведения в ремонте iPhone 5S
          p
            | В новинке iPhone 5S от Apple появилось несколько полезных решений во функционале, но одним из самых
            | примечательных можно назвать присутствие сканера отпечатков пальцев. Естественно, что это решение для
            | разблокировки устройства применить в Apple вздумали не впервые, ведь подобный способ наблюдался и в нескольких
            | телефонах, а также ноутбуках. Но отличительным преимуществом данной технологии является то, что именно в
            | iPhone 5S она может функционировать без единой ошибки, неудобств, а главное оперативно.
          p
            | Но если придерживаться мнения одного из сервис-инженеров по поводу надежности и ремонтпригодности новинки, то
            | станет понятно, что нередко из-за кнопки «Home», которая выходит из строя весьма часто, приходится ее заменять
            | вместе со сканером отпечатков, что чревато дорогущим ремонтом, большим, как если бы, например, он понадобился
            | для других моделей.
          h2(title='Преимущества ремонта iPhone 5S') Преимущества ремонта iPhone 5S в нашем сервисе:
          ul.ml20.mb20
            li
              | огромный опыт и знание всех тонкостей строения устройства iPhone 5S наших мастеров, позволяет проводить
              | ремонт в кратчайшие сроки;
            li
              | специальные навыки, помимо теоретических знаний устройства наших специалистов гарантируют выявление даже
              | самых загадочных неисправностей и их устранение;
            li
              | мы располагаем дорогостоящим профессиональным оборудованием для пайки и проведения диагностики, без чего
              | невозможен качественный ремонт.
          h3 Ремонт iPhone в случае попадания в него воды
          p
            | Как и следовало догадаться, в данной модели не предусмотрено никакой защиты от попадания в телефон воды,
            | поэтому в случае ее проникновения не следует затягивать с ремонтом, а стоит принести аппарат к нам. Если ваше
            | устройство подверглось &nbsp;
            a(href='/voda-iphone', title='попала вода в iphone') падению в воду
            | , то стоит
            | отнести в ремонт для не лишней замены стекла в нем.
          p
            | Каждый наш сервисный центр предоставляет полную гарантию на проделанную работу, поэтому, если по каким-то
            | причинам после ремонта ваш аппарат &nbsp;
            a(href='/iphone-ne-vklyuchaetsya', title='iPhone не включается') перестал работать
            | , наши специалисты готовы провести повторный ремонт и устранить неполадки по гарантии совершенно
            | бесплатно.

          ul
            li: a(href='/razbilos-steklo-iphone', title='Замена стекла iPhone 5s в Киеве') Замена стекла iPhone 5s Киев
            li: a(href='/ne-rabotaet-displey-iphone', title='замена экрана iphone 5s в Киеве') замена экрана iphone 5s
            li: a(href='/iphone-ne-vklyuchaetsya', title='замена батареи iphone 5s в Киеве') замена батареи iphone 5s Киев

          p Рекомендуем Вам ознакомиться с ценами на &nbsp;
            a(href='/remont-iphone5', title='ремонт iphone 5 в Киеве') ремонт iPhone 5
            | &nbsp;он имеет похожий дизайн и характеристики с iPhone 5s.
