extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 6s'})

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 6s') Ремонт iPhone 6s
      h2(title="Цены на Ремонт айфона 6s в Киеве") Цены на Ремонт iPhone 6s в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='/img/iphone/remont-iphone-6s.jpg', alt='Ремонт iPhone 6S', srcset="/img/iphone/remont-iphone-6s.jpg 1x, /img/iphone/retina/remont-iphone-6s.jpg 2x", title="Ремонт iPhone 6s в Сервисном центре Apple в Киеве")

    h2(title='Ремонт 6s+ c гарантией: где заказать') Ремонт 6s+ c гарантией
    p
      | Совсем недавно компания Apple представила новый смартфон&nbsp;
      i iPhone 6s
      | &nbsp;, который явился очередным шагом в успешном продвижении продуктов компании на рынке мобильных устройств. В конструкции новой модели были учтены не недоработки и слабые места, с которыми столкнулись пользователи предыдущих версий Айфонов, в результате чего новый смартфон по праву считается одним из самых надежных аппаратов. Корпус повышенной прочности, новая операционная система, стильный и разнообразный дизайн сделали свое дело, увеличив количество лояльных пользователей продукцией компании.&nbsp;
      strong Ремонт iPhone 6s в Киеве
      | &nbsp;за это время показал, что увеличение защищенности корпуса положительно сказалось на устойчивости смартфона в отношении таких внешних воздействий, как удары и падения.
    p
      | И все же,&nbsp;
      em iPhone 6s
      | &nbsp;нельзя назвать полностью защищенным от повреждений такого рода, ведь, несмотря на новое защитное стекло, его экран остается самой уязвимой частью, которая не может устоять перед сильными ударами, которые нередко случаются в практике многих пользователей этой замечательной техники.&nbsp;
      b Ремонт Айфона 6s в Киеве
      | &nbsp;осуществляют авторизованные сервисные центры, которые имеют сертификаты, выданные производителем, подтверждающие высокое качество обслуживания и профессионализм специалистов. Среди наиболее распространенных услуг, за которыми обращаются владельцы новой модели смартфона, стоит выделить следующие:
    ul
      li
        a(href='http://service-iphone.com.ua/remont-iphone-6s/zamena-stekla') замена стекла iPhone 6s
        |  в результате его повреждения;
      li
        | ремонт разъемов по причине несоблюдения правил эксплуатации и попадания в них влаги;
      li
        | замена аккумулятора, который вышел из строя в результате перегрева, попадания воды или использования некачественного зарядного устройства.
    p
      | Повреждения экрана являются одной из самых распространенных поломок любого смартфона с большим сенсорным экраном, и требуют профессионального подхода при ремонте. дело в том, что даже при внешне небольших повреждениях, после удара или падения может быть повреждено не только стекло, но также и другие компоненты дисплейного модуля.
    p
      | После полной диагностики работы смартфона, которую в авторизованных сервисных центрах проводят бесплатно, выявляются все повреждения, и осуществляется необходимый ремонт.&nbsp;
      em Замена дисплея iPhone 6s
      | &nbsp;на новый модуль обеспечивает быстроту ремонта, а также превосходное его качество. такого результата очень трудно достичь при простой замене стекла, а в условиях полукустарных мастерских и вовсе невозможно. Новый дисплей, который устанавливают в сертифицированной сервисной организации, изготавливается и настраивается на заводах компании Apple, и после установки работает ничуть не хуже, чем в абсолютно новом аппарате. На такую деталь устанавливается гарантия на предусмотренный производителем срок.

    div(itemscope='', itemtype='http://schema.org/Product')
      span(itemprop='name', style='display:none')
        | iPhone 6s
      | Overall rating:&nbsp;
      span(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
        strong
          span.value(itemprop='ratingValue')
            | 4.8
        |  out of&nbsp;
        strong
          span(itemprop='bestRating') 5
        | &nbsp;based on&nbsp;
        span.votes(itemprop='reviewCount')
          | 13
        |  reviews.
    br
    br