extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 7 plus'})

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 7 Plus') Ремонт iPhone 7 Plus
      h2(title="Цены на Ремонт айфона 7 Plus в Киеве") Цены на Ремонт iPhone 7 Plus в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='/img/iphone/remont-iphone-7-plus.jpg', alt='Картинка:Ремонт iPhone 7 Plus', srcset="/img/iphone/remont-iphone-7-plus.jpg 1x, /img/iphone/retina/remont-iphone-7-plus.jpg 2x", title="Ремонт iPhone 7 plus в Сервисном центре Apple в Киеве")

    h2(title='Ремонт iPhone 7 Plus: насколько это дорогое удовольствие?') Ремонт iPhone 7 Plus: насколько это дорогое удовольствие?
    p
      | Стильный iPhone 7 Plus — новинка на рынке «яблочной» продукции. Этот смартфон оснащен дополнительной защитой от воды, ярким Retina-дисплеем  и двумя камерами. Модель потребляет на 30 % меньше энергии, чем айфон шестого поколения. Модные девушки и парни оценят функциональность этого гаджета, как только возьмут его в руки.
    p
      | Что касается дизайна iPhone 7 Plus, то он существенно обновился. Новый дизайн мобильника удивит своей оригинальностью: тонкие рамки вокруг дисплея придают девайсу элегантности и солидности. Компактный размер гаджета разработчики сохранили, что удовлетворит запросы тех, кто привык к тонким устройствам.
    p
      | К единственному недостатку гаджета можно отнести отсутствие разъема на внешней панели для подключения наушников. По всем другим параметрам айфон 7 плюс на пару шагов обходит все смартфоны, представленные на рынке.
    p
      | Например, камера оснащена 12-пиксельными линзами, что позволяет сделать фото по качеству не хуже, чем при помощи зеркального фотоаппарата. Встроенная камера в айфон позволяет многократно применять зум или «замыливание» заднего фона без потери качества картинки. Это дает возможность снимать видео с высоким разрешением и воспроизводить его  любом формате.
    h2(title='Ремонт iPhone 7 Plus в Киеве: где заказать') Ремонт iPhone 7 Plus в Киеве: где заказать
    p
      | В «Service-iphone» вы можете получить профессиональную помощь от опытных специалистов, если у вас возникли проблемы с работой айфон. Мастера помогут восстановить работоспособность девайса уже в день обращения.
    p
      strong(title='Ремонт айфон 7 Plus в Киеве') Ремонт айфон 7 Plus в Киеве
      |  выполняется после бесплатной диагностики устройства. Не пытайтесь самостоятельно разбирать телефон. Поскольку внутри находится большое количество клеевых соединений, которыми связаны между собой «жизненноважные» органы мобильника. При их повреждении ремонт обойдется гораздо дороже, чем в случае, если вы сразу доверитесь профессионалу.
    h2(title='Замена стекла iPhone 7 Plus в Киеве') Замена стекла iPhone 7 Plus в Киеве
    p
      | Чаще всего дисплей получает повреждения вследствие удара телефона или после его падения. Даже несильный удар по корпусу может привести к образованию сколов и трещин на экране. Дисплей — одна из самых хрупких составляющих конструкции. В качестве дополнительной защиты рекомендуем установить защитное стекло на экран, которое поможет сохранить его целостность.
    p
      | Если все же экран треснул или разбился, нужна
      strong(title='замена дисплея iPhone 7 Plus') замена дисплея iPhone 7 Plus
      | . В Киеве вы всегда можете обратиться за помощью к специалистам нашего ремонтного центра. При помощи горячего воздуха мастер осторожно снимет рамку и заменит стекло.
    p
      | Когда возникает необходимость замены тачскрина, осуществляется замена всего дисплейного модуля. Это вернет реакцию на нажатия и позволит на полную мощность использовать девайс после ремонта.
    h3 Восстановление звука
    p
      | В случаях, когда поломался динамик, микрофон или аудиокодек, звуковые устройства нужно протестировать, чтобы понять корень проблемы. Иногда причиной частичного или полного отсутствия звука является попадание внутрь конструкции воды и пыли. Чаще всего это происходит вследствие появления глубоких трещин и царапин на дисплее и корпусе.
    p
      | Мастер разберет устройство и почистит звуковую плату даже в срочном порядке. Если отремонтировать поврежденное устройство по результатам диагностики невозможно, выполняется его замена на оригинальную деталь.
    h3 Наладка программного обеспечения
    p
      | Сбои в работе системы могут быть связаны с перегрузкой памяти, установкой нелицензионных приложений и программ, а также с падением телефона. Это приводит к тому, что гаджет слишком медленно выполняет команду запуска интернет-страницы, документа или игры, а в некоторых случаях может даже выключаться без причины.
    p
      | Профессионал «Service-iphone» поможет наладить программное обеспечение и скорость запуска систем, а также удалить из них вредоносные файлы. При необходимости вы сможете заказать услуги по настройке почты, установке скайпа или вайбера.
    h3 Замена батареи
    p
      | Разработчики Apple считают, что аккумулятор айфон особо нуждается в бережном обращении. По сравнению с айфон шестого поколения в айфон 7 плюс батарея существенно больше в объеме за счет отсутствия 3,5 мм разъема. Это дает возможность на несколько часов больше пользоваться телефоном без подключения зарядки.
    p
      | Однако круглосуточная работа девайса «садит» даже самое сильное «сердце». iPhone 7 Plus — не исключение. Вследствие физического износа батарея требует замены. Если ваш девайс быстро разряжается, несите его в «Service-iphone». Мы поможем заменить батарею на оригинальную уже сегодня.
    h3 Ремонт камеры
    p
      | При повреждениях смартфона часто первой выходит из строя камера. В большинстве случаев она требует замены на новую деталь. Поскольку из-за ударов или попадания влаги в устройство перестает работать фокусировка, вспышка, режимы, которые не поддаются  ремонту.
    p
      | Чтобы снова вернуть изображению яркость и контрастность, нужно полностью заменить фото и видео-элемент. В каждом конкретном случае понять глубину повреждений поможет только предварительная диагностика.
    p Приходите в «Service-iphone» и доверьте свой телефон рукам настоящих мастеров!

    div(itemscope='', itemtype='http://schema.org/Product')
      span(itemprop='name', style='display:none')
        | iPhone 7 Plus
      | Overall rating:&nbsp;
      span(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
        strong
          span.value(itemprop='ratingValue')
            | 4.9
        |  out of&nbsp;
        strong
          span(itemprop='bestRating') 5
        | &nbsp;based on&nbsp;
        span.votes(itemprop='reviewCount')
          | 23
        |  reviews.
    br
    p.cf
      span.pull-left
        i.fa.fa-arrow-left
        | &nbsp;&nbsp;
        a(href="/remont-iphone-7") Цены на ремонт iPhone 7
      span.pull-right
        a(href="remont-iphone-se") Цены на ремонт iPhone SE
        | &nbsp;&nbsp;
        i.fa.fa-arrow-right