extends ../../layout
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/remont-iphone4.jpg', alt='Ремонт iPhone 4 Киев')
          div.raiting(itemscope, itemtype='http://schema.org/Product')
          meta(itemprop='name', content='iPhone 4')
          meta(itemprop='description', content=description)
          meta(itemprop='url', content='http://service-iphone/remont-iphone3g')
          div(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
            meta(itemprop='worstRating', content='1')
            meta(itemprop='bestRating', content='5')
            meta(itemprop='ratingValue', content='5')
            meta(itemprop='ratingCount', content='9')
          .raiting__value
            span.raiting__stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              //i.fa.fa-star-o
            span.raiting-text
              span.raiting__score 5
              | &nbsp;(голосов&nbsp;
              span.raiting__count 9
              | )
        .col-sm-4
          h1(title='Качественный ремонт iPhone 4 в Киеве') Ремонт iPhone 4
        .col-sm-6
      .sub-header__description
        | На данный момент iPhone 4 — это самая популярная модель телефона фирмы Apple.
        | Наши мастера с радостью выполнят любой &nbsp;
        strong ремонт iPhone 4
        | . Мы даем гарантию на 6 месяцев, быстро
        | производим ремонтные работы, используем оригинальные запчасти.
        p
          | iPhone 4 по праву считается одним из лучших творений компании Apple и является одной из
          | самых покупаемых моделей, завоевавших популярность у потребителей. Однако с его выпуском гарантийные ремонты и
          | замены телефонов значительно участились. Это связано, прежде всего, со сложностью конструкции аппарата и его
          | необычным внешним видом, который привлекает покупателей, однако впоследствии не оправдывает ожиданий. Дело в
          | том, что корпус телефона выполнен из стекла которое легко бьется. Кроме того, &nbsp;
          a(href='http://service-iphone.com.ua/voda-iphone') iPhone 4 выходит из строя от попадания воды
          | , да и от заводского брака никто не может быть застрахован.
        p
          | С момента появления Айфон 4 в продаже наша компания занимается его ремонтом, и мастера могут с уверенностью
          | назвать себя специалистами в этом деле. Самые распространенные неполадки аппарата – &nbsp;
          a(href='/razbilos-steklo-iphone', title='Что делать если разбилось стекло iPhone?') разбитые стекла
          | &nbsp; и &nbsp;
          a(href='/ne-rabotaet-zvuk-na-iphone', title='Не работает звук на iphone') пропадание звука
          | , когда
          | собеседник не слышит вас или вы не понимаете его. Кроме того, стало не редкостью повреждение телефона водой.
          | Все эти проблемы требуют скорейшего обращения в сервис, особенно это касается случаев, когда аппарат подвергся
          | воздействию жидкости: упал в воду или попал под дождь. Чем быстрее будет произведен ремонт в этом случае, тем
          | с большей уверенностью можно гарантировать скорейшее восстановление его функций.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 4
      
      
      h3.pricelist__heading Основное
      include ../../templates/price-table


  .container
    .mb20.content-text
      .row
        .col-xs-12
          p
            | Наша Киевская компания занимается ремонтом айфона 4 на профессиональном уровне. Опытные инженеры быстро
            | найдут и исправят возникшую проблему, так как они могут с точностью определить поломку и эффективно устранить
            | ее за короткое время.
          p
            | При ремонте
            strong iphon 4
            | &nbsp; используются оригинальные запчасти, поэтому они служат длительное время, не уступая по
            | качеству испорченным заводским. Наши поставщики работают напрямую с заводами-производителями и гарантируют
            | качество запчастей, которое не идет в сравнение с деталями, используемыми во многих других сервисах. Как
            | правило, конкурирующие компании закупают запчасти, производимые в Киеве и не являющиеся оригинальными.
          p
            | Итак, самые частые проблемы, с которыми обладатели телефона iPhone 4 обращаются в наш сервис:
          h3 Замена стекла iPhone 4, замена экрана
          p
            strong
              a(href='/ne-rabotaet-displey-iphone') Замена дисплея
              | &nbsp; iPhone 4
            | , покрывающего всю переднюю поверхность телефона и никак не защищенного. При падении
            | стекло часто бьется. В этом случае приходится заменять не только дисплей, но и тачскрин, так как в устройстве
            | они представлены единым модулем;
          h3 Замена заднего стекла iPhone 4
          p
            | Замена заднего стекла, которое также достаточно хрупкое и страдает при падениях. Специалисты нашего сервиса
            | заменят стекло телефона iphone 4 и 4S буквально за несколько минут, прямо на глазах клиента;
          p
            | устранение неполадок, связанных с проникновением в устройство влаги. Часто владельцы iPhone 4 забывают, что
            | он абсолютно не защищен от попадания воды и разговаривают по телефону в дождь. Это быстро выводит аппарат из
            | строя.
          p
            | Как передний экран, так и задняя крышка в нашей компании представлены в виде оригинальных запчастей, схожих с
            | теми, которые до этого находились в телефоне. Многие люди предпочитают не менять заднюю стенку, заклеивая ее
            | скотчем, от чего страдает внешний вид телефона. А ведь осуществить замену можно буквально за пару минут,
            | потратив при этом незначительную сумму. Зато потом не придется прятать свой недавно купленный телефон, скрывая
            | разбитый корпус.

          p В наш сервисный центр чаще всего обращаються со следующими вопросами:
          ul
            li: a(href='/razbilos-steklo-iphone', title='Замена стекла iphone 4') Замена стекла iPhone
            li: a(href='/ne-rabotaet-displey-iphone', title='Замена дисплея iPhone 4') Замена дисплея iPhone
            li: a(href='/iphone-ne-vklyuchaetsya', title='Замена батареи iPhone 4') Замена батареи iPhone
            li Рекомендуем вам ознакомиться с ценами на &nbsp;
              a(href='/remont-iphone4s') ремонт iPhone 4s
