extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone4s.jpg', alt='Ремонт iPhone 4s')
        .col-sm-4
          h1(title='Быстрый Ремонт iPhone 4s в Киеве') Ремонт iPhone 4s
          p Услуги и цены
        .col-sm-6
          p
            strong Повредить смартфон
            | &nbsp; можно случайным образом, находясь дома, на работе и даже на отдыхе.
            | Падение телефона на твердую поверхность может вызвать проблемы с микрофоном, динамиком и
            | программным обеспечением. Как найти недорогой и качественный ремонтный сервис?
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 4s
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time 20 мин.
          .col-md-3
            .pricelist__item__cost бесплатно
          .col-md-4
            .pricelist__item__description
              | Мы проводим диагностику совершенно бесплатно! Во время диагностики мы выявим причину неполадки и сможем сказать, как именно необходимо делать ремонт iphone 4s.
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-3
            .pricelist__item__cost 200* грн.
          .col-md-4
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.	  

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description
              | Прошивка может потребоваться, если iPhone 4s зависает, глючит или если вы неудачно обновились.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost от 150 грн.
          .col-md-4
            .pricelist__item__description
              | Рекомендуется как можно быстрее провести чистку и сушку аппарата, дабы избежать более серьезных последствий.

      h3.pricelist__heading Корпус
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла и дисплея (модуль)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 750 грн.
          .col-md-4
            .pricelist__item__description
              | Установка оригинального дисплейного модуля с олеофобным покрытием. (ремонт айфона 4s)

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла (отдельно)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description
              | Ремонт стекла iphone 4s. Уронили и разбили стекло на iPhone 4S. Мы ставим на Ваш выбор копию или оригинальное стекло с олеофобным покрытием и по самым низким ценам

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней крышки
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost 200 грн.
          .col-md-4
            .pricelist__item__description
              | Стекло на задней панели iPhone 4S при падении часто разбивается. Мы его меняем за пару минут.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description
              | Металлическая рамка iPhone 4S повреждается только при очень сильных падениях, но даже если она просто поцарапалась, то ее можно заменить.

      h3.pricelist__heading Кнопки
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт переключателя вибро
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Если на iPhone 4S невозможно выключить или включить беззвучный режим, то нужно сделать ремонт айфон 4s (поменять переключатель вибро).

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт кнопки включения
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Кнопка включения не нажимается? Это часто приводит к проблеме, что вы не можете включить iPhone 4S. Мы заменим кнопку Power на iPhone 4S в кратчайшие сроки.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 200 грн.
          .col-md-4
            .pricelist__item__description
              | Чаще всего кнопка Home выходит из строя из-за неправильного обращения или попадания воды и грязи. Обычно при этом достаточно заменить её шлейф.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт кнопок громкости
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Невозможность убавить или прибавить звук, приводит к тому, что вы не слышите звука при исправном динамике. Достаточно просто заменить кнопки громкости iPhone 4S и все заработает.

      h3.pricelist__heading Комплектующие
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена полифонического динамика (buzzer)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description
              | Ремонт iphone 4 s. Нижний динамик в iPhone 4S только один (справа от разъема), он должен работать на громкой связи, в играх, музыке и видео.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description Нижний микрофон находится под левой сеточкой (многие думают, что там динамик)

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена разговорного динамика
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description
              | В iPhone 4S имеется 2 динамика, и верхний (слуховой) работает во время разговора. Если вы не слышите собеседника, то проблема, скорее всего, в этом динамике.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Со временем, аккумулятор в iPhone 4S все меньше держит заряд, но его без проблем можно заменить и он будет работать как новый.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена вибромотора
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 200 грн.
          .col-md-4
            .pricelist__item__description Если у Вас не работает вибрация или вибромотор барахлит, то его можно заменить.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Задняя камера iPhone 4S может выдавать плохое изображение или вообще не запускаться, в этом случае, мы заменим её на новую.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Замена передней камеры может понадобиться, если у вас повреждена матрица или передняя камера не запускается.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт/замена датчика света и приближения
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Этот датчик выключает экран Айфон 4S, когда вы прикладываете аппарат к уху во время разговора и не дает случайно нажиматься кнопкам.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена разъёма для наушников (аудиоджека)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Ремонт входа для наушников необходим, если телефон не работает с наушниками или гарнитурой.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны GSM
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description
              | Телефон может часто терять сеть и хуже ловить сотовую связь, если неисправна GSM-антенна.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны WiFi
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description
              | Если у вас сильно снизился уровень приема Wi-Fi, то проблема скорее всего в антенне и потребуется её заменить.

      h3.pricelist__heading Шлейфы
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description
              | Самая главная кнопка в телефоне iPhone 4S – это кнопка Home, которая находится под дисплеем. Она чаще других ломается и при ремонте необходимо менять данный шлейф.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена верхнего шлейфа
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Обычно, замена верхнего шлейфа необходима, если не работает работает кнопка включения iPhone 4S или при неполадках с датчиком света.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена нижнего шлейфа
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Проблемы связанные с зарядкой или подключением к компьютеру iPhone 4S чаще всего решаются заменой нижнего шлейфа.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аудиошлейфа
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description
              | Если в iPhone 4S не работает разъем наушников или не нажимаются кнопки громкости, то необходимо проверить аудиошлейф.

      h3.pricelist__heading Другое
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена мат. платы 8 Gb
            time.pricelist__item__time 1 час.
          .col-md-3
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-4
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена мат. платы 16 Gb
            time.pricelist__item__time 1 час.
          .col-md-3
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-4
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена мат. платы 32 Gb
            time.pricelist__item__time 1 час.
          .col-md-3
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-4
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена мат. платы 64 Gb
            time.pricelist__item__time 1 час.
          .col-md-3
            .pricelist__item__cost Уточняйте цену и наличие.
          .col-md-4
            .pricelist__item__description
              | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Чистка от загрязнений или коррозии
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 100 грн.
          .col-md-4
            .pricelist__item__description В том числе, и чистка в ультразвуке.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена WiFi-модуля
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 900 грн.
          .col-md-4
            .pricelist__item__description Требуется провести замену модуля, если переключатель Wi-Fi стал серого цвета.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена контролера питания
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 900 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена микросхемы аудио-кодека
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 900 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Пайка сетевой части
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost от 200 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Пайка разъемов
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost от 200 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost от 60 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 50 грн.
          .col-md-4
            .pricelist__item__description

  .container
    .row
      .col-xs-12
        h2 Преимущества iPhone 4s:
        ul.ml20
          li  возможность работать в UMTS, CDMA и GSM-сетях;
          li  наличие круглых клавиш для управления громкостью и режимами;
          li  встроенный слот для SIM-карты в формате «микро»;
          li  3,5” IPS-матрица, разрешение 960 х 640;
          li голосовое управление Siri, голосовой ввод при написании текста, функция iMessage;
          li  фронтальная камера для видеовызова;
          li  синхронизация с iTunes по Wi-Fi.
        p
          | Если вы выбрали этот гаджет — сразу оцените его удобство и функциональность. Но что делать, если понадобится &nbsp;
          strong ремонт айфона 4s
          | ?
        h2 Ремонт iphone 4s
        p
          strong Service-iphone
          | — качественный сервис по ремонту техники Apple любой сложности, включая и
          | iphone 4S. Опытные специалисты устранят даже самые сильные повреждения на &nbsp;
          a(href='/ipad-remont') iPad
          | , &nbsp;
          a(href='/remont-ipod') iPod
          | , &nbsp;
          a(href='/macbook-remont') MacBook
          | &nbsp; или &nbsp;
          a(rel='nofollow', href='/macbook-remont') iMac
          | , а также смартфонах iphone любого поколения. Можете не переживать об утрате
          | работоспособности своего мобильного любимчика — мы быстро вернем ему первоначальную
          | привлекательность и приведем в рабочее состояние.
        p
          | Наш сервис выполнит &nbsp;
          strong ремонт iphone 4s в Киеве
          | &nbsp; быстро и качественно, применяя оригинальные
          | запчасти для вашего модного девайса. Это залог длительной работы вашего девайса.
        p Обращайтесь прямо сейчас, если вашему телефону нужна:
        ul.ml20
          li <strong>замена экрана iphone 4S</strong>, задней крышки;
          li реабилитация после попадания жидкости в открытые разъемы, внутрь корпуса;
          li восстановительная программа по налаживанию программного обеспечения.
        p
          | Также мы поможем, если у вас:
        ul.ml20
          li отсутствует реакция на сенсорное прикосновение;
          li не работает Wi-Fi, камера, звук, кнопка или микрофон;
          li на панели появилась некрасивая трещина, царапина.
        h3
          | Гарантийный ремонт экрана iphone 4S и других деталей телефона
        p
          | В Service-iphone вы получаете полный комплекс ремонтных услуг без предварительной записи.
          | Все, что нужно — принести девайс и довериться рукам опытных профессионалов. Удобная доставка
          | отремонтированного смартфона прямо в офис порадует даже тех, кто очень занят. Наш курьер быстро
          | вернет незаменимое устройство связи и вы сможете вернуться к текущим делам, не выбиваясь из
          | привычного графика.
        p
          | Помните: &nbsp;
          strong качественный ремонт iphone 4s
          | &nbsp; —
          a(href='/razbilos-steklo-iphone') замена стекла
          | , &nbsp;
          a(href='/ne-rabotaet-zvuk-na-iphone') динамика
          | , &nbsp;
          a(href='/iphone-ne-rabotaet-mikrofon') микрофона
          | , камеры и прочих запчастей, которые износились или сильно повреждены.
        p
          | В Service-iphone вы получаете не косметический, а полноценный ремонт с гарантией, который
          | избавит от проблем во время эксплуатации устройства.
        p
          | Например, &nbsp;
          strong замена заднего стекла iphone 4S
          | &nbsp; — шанс избавиться от трещины или скола,
          | возвращая мобильнику первоначальный вид, как в день покупки. В данном случае, склеить трещину — не выход.
          | Рано или поздно в отверстие просочиться пыль и грязь, что заставит обратиться в &nbsp;
          a(href='/') ремонтный сервис
          | .
          | Однако стоимость такого ремонта будет значительно дороже, ведь уже повреждены и внутренние запчасти. Экономьте сейчас — &nbsp;
          strong замена задней крышки iphone 4S
          | &nbsp; обойдется гораздо
          | дешевле!
        p
          | В Service-iphone предусмотрена возможность бесплатной консультации, которая поможет вам понять, в чем заключается причина поломки.
        p Приходите к нам — наши цены приятно удивляют!
        br
        br
