extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 10'})

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 10') Ремонт iPhone 10
      h2(title="Цены на Ремонт айфона 10 в Киеве") Цены на Ремонт iPhone 10 в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='/img/iphone/remont-iphone-10.jpg', alt='Картинка:Ремонт iPhone 10', srcset="/img/iphone/remont-iphone-10.jpg 1x, /img/iphone/retina/remont-iphone-10.jpg 2x", title="Ремонт iPhone 10 в Сервисном центре Apple в Киеве")


    div(itemscope='', itemtype='http://schema.org/Product')
      span(itemprop='name', style='display:none')
        | iPhone 10
      | Overall rating:&nbsp;
      span(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
        strong
          span.value(itemprop='ratingValue')
            | 5
        |  out of&nbsp;
        strong
          span(itemprop='bestRating') 5
        | &nbsp;based on&nbsp;
        span.votes(itemprop='reviewCount')
          | 8
        |  reviews.
    br
    p.cf
      span.pull-left
        i.fa.fa-arrow-left
        | &nbsp;&nbsp;
        a(href="/remont-iphone-8") Цены на ремонт iPhone 8
      span.pull-right
        a(href="/remont-iphone-8plus") Цены на ремонт iPhone 8+
        | &nbsp;&nbsp;
        i.fa.fa-arrow-right