extends ../../layout

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone SE') Ремонт iPhone SE
      h2(title="Цены на Ремонт айфона SE в Киеве") Цены на Ремонт iPhone SE в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='/img/iphone/remont-iphone-se.jpg', alt='Ремонт iPhone SE', srcset="/img/iphone/remont-iphone-se.jpg 1x, /img/iphone/retina/remont-iphone-se.jpg 2x")

    h1(title='Сломался крутой iPhone SE? Заказываем недорогой ремонт в Киеве') Сломался крутой iPhone SE? Заказываем недорогой ремонт в Киеве
    p
      | Элегантный айфон SE — смартфон, который вошел в историю яблочных гаджетов. Этот стильный девайс представлен в совершенно новом дизайне: мобильник имеет округлые края. Такая форма телефона позволяет удобно держать его в руке во время разговора. Этот гаджет станет украшением стильных женщин и мужчин, а также студентов и школьников.
    p
      | Как и в предыдущих моделях айфон этот вариант оснащен мощным процессором, который разрешает одновременно пользоваться беспроводными сетями и различными приложениями в любое время дня и ночи. Камера в 12 мегапикселей гарантирует «живые» и четкие снимки без размытых пятен и затемненного фона на заднем плане. IPhone SE — легкий и компактный гаджет с алюминиевым корпусом, который не сходит со ступеней популярности на мобильном рынке.
    h2(title='Где заказать ремонт iPhone SE в Киеве?') Где заказать ремонт iPhone SE в Киеве?
    p
      | Если мобильник начинает некорректно работать, срочно несите его в ремонт. Самостоятельно выяснять, в чем проблема, — не стоит. Ваш интерес может привести к поломке важных запчастей, что сделает ремонт еще дороже. Запомните: разбирать устройство должен только мастер, у которого есть специальные инструменты для этого и знания особенностей конструкции айфон SE.
    p
      | В «Service-iphone» наши мастера помогут устранить поломку и вернуть функциональность вашему мобильнику. Если ваш девайс упал на асфальт или ушел под воду на несколько секунд, получил серьезные повреждения в виде трещин и царапин на экране и корпусе,  приносите его к нам. Уже в день обращения вы получите квалифицированную помощь от настоящих профессионалов за разумную цену.
    p
      | Каждому клиенту в подарок мы дарим бесплатную диагностику телефона. По ее результатам мастер подберет необходимый вид ремонтных работ, чтобы вернуть гаджету работоспособность и привлекательность. Даже незначительные косметические дефекты на дисплее и корпусе (царапины, трещины, сколы) требуют устранения. Это не только вернет вашему айфон солидность, но и избавит от проникновения внутрь конструкции пыли и влаги.
    h2(title='Замена стекла iPhone SE') Замена стекла iPhone SE
    p
      | В Киеве вы можете заказать оперативную замену экрана с гарантией. Поцарапанный дисплей не позволяет полноценно пользоваться меню смартфона, смотреть фильмы и играть в модные игры. Если на стекле есть трещины, внутрь может попасть влага, что приведет к выходу из строя тачскрина. В таком случае потребуется замена дисплейного модуля.
    p
      | Специалисты ремонтного центра «Service-iphone» помогут справиться с косметическими дефектами на дисплее. Мы знаем, как бороться даже с самыми глубокими царапинами и трещинами на стекле.
    h2(title='Восстановление звука') Восстановление звука
    p
      | Частичное или полное отсутствие звука — одна из самых распространенных проблем, с которой к нам обращаются пользователи. Звук может пропадать даже после легкого удара по корпусу мобильника. Звуковая плата, динамик и микрофон относятся к хрупким запчастям конструкции. Поэтому неудивительно, что они могут выйти из строя даже при незначительных повреждениях.
    p
      | Если вы перестали слышать абонента, или во время разговора вас не слышат на другом конце трубки, или звук пропадает при воспроизведении аудио- и видеофайлов, нужен &nbsp;
      strong(title='ремонт айфон SE') ремонт айфон SE
      | . В Киеве вы можете заказать диагностику звуковых устройств, по результатам которой специалист определит объем необходимых «звуковых» работ.
    p
      | При повреждении звуковых устройств без возможности их восстановления, устанавливается новая деталь. Когда динамик или микрофон можно отремонтировать, мастер выполняет необходимые работы, в том числе прочищает звуковую плату от пыли и загрязнений.
    h3 Ремонт разъемов
    p
      | Часто мобильник перестает видеть внешние устройства (зарядное устройство, гарнитуру, карту памяти) вследствие падения или попадания в разъемы воды и частичек грязи. В итоге становится невозможным подзарядить мобильник или закачать необходимую информацию на карту памяти.
    p
      | В «Service-iphone» мы быстро решим проблему с разъемами. Вы сможете, как и прежде, заряжать телефон в любое время и без ограничений подключать наушники, а также менять карту памяти.
    h3 Замена батареи
    p
      | Аккумулятор может выйти из строя по причине физического износа или в результате падения девайса. В таких случаях нужно заменить «сердце» гаджета на оригинальную батарею. Поскольку чаще всего аккум не подлежит ремонту.
    p
      | Если телефон тонул, то батарея, как губка, впитывает в себя влагу и увеличивается в размерах. Если своевременно не отреагировать на ситуацию, может треснуть корпус.
    h3 Установка камеры
    p
      | При повреждениях камеры теряется четкость и яркость снимков, пропадает зум и фокусировка. Такие неисправности сложно исправить по отдельности. Ведь камера — целостный элемент, детали которого работают слаженно и с технической точки зрения фактически одновременно. Поэтому ремонт камеры айфон лучше доверить специалисту.
    p
      | С помощью специальных диагностических процедур определяется глубина и характер повреждений, после чего мастер принимает решение о замене камеры на новую.
    p
      | В «Service-iphone» &nbsp;
      strong(title='замена дисплея iPhone SE') замена дисплея iPhone SE
      |  в Киеве может быть выполнена даже в день обращения. Приходите к нам и получите качественный ремонт своего айфон!

   


