extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 6'})

block content
  .text-block
    .container
      .sub-header__description
        h2(title='Ремонт Айфон 6') Ремонт айфон 6 в Киеве
        p iPhone 6 стал во многом революционной моделью в линейке смартфонов компании Apple. Увеличенный размер экрана, тонкий корпус, закругленные края и мощный процессор - это только основные новшества, которые привлекли внимание к новинке и сделали ее популярной и востребованной среди приверженцев продукции американской компании. Операционная система также претерпела существенные изменения, которые увеличили ее функциональность и стабильность. Качество используемых материалов и сборки традиционно для продукции этого производителя также находится на высоте.
        p За неполных два года, в течение которых модель находится на рынке, сервисные центры, осуществляющие &nbsp;
          em ремонт iPhone 6 в Киеве
          | &nbsp;, накопили достаточно опыта и статистических данных для того, чтобы быстро и эффективно устранят неисправности, возникающие при использовании смартфона. Как и в отношении других моделей iPhone, для этого аппарата свойственны свои сильные и слабые стороны, которые проистекают из особенностей конструкции устройства.
        p
          | Увеличенный размер экрана несмотря на повышенную надежность и прочность защитного стекла повысил вероятность его повреждения при ударах и падениях. Поэтому&nbsp;
          strong ремонт Айфона 6
          | &nbsp; по причине разбитого стела или поврежденного дисплея остался одним из наиболее востребованных видов обслуживания этих смартфонов. Разбитое или поврежденное защитное стекло - наиболее вероятный результат падения смартфона или других случаев неаккуратного с ним обращения. При этом,&nbsp;
          a(href='http://service-iphone.com.ua/remont-iphone-6/zamena-stekla', title='замена стекла iPhone 6') замена стекла iPhone 6
          |&nbsp;отдельно от остального дисплейного модуля не осуществляется согласно политике компании производителя.
        p
          | Для того, чтобы увеличить качество сборки и функционирования смартфонов, специалистами Apple была разработана модульная схема, согласно которой основные функциональные компоненты устройства, требующие сложной и дорогостоящей настройки, производятся целыми модулями, и таким же образом заменяются. Это позволяет ускорить ремонт, а также гарантировать его результат. Произвести идеальную настройку всех компонентов модуля экрана в условиях сервисного центра невозможно, поэтому, в случае его повреждения, производится&nbsp;
          a(href='http://service-iphone.com.ua/remont-iphone6/zamena-ekrana', title='замена дисплея iPhone 6') замена дисплея iPhone 6
          |&nbsp;на новый, предоставленный производителем.
        p
          | Это увеличивает стоимость ремонта, но позволяет получить в результате устройство, работающее ничуть не хуже нового, а также гарантировать его работоспособность в течение срока, предусмотренного производителем.
      div(itemscope='', itemtype='http://schema.org/Product')
        span(itemprop='name', style='display:none')
          | iPhone 6
        | Overall rating:&nbsp;
        span(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
          strong
            span.value(itemprop='ratingValue')
              | 4.9
          |  out of&nbsp;
          strong
            span(itemprop='bestRating') 5
          | &nbsp;based on&nbsp;
          span.votes(itemprop='reviewCount')
            | 25
          |  reviews.
      br
      p.cf
        span.pull-left
          i.fa.fa-arrow-left
          |&nbsp;&nbsp;
          a(href="/remont-iphone-5s") Цены на ремонт iPhone 5s
        span.pull-right
          a(href="/remont-iphone-6plus") Цены на ремонт iPhone 6 Plus
          | &nbsp;&nbsp;
          i.fa.fa-arrow-right
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 6') Ремонт iPhone 6
      h2(title="Цены на Ремонт айфона 6 в Киеве") Цены на Ремонт iPhone 6 в Киеве
      .row
        .col-xs-12.col-sm-4
          img(src='/img/new/remont/iphone-6.jpg', alt='Картинка:Ремонт iPhone 6', title="Ремонт iPhone 6 в Сервисном центре Apple в Киеве")
        .col-xs-12.col-sm-8
          include ../../templates/price-table
