extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone6.jpg', alt='Ремонт iPhone 6')
        .col-sm-4
          h1(title='Ремонт iPhone 6') Ремонт iPhone 6
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        p
          | Наш сервисный центр выполняет ремонт iPhone 6 и обладает всеми техническими
          | возможностями для проведения самых сложных работ. Благодаря высокой квалификации и большому практическому опыту
          | сотрудников Service iPhone мы быстро выявим причины неисправности и за считанные часы устраним возможные
          | неисправности смартфона. Мы готовы выполнить ремонт &nbsp;
          strong iPhone 6 в Киеве
          | &nbsp; любой сложности, который
          | будет проведен в самые короткие сроки. Доверив решение проблем с девайсом нашим специалистам, Вы можете смело
          | рассчитывать на качественную профессиональную помощь.
        p
          | Нужно понимать, что ремонт «яблочных» смартфонов последнего поколения – достаточно сложная задача и кропотливая
          | работа. Но высокий профессиональный уровень специалистов нашего сервисного центра позволяет выполнять срочный
          | ремонт iPhone 6 без проведения дополнительной диагностики, часто даже в присутствии клиента. В более сложных
          | случаях прежде, чем приступить к ремонту и выяснить, по какой причине перестал работать iPhone 6, мастера
          | проводят диагностику смартфона и только после этого приступают у замене вышедших из строя деталей и компонентов.
          | Все запасные части, которые используются в процессе ремонта, имеют высокое качество и изготовлены проверенными
          | производителями. По желанию клиента мы можем использовать фирменные детали, а можем заменить их более дешевыми,
          | но не менее качественными аналогами.
        p
          | Мы прекрасно понимаем, сколько проблем появляется, когда не работает iPhone 6, поэтому идем своим клиентам
          | навстречу и в исключительных случаях принимаем смартфоны на ремонт вне очереди. Ускоряет ремонт и качественная
          | диагностика смартфона, при проведении которой используются наработанные ранее материалы и самое современное
          | специальное оборудование. На каждый отремонтированный смартфон предоставляется гарантия до 6 месяцев, а со
          | стоимостью деталей и работ по их замене клиент может ознакомиться в прилагаемом к гарантийному листу акте
          | проведенных работ.
        p
          | Если у Вас &nbsp;
          a(href='/iphone-ne-zaryazhaetsya', title='Не заражяется iphone') не работает iPhone 6
          | &nbsp; или
          | возникли проблемы с его эксплуатацией, квалифицированные менеджеры Service iPhone ответят на все интересующие
          | вопросы, а наши мастера помогут решить все проблемы в кратчайшие сроки и на самых выгодных для Вас условиях.

  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 6
      h3.pricelist__heading Основное
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time 20 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description
              | Если проблема сразу не ясна, то для определения причины неисправности мы проводим диагностику.
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-3
            .pricelist__item__cost 200* грн.
          .col-md-4
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.	  
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас зависает iPhone 6 или вы забыли пароль блокировки, нужно будет прошить устройство.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла и дисплея(модуль)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 2600 грн.
          .col-md-4
            .pricelist__item__description Дисплейный модуль меняется, если не работает дисплей или разбито стекло.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 1800 грн.
          .col-md-4
            .pricelist__item__description Дисплейный модуль меняется, если не работает дисплей или разбито стекло.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 3500 грн.
          .col-md-4
            .pricelist__item__description Если у Вас гнутый корпус или много царапин, нужно будет заменить корпус.

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description Время от времени кнопка Home начинает залипать или полностью выходит из строя.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description
              | Основные признаки неполадки кнопки вибрации iPhone 6: невозможно отключить звук, кнопка расшаталась или запала, произвольно включается и отключается звук.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете убавить или прибавить звук, кнопка громкости залипает - это доставляет очень много неудобств при прослушивании аудио- или видео.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description Чаще всего выходит из строя кнопка включения у iPhone 6.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description
              | У Вас быстро разряжается iPhone 6? Произвольно отключается? Скорее всего проблема в аккумуляторе.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена вибро-мотора
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 400 грн.
          .col-md-4
            .pricelist__item__description
              | Во время входящего звонка Вы не ощущаете Ваш iPhone 6, значит Вам нужно заменить вибро-мотор.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 750 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена датчиков света/затемнения
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если во время звонка Ваше ухо произвольно нажимает на кнопки и iPhone 6 не блокируется, значит проблема в датчике.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 300 грн.
          .col-md-4
            .pricelist__item__description Если у Вас плохо ловит wi-fi, Вам нужно заменить антенну.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны GSM
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 350 грн.
          .col-md-4
            .pricelist__item__description Если у Вас плохо ловит сотовая связь, скорее всего проблема в антенне.
        
      h3.pricelist__heading Шлейфы
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 500 грн.
          .col-md-4
            .pricelist__item__description За работу кнопки Home отвечает шлейф кнопки Home.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа включения
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Верхний шлейф iPhone 6 отвечает за работу кнопок громкости, включения, вибро и за запись звука при съемке видео.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа разьема синхронизации и зарядки
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description
              | На нижнем шлейфе расположен разъем для зарядки и наушников, а также нижний микрофон.
        
      h3.pricelist__heading Другое
      .pricelist__table
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost от 80 грн.
          .col-md-4
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 50 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPhone 6, наш курьер всегда с радостью Вам его доставит.
        
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно заберет Ваше устройство.
        
    
