
extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/iphone/iphone3s.jpg', alt='Ремонт iPhone 3GS в Киеве.')
        .col-sm-4
          h1(title='Ремонт iPhone 3G/3GS в Киеве') Ремонт iPhone 3G/3GS
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        | Сервисный центр Service Apple осуществляет &nbsp;
        strong ремонт iPhone 3G и 3GS
        | по самым низким ценам при любой сложности ремонта.
      section.repear
        h2.repear__title Цены на Ремонт iPhone 3G
        h3.pricelist__heading Основное
        .pricelist__table
          .row.pricelist__row
            .col-md-5
              .pricelist__item__title бесплатно
              time.pricelist__item__time от 15 мин.
            .col-md-3
              .pricelist__item__cost бесплатно
            .col-md-4
              .pricelist__item__description
                | Мы проводим диагностику совершенно бесплатно! Во время диагностики мы выявим причину неполадки и сможем сказать, что именно нужно чинить.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Ремонт после воды
              time.pricelist__item__time от 20 мин.
            .col-md-3
              .pricelist__item__cost от 150 грн.
            .col-md-4
              .pricelist__item__description
                | Уронили iPhone 3G/3GS в воду? Даже если телефон попал в снег, то он мог выйти из строя.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Перепрошивка, программный ремонт
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 150 грн.
            .col-md-4
              .pricelist__item__description
                | Прошивка может потребоваться, если iPhone зависает, глючит или если вы неудачно обновились.

        h3.pricelist__heading Корпус
        .pricelist__table
          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена переднего стекла (отдельно)
              time.pricelist__item__time от 30 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Уронили и разбили стекло на iPhone 3G/3GS? Мы ставим только оригинальные стекла и по самым низким ценам.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена корпуса
              time.pricelist__item__time 60 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Пластиковый корпус iPhone 3G/3GS может сломаться от падения или очень сильно поцарапаться.

        h3.pricelist__heading Комплектующие
        .pricelist__table
          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена дисплея (отдельно)
              time.pricelist__item__time 60 мин.
            .col-md-3
              .pricelist__item__cost 350 грн.
            .col-md-4
              .pricelist__item__description
                | Дисплей перестал показывать изображение? Или имеются искажения, полосы и другие неисправности?

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена полифонического динамика
              time.pricelist__item__time 25 мин.
            .col-md-3
              .pricelist__item__cost 200 грн.
            .col-md-4
              .pricelist__item__description
                | Если вдруг у вас пропал звук в iPhone, а именно: нет звука на громкой связи, нет звука в играх, нет звука звонка, - то нужно проверить и заменить нижний (полифонический) динамик.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена микрофона
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 200 грн.
            .col-md-4
              .pricelist__item__description
                | Вас не слышит собеседник? Или, может быть, при записи видео не пишется звук? Скорее всего дело в микрофоне iPhone и может потребоваться его замена.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена голосового динамика
              time.pricelist__item__time 25 мин.
            .col-md-3
              .pricelist__item__cost 200 грн.
            .col-md-4
              .pricelist__item__description
                | Верхний (слуховой) динамик в iPhone используется только в разговоре, поэтому, если вы не слышите собеседника, то, скорее всего, нужно заменить верхний динамик.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена аккумулятора
              time.pricelist__item__time 25 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Ваш аккумулятор все чаще приходится заряжать и он быстрее садится? Новый аккумулятор решит все проблемы!

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена вибро-мотора
              time.pricelist__item__time 25 мин.
            .col-md-3
              .pricelist__item__cost 100 грн.
            .col-md-4
              .pricelist__item__description
                | Вибромотор от падений может начать барахлить, звенеть или вообще перестать работать. Его замена занимает довольно мало времени.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена задней камеры
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 200 грн.
            .col-md-4
              .pricelist__item__description
                | Задняя камера iPhone может выдавать плохое изображение или вообще не запускаться, в этом случае, мы заменим её на новую.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена датчиков освещения и приближения
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 200 грн.
            .col-md-4
              .pricelist__item__description
                | Этот датчик выключает экран iPhone, когда вы прикладываете аппарат к уху во время разговора и не дает случайно нажиматься кнопкам.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена антенны Wi-Fi
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 200 грн.
            .col-md-4
              .pricelist__item__description
                | Если у вас сильно снизился уровень приема WiFi, то проблема скорее всего в антенне и потребуется её заменить.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена антенны GSM
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Телефон может часто терять сеть и хуже ловить сотовую связь, если неисправна GSM-антенна.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена кнопок громкости
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 200 грн.
            .col-md-4
              .pricelist__item__description
                | Невозможность убавить или прибавить звук, приводит к тому, что вы не слышите звука при исправном динамике. Достаточно просто заменить кнопки громкости iPhone и все заработает.

        h3.pricelist__heading Кнопки
        .pricelist__table
          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена кнопки Home
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 150 грн.
            .col-md-4
              .pricelist__item__description
                | Чаще всего кнопка Home выходит из строя из-за неправильного обращения или попадания воды и грязи. Обычно при этом достаточно заменить её шлейф.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена переключателя вибро
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Рычажок вибрации может выйти из строя и тогда вы не сможете включить или выключить беззвучный режим.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена кнопки включения/блокировки
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Кнопка включения не нажимается? Это часто приводит к проблеме, что вы не можете включить iPhone. Мы заменим кнопку Power на iPhone в кратчайшие сроки.

        h3.pricelist__heading Шлейфы
        .pricelist__table
          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена шлейфа кнопки Home
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 150 грн.
            .col-md-4
              .pricelist__item__description
                | Самая главная кнопка в телефоне iPhone – это кнопка Home, которая находится под дисплеем. Она чаще других ломается и при ремонте необходимо менять данный шлейф.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена верхнего шлейфа
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Обычно, замена верхнего шлейфа необходима, если не работает кнопка включения iPhone или при неполадках с датчиком света.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена нижнего шлейфа
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 250 грн.
            .col-md-4
              .pricelist__item__description
                | Проблемы связанные с зарядкой или подключением к компьютеру iPhone чаще всего решаются заменой нижнего шлейфа.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена аудио шлейфа
              time.pricelist__item__time 30 мин.
            .col-md-3
              .pricelist__item__cost 220 грн.
            .col-md-4
              .pricelist__item__description
                | Если в iPhone не работает разъем наушником или не нажимаются кнопки громкости, то необходимо проверить аудиошлейф.

        h3.pricelist__heading Другое
        .pricelist__table

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена мат. платы 16 Gb
              time.pricelist__item__time от 45 мин
            .col-md-3
              .pricelist__item__cost Уточняйте цену и наличие
            .col-md-4
              .pricelist__item__description
                | Заменять материнскую плату необходимо при полной неработоспособности старой платы. Это самая дорогая деталь в телефоне.

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Замена микросхемы Wi-Fi
              time.pricelist__item__time от 1 час.
            .col-md-3
              .pricelist__item__cost 600 грн.
            .col-md-4
              .pricelist__item__description

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Пайка разъема SIM
              time.pricelist__item__time от 2 час.
            .col-md-3
              .pricelist__item__cost от 150 грн.
            .col-md-4
              .pricelist__item__description

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Доставка из сервиса
              time.pricelist__item__time от 30 мин.
            .col-md-3
              .pricelist__item__cost 100 грн.
            .col-md-4
              .pricelist__item__description

          .row.pricelist__row
            .col-md-5
              .pricelist__item__title Доставка в сервис
              time.pricelist__item__time от 30 мин.
            .col-md-3
              .pricelist__item__cost бесплатно
            .col-md-4
              .pricelist__item__description


  .container
    .mb20.content-text
      .row
        .col-md-6.col-sm-12
          p
            | iPhone 3G является вторым по счету в линейке смартфонов от компании Аpple.
            | Через некоторый период времени на суд поклонников был выставлен его ближайший родственник iPhone 3GS. Несмотря
            | на то, что первый телефон (iPhone 2G), вышедший у флагмана по производству средств связи, был своеобразным
            | прорывом, именно iPhone 3G/3GS кардинально изменил ситуацию на рынке мобильных устройств, понизив рейтинги
            | конкурентов, или полностью вытеснив их из данного сегмента. Что касается качества смартфонов третьей серии,
            | представленных компанией Apple, то оно не вызывает нареканий. Конструкция корпуса у телефона достаточно прочная,
            | задняя крышка выполнена из пластика, который в отличие от &nbsp;
            a(href='/razbilos-steklo-iphone', title='Разбилось стекло iphone') стекла
            | &nbsp; менее
            | подвержен трещинам и сколам. Но если речь идет о ее замене, здесь не обойтись без услуг профессионалов, так как
            | на крышке смартфона закреплена его электронная «начинка».
        .col-md-6.col-sm-12
          p
            a(title='Ремонт iPhone', href='/') Ремонт iPhone
            | &nbsp; 3G/3GS необходимо проводить
            | очень внимательно и щепетильно. Это обусловлено особенностями его конструкции и внутреннего наполнения. Даже при
            | обычной &nbsp;
            a(href='/iphone-ne-zaryazhaetsya', title='Не заряжается iPhone?') замене аккумулятора
            | &nbsp; потребуется
            | разборка всего смартфона с применением специальных инструментов. Стоит обратить внимание и на то, что
            | пластиковый корпус данной модели телефона, в силу длительной эксплуатации, может поддаваться деформации и
            | нарушать работу деталей, находящихся внутри устройства.