extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 6 plus'})

block content
  .text-block
    .container
      .sub-header__description
        h3(title='Ремонт iPhone 6 Plus') Ремонт айфон 6 Plus в Киеве
        p
          | Стильный и продуманный дизайн, высокая производительность и надежность всегда были сильными сторонами смартфонов от компании Apple. iPhone 6 Plus не стал исключением, завоевав большую популярность среди пользователей за то относительно небольшое время, что модель присутствует на рынке. По своей функциональности этот смартфон вполне может сравниться с персональными компьютерами, а в некоторых аспектах даже превышает возможности более мощной вычислительной техники. Это достигается благодаря сочетанию мощного процессора, мобильности, а также удобной и стабильной операционной системы с сенсорным управлением.&nbsp;
          strong(title='Ремонт iPhone 6 Plus в Киеве') Ремонт iPhone 6 Plus в Киеве
          | &nbsp;является не менее востребованным, чем других моделей смартфонов этого производителя, да и причины обращений в сервисные центры по большей части одинаковы.
        p
          | Благодаря высокому качеству сборки, материалов и комплектующих, неисправности&nbsp;
          i iPhone 6 Plus
          | &nbsp;, появившиеся по вине производителя, являются достаточно редким явлением. Гораздо чаще&nbsp;
          em ремонт Айфона 6 Плюс
          | &nbsp;требуется после повреждений, вызванных неаккуратным обращением с устройством или нарушением правил эксплуатации. Не все пользователи понимают, что их ежедневный помощник, с помощью которого они решают множество задач, является, в первую очередь, сложным и чувствительным к условиям эксплуатации электронным прибором. Любые удары, попадание влаги или пыли внутрь корпуса, перегрев, силовые воздействия на корпус и экран могут привести к повреждениям различной степени.
        p
          | Большой экран, которым выделяется эта модель Айфона, является наиболее подверженной риску повреждений частью устройства. Компания Apple сделала немало, чтобы усилить прочность защитного стекла на экране смартфона, но оно по прежнему уязвимо при падениях и ударах о твердые поверхности. Небольшие сколы и трещины на стекла не только негативно влияют на внешний вид аппарата, но также ухудшают отзывчивость сенсора. Многие небольшие сервисные мастерские предлагают такую услугу, как&nbsp;
          strong замена стекла iPhone 6 Plus
          | &nbsp;, но не говорят о том, что замена только одного из компонентов дисплейного модуля не сможет вернуть устройству такую же работоспособность, как до поломки.
        p
          | Дисплейный модуль, который состоит из экрана, сенсора и защитного стекла, требует тщательной подгонки и настройки каждого их этих компонентов для достижения идеальной совместимости во время использования. Это возможно осуществить только в заводских условиях. именно поэтому в сертифицированных сервисных центрах производится&nbsp;
          a(href='http://service-iphone.com.ua/remont-iphone-6plus/zamena-ekrana', title='замена дисплея iPhone 6 Plus') замена дисплея iPhone 6 Plus
          |&nbsp;как целого модуля, на произведенный и настроенный на заводах компании, к тому же, имеющий гарантийный срок.
      div(itemscope='', itemtype='http://schema.org/Product')
        span(itemprop='name', style='display:none')
          | iPhone 6 Plus
        | Overall rating:&nbsp;
        span(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
          strong
            span.value(itemprop='ratingValue')
              | 5
          |  out of&nbsp;
          strong
            span(itemprop='bestRating') 5
          | &nbsp;based on&nbsp;
          span.votes(itemprop='reviewCount')
            | 15
          |  reviews.
      br
      p.cf
        span.pull-left
          i.fa.fa-arrow-left
          | &nbsp;&nbsp;
          a(href="/remont-iphone-6") Цены на ремонт iPhone 6
        span.pull-right
          a(href="/remont-iphone-6s") Цены на ремонт iPhone 6s
          | &nbsp;&nbsp;
          i.fa.fa-arrow-right
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 6 plus') Ремонт iPhone 6 Plus
      h2 Замена стекла iPhone 6 plus в Киеве
      .row
        .col-xs-12.col-sm-4
          img(src='/img/new/remont/iphone-6-plus.jpg', alt='Картинка:Ремонт iPhone 6 Plus', title="Ремонт iPhone 6 Plus в Сервисном центре Apple в Киеве")
        .col-xs-12.col-sm-8
          include ../../templates/price-table
