extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'iphone 5'})

block content
  .container
    section.repear
      h1.text-center(title='Ремонт iPhone 5') Ремонт iPhone 5
      h2(title="Цены на Ремонт айфона 5 в Киеве") Цены на Ремонт iPhone 5 в Киеве
      .row
        .col-xs-12.col-sm-9
          include ../../templates/price-table
        .col-xs-12.col-sm-3
          img.sub-header__img(src='/img/iphone/remont-iphone-5.jpg', alt='Картинка:Ремонт iPhone 5', srcset="/img/iphone/remont-iphone-5.jpg 1x, /img/iphone/retina/remont-iphone-5.jpg 2x", title="Ремонт iPhone 5 в Сервисном центре Apple в Киеве")
    .mb20.content-text
      .row
        .col-sm-12
          h2(title='Ремонт, Замена стекла iPhone 5') Качественный ремонт и замена стекла iPhone 5
          p
            | Наш сервисный центр разработал собственную методику контроля качества работы сотрудников . В других компаниях
            | телефон могут собрать небрежно, оставив заметные щели и незакрученные винтики. У нас за подобную
            | неаккуратность мастер получает значительный штраф.
          p
            | И все же в нашей кропотливой работе иногда случаются недочеты, поэтому мы предоставляем 
            | 6 месяцев гарантии и всегда исправляем недочеты. Если дефект был обнаружен только дома, тогда мы отправим курьера, решим имеющуюся
            | проблему и доставим телефон обратно, а самое главное сделаем все это абсолютно бесплатно и максимально
            | быстро.
          h3(title='Немного про ремонт iPhone 5') Немного про ремонт Айфон 5 и зарождение модели
          p
            | Появление Apple Айфон 5 ожидали с большим интересом, поскольку предыдущий аппарат &nbsp;
            a(href='/remont-iphone4s') iPhone 4S
            | &nbsp; откровенно разочаровал истинных приверженцев марки. Во многих
            | странах даже через длительный период после дня официального старта продаж достать телефон было очень
            | проблематично.
            | 
          p
            | Наша компания производит &nbsp;
            strong(title="ремонт iphone 5 в Киеве") ремонт iphone 5
            | &nbsp;с самого начала его выхода. Запчасти на данную модель появились
            | достаточно быстро. Наши мастера приобрели значительный опыт ремонта телефона iPhone 5. Мы окажем
            | квалифицированную помощь и затратим на это минимум времени.
          h3(title='Замена стекла Айфон 5') Замена стекла Айфон 5
          p
            | Самой распространенной проблемой в ремонте айфон 5 является&nbsp;
            a(href='/razbilos-steklo-iphone') замена стекла
            |. Мастера нашего специализированного центра легко справятся с заменой стекла
            | на телефоне. Аналогично моделям iPhone 4 и iPhone 4S стекло iPhone 5 представляет собой неразделенный
            | дисплейный модуль, который формируется из дисплея, тачскрина и защитного стекла. Перед выходом новой модели
            | ходили слухи, что она будет иметь дополнительную защиту от возможного проникновения влаги. Некоторые даже
            | думали о полностью герметичном аппарате, который способен предотвратить любое попадание воды внутрь. Однако
            | после официального появления стало понятно, что все предположения не оправдались и новый iPhone 5 защищен не
            | лучше своих предшественников.

          p Рекомендуем Вам ознакомиться с ценами на &nbsp;
            a(href='/remont-iphone-5s', title='ремонт iphone 5s в Киеве') ремонт iPhone 5s
            | &nbsp;он имеет схожие технические характеристики с iPhone 5.

          div(itemscope='', itemtype='http://schema.org/Product')
            span(itemprop='name', style='display:none')
              | iPhone 5
            | Overall rating:&nbsp;
            span(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating')
              strong
                span.value(itemprop='ratingValue')
                  | 4.9
              |  out of&nbsp;
              strong
                span(itemprop='bestRating') 5
              | &nbsp;based on&nbsp;
              span.votes(itemprop='reviewCount')
                | 18
              |  reviews.
          br
          p.cf
            span.pull-left
              i.fa.fa-arrow-left
              | &nbsp;&nbsp;
              a(href="/remont-iphone-se") Цены на ремонт iPhone se
            span.pull-right
              a(href="/remont-iphone-5c") Цены на ремонт iPhone 5c
              | &nbsp;&nbsp;
              i.fa.fa-arrow-right