extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center(itemscope, itemtype='http://schema.org/Product')
          img.sub-header__img(src='../img/iphone/iphone6.jpg', alt='Ремонт iPhone 6')
          div.raiting
            meta(itemprop='name', content='iPhone 6')
            meta(itemprop='description', content=description)
            meta(itemprop='url', content='http://service-iphone/remont-iphone-6')
          .raiting__value(itemprop='aggregateRating', itemtype='http://schema.org/AggregateRating')
            span.raiting__stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              //i.fa.fa-star-o
            span.raiting-text
              span.raiting__score(itemprop="ratingValue") 5
              | &nbsp;(голосов&nbsp;
              span.raiting__count(itemprop="reviewCount") 15
              | )
        .col-sm-4
          h1(title='Ремонт iPhone 6') Ремонт iPhone 6
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        p
          | Наш сервисный центр выполняет ремонт iPhone 6 и обладает всеми техническими
          | возможностями для проведения самых сложных работ. Благодаря высокой квалификации и большому практическому опыту
          | сотрудников Service iPhone мы быстро выявим причины неисправности и за считанные часы устраним возможные
          | неисправности смартфона. Мы готовы выполнить ремонт &nbsp;
          strong iPhone 6 в Киеве
          | &nbsp; любой сложности, который
          | будет проведен в самые короткие сроки. Доверив решение проблем с девайсом нашим специалистам, Вы можете смело
          | рассчитывать на качественную профессиональную помощь.
        p
          | Нужно понимать, что ремонт «яблочных» смартфонов последнего поколения – достаточно сложная задача и кропотливая
          | работа. Но высокий профессиональный уровень специалистов нашего сервисного центра позволяет выполнять срочный
          | ремонт iPhone 6 без проведения дополнительной диагностики, часто даже в присутствии клиента. В более сложных
          | случаях прежде, чем приступить к ремонту и выяснить, по какой причине перестал работать iPhone 6, мастера
          | проводят диагностику смартфона и только после этого приступают у замене вышедших из строя деталей и компонентов.
          | Все запасные части, которые используются в процессе ремонта, имеют высокое качество и изготовлены проверенными
          | производителями. По желанию клиента мы можем использовать фирменные детали, а можем заменить их более дешевыми,
          | но не менее качественными аналогами.
        p
          | Мы прекрасно понимаем, сколько проблем появляется, когда не работает iPhone 6, поэтому идем своим клиентам
          | навстречу и в исключительных случаях принимаем смартфоны на ремонт вне очереди. Ускоряет ремонт и качественная
          | диагностика смартфона, при проведении которой используются наработанные ранее материалы и самое современное
          | специальное оборудование. На каждый отремонтированный смартфон предоставляется гарантия до 6 месяцев, а со
          | стоимостью деталей и работ по их замене клиент может ознакомиться в прилагаемом к гарантийному листу акте
          | проведенных работ.
        p
          | Если у Вас &nbsp;
          a(href='/iphone-ne-zaryazhaetsya', title='Не заражяется iphone') не работает iPhone 6
          | &nbsp; или
          | возникли проблемы с его эксплуатацией, квалифицированные менеджеры Service iPhone ответят на все интересующие
          | вопросы, а наши мастера помогут решить все проблемы в кратчайшие сроки и на самых выгодных для Вас условиях.

  .container
    section.repear
      h2.repear__title Цены на Ремонт iPhone 6
      h3.pricelist__heading Основное
      include ../../templates/price-table
        
    
