extends ../../../layout

block content
  .sub-header
    .container
      .row
        .col-xs-12
          h1.text-center(title='Ремонт MacBook Pro A1278') Ремонт MacBook pro A1278
      .sub-header__description
        | Сервисный центр в Киеве Service Apple осуществляет&nbsp;
        strong ремонт MacBook Pro A1278
        |&nbsp;по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт MacBook pro A1278
      h3.pricelist__heading Основное
      include ../../../templates/price-table
