extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена стекла iPad 4
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad4.jpg', title='Ремонт iPad Киев', alt='Ремонт iPad Киев')
        p
          | Независимо от надежности и качества электроники, самым уязвимым элементом любого планшета является стекло экрана.
          a(href='http://service-iphone.com.ua/remont-ipad4', title='Замена стекла iPad 4') Замена стекла iPad 4
          |  является одной из самых распространенных и востребованных услуг по ремонту планшетов компании
          |   Apple.
        p
          | Причинами повреждений стекла чаще всего являются удары в результате падения гаджета на твердую поверхность либо
          | неаккуратного обращения.
          a(href='http://service-iphone.com.ua', title='Ремонт iPad 4') Ремонт iPad 4
          |  в виде замены стекла производят многие сервисные центры и мастерские. И если,
          |   на первый взгляд, поломка не кажется слишком серьезной, лучше, все-таки, не заниматься заменой стекла самостоятельно,
          |   но обратиться в авторизованный сервисный центр.
        p
          | Особенности конструкции планшета накладывают свой отпечаток на то, как производится
          a(href='http://service-iphone.com.ua/ipad-remont', title='ремонт Айпад 4') ремонт Айпад 4
          | . В случае с
          |   разбитым стеклом не стоит забывать, что оно очень тесно связано с сенсором. Это требует использования специального
          |   оборудования и знания конструкции устройства для аккуратного и качественного демонтажа поврежденного компонента.
        p
          | Обязательным условием для качественной
          strong замены стекла в iPad 4
          |  является высокий профессиональный уровень мастера. Если
          |   за дело возьмется человек без опыта ремонта планшетов iPad, это может обернуться еще большими проблемами. В
          |   авторизованном производителем сервисном центре
          b стекло вашего iPad 4
          |  заменят очень быстро, качественно, и с
          |   гарантией.
