extends layout

block content
  div.text-center
    h1 Ой, что-то пошло не так. Ошибка - 404
    img(src='/img/404.jpg', alt='Картинка:Страница не найдена', title='Страница не найдена')
  //h1= message
  //h2= error.status
  //pre #{error.stack}
