footer.footer
  .container
    .row.text-center
      .col-xs-12
        nav.sosial
          a.sosial__item(href="https://www.facebook.com/ServiceiPhoneUA/", target="_blank")
            i.fa.fa-facebook
          a.sosial__item(href="https://twitter.com/Serviceiphoneua", target="_blank")
            i.fa.fa-twitter
          a.sosial__item(href="https://www.instagram.com/service.apple.ua/", target="_blank")
            i.fa.fa-instagram
          a.sisial__item(href="https://plus.google.com/109962936005483548770", target="_blank")
            i.fa.fa-google-plus
          a.sosial__item(href="https://www.instagram.com/service.apple.ua/", target="_blank")
            i.fa.fa-linkedin
          a.sosial__item(href="https://vk.com/ServiceiPhoneUA", target="_blank", target="_blank")
            i.fa.fa-vk

      .col-xs-12
        .mb5.show-desktop
          a(href='/remont-iphone') Рассчитать цену ремонта
      .col-xs-12
        nav
          a.footer-link(href='/remont-iphone3g', title='ремонт iPhone 3G и 3GS в Киеве') ремонт iPhone 3G и 3GS
          a.footer-link(href='/remont-iphone4', title='ремонт iPhone 4 в Киеве') ремонт iPhone 4
          a.footer-link(href='/remont-iphone4s', title='ремонт iPhone 4s в Киеве') ремонт iPhone 4s
          a.footer-link(href='/remont-iphone5', title='ремонт iPhone 5 в Киеве') ремонт iPhone 5
          a.footer-link(href='/remont-iphone-5c', title='ремонт iPhone 5C в Киеве') ремонт iPhone 5C
          a.footer-link(href='/remont-iphone-5s', title='ремонт iPhone 5S в Киеве') ремонт iPhone 5S
          a.footer-link(href='/remont-iphone-6', title='ремонт iPhone 6 в Киеве') ремонт iPhone 6
          a.footer-link(href='/remont-iphone-6plus', title='ремонт iPhone 6 Plus в Киеве') ремонт iPhone 6 Plus
          a.footer-link(href='/remont-iphone-6s', title='ремонт iPhone 6s в Киеве') ремонт iPhone 6s
          a.footer-link(href='/remont-iphone-6splus', title='ремонт iPhone 6s Plus в Киеве') ремонт iPhone 6s Plus
          a.footer-link(href='/remont-iphone-se', title='ремонт iPhone SE в Киеве') ремонт iPhone SE
          a.footer-link(href='/remont-iphone-7', title='ремонт iPhone 7 в Киеве') ремонт iPhone 7
          a.footer-link(href='/remont-iphone-7plus', title='ремонт iPhone 7 Plus в Киеве') ремонт iPhone 7 Plus
