footer.footer
  .container
    .row.text-center
      .col-xs-12
        .mb5
          a(href='/remont-iphone') Рассчитать цену ремонта
      .col-xs-12
        nav
          a.footer-link(href='/remont-iphone3g', title='ремонт iPhone 3G и 3GS в Киеве') iPhone 3G и 3GS
          a.footer-link(href='/remont-iphone4', title='ремонт iPhone 4 в Киеве') iPhone 4
          a.footer-link(href='/remont-iphone4s', title='ремонт iPhone 4s в Киеве') iPhone 4s
          a.footer-link(href='/remont-iphone5', title='ремонт iPhone 5 в Киеве') iPhone 5
          a.footer-link(href='/remont-iphone-5c', title='ремонт iPhone 5C в Киеве') iPhone 5C
          a.footer-link(href='/remont-iphone-5s', title='ремонт iPhone 5S в Киеве') iPhone 5S
          a.footer-link(href='/remont-iphone-6', title='ремонт iPhone 6 в Киеве') iPhone 6
          a.footer-link(href='/remont-iphone-6plus', title='ремонт iPhone 6 Plus в Киеве') iPhone 6 Plus
          a.footer-link(href='/remont-iphone-6s', title='ремонт iPhone 6s в Киеве') iPhone 6s
          a.footer-link(href='/remont-iphone-6splus', title='ремонт iPhone 6s Plus в Киеве') iPhone 6s Plus