header.header
  .header__container.cf
    button#navbar-toggle.pull-right.navbar-toggle.hide-tablet
      span.icon-bar
      span.icon-bar
      span.icon-bar
    .site-logo.text-center.col-sm-3
      -if (path === '/')
        span.site-logo__link
          img.site-logo__img(src='/img/logo.png', alt='Картинка:Service-Iphone ремонт техники Apple iphone ipad macbook', title='Service-iPhone - ремонт техники Apple.')
          span Service-iPhone
      -else
        a.site-logo__link(href='/')
          img.site-logo__img(src='/img/logo.png', alt='Картинка:Service-Iphone ремонт техники Apple iphone ipad macbook', title='Service-iPhone - ремонт техники Apple.')
          span Service-iPhone

    nav#top-nav.top-navigation.col-sm-9
      each item in [{'name':'Ремонт iPhone', title: 'Ремонт iPhone', 'url': '/iphone'},{'name':'Ремонт iPad', title: 'Ремонт iPad', 'url': '/ipad-remont'},{'name':'Ремонт MacBook', title: 'Ремонт MacBook', 'url': '/remont-macbook'},{'name':'Отзывы', title: 'Отзывы', 'url': '/feedback'},{'name':'Контакты', title: 'Контакты', 'url': '/contacts'}]
        if (path === item.url)
          span.top-navigation__link.is-active
            span.top-navigation--text(title='#{item.title}')=item.name
        else
          a.top-navigation__link(href='#{item.url}')
            span.top-navigation--text(title='#{item.title}')=item.name
      .top-navigation__last
        .g-plusone(data-size="medium" data-annotation="none" data-href="https://plus.google.com/109962936005483548770")
        .fb-like(data-href='https://www.facebook.com/ServiceiPhoneUA/', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='false')

  .header-section
    .container
      .col-xs-12.col-sm-6.text-center
        .header-section__contacts__title
          i.fa.fa-map-marker.mr5
          span м Золотые Ворота
          br
          span ул. Богдана Хмельницкого, 32

        a.header-section__contacts__tel(href='tel:+380631104224') (063) 110-42-24
        a.header-section__contacts__tel(href='tel:+380992504224') (099) 250-42-24
        a.header-section__contacts__tel(href='tel:+380981024224') (098) 102-42-24
        br
        span.header-section__schedule--description
          span пн-пт 10:00-19:00
          br
          span сб 11:00 - 17:00

      .col-xs-12.col-sm-6.text-center
        .header-section__contacts__title
          i.fa.fa-map-marker.mr5
          span м Олимпийская
          br
          span ул. Большая Васильковская 74 офис 2
        a.header-section__contacts__tel(href='tel:+380631104224') (063) 110-42-24
        a.header-section__contacts__tel(href='tel:+380992504224') (099) 250-42-24
        a.header-section__contacts__tel(href='tel:+380981024224') (098) 102-42-24
        br
        span.header-section__schedule--description
          span пн-пт 10:00-19:00
          br
          span сб 11:00 - 17:00

#overlay-courier.overlay
  #courier.modal--courier
    button.btn-close &#10006;
    header.modal-heading Вызвать курьера
    form#courier-form(action='contact-form', method='POST')
      .field
        input.field__controll(type='text', name='name', required, placeholder='Имя')
      .field
        input.field__controll(type='tel', name='tel', required, placeholder='Телефон')
      .field
        textarea(name='msg') Примечание
      .field
        .field__controll
          input.sbm.btn-primary(type='submit', value='Вызвать')