header#header.header
  .header__container.cf
    section.header__top-section
      button#navbar-toggle.navbar-toggle.hide-desktop
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .logo
        -if (path === '/')
          span.logo__link
            include ./modules/logo
        -else
          a.logo__link(href='/')
            include ./modules/logo
      nav.sub-nav.show-desktop
        //a.sub-nav__link(href='#') Блог
        //a.sub-nav__link(href='#') Доставка
        //a.sub-nav__link(href='/feedback') Отзывы
        a.sub-nav__link(href='/contacts') Контакты
      .pull-right.header__contacts.show-desktop
        span.header__phones
          a.header__tel(href="tel:+380631104224") (063) 110-42-24
          br
          a.header__tel(href="tel:+380992504224") (099) 250-42-24
          br
          a.header__tel(href="tel:+380981024224") (098) 102-42-24
        span
          |Адрес:&nbsp;
          strong ул. Богдана Хмельницкого, 32
          br
          | пн-пт: 10:00-19:00
          br
          | сб, вс: выходной

      //a.btn.btn--primary.pull-right.btn--calc-price.show-desktop(href="/remont-iphone") Просчет цены

    nav#top-nav.nav
      .nav__wrp.cf
        a.nav__link(href='/iphone')
          include modules/svg/remont-iphone
          span.nav__text(title='Ремонт iPhone') Ремонт iPhone
        a.nav__link(href='/ipad-remont')
          include modules/svg/remont-ipad
          span.nav__text(title='Ремонт iPad') Ремонт iPad
        a.nav__link(href='/remont-macbook')
          include modules/svg/remont-macbook
          span.nav__text(title='Ремонт MacBook') Ремонт MacBook
        a.nav__link(href='/remont-iwatch')
          include modules/svg/remont-apple-watch
          span.nav__text(title='Ремонт Apple Watch') Ремонт Apple Watch
        .nav__separator
          //a.nav__link.nav__link--second(href='#') Блог
          //a.nav__link.nav__link--second(href='#') Доставка
          //a.nav__link.nav__link--second(href='#') Отзывы
          a.nav__link.nav__link--second(href='/contacts') Контакты
          //a.nav__link.btn.btn--primary.btn--calc-mobile(href="/remont-iphone") Просчет цены
        //.nav__last
          .g-plusone(data-size="medium" data-annotation="none" data-href="https://plus.google.com/109962936005483548770")
          .fb-like(data-href='https://www.facebook.com/ServiceiPhoneUA/', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='false')