header.header(itemscope, itemtype="http://schema.org/LocalBusiness")
  .header__container.cf
    .site-logo.text-center.col-md-2.col-sm-4.show-tablet
      a.site-logo__link(itemprop='url', href='/', title='Service-iPhone - ремонт техники Apple.')
        img.site-logo__img(itemprop="image", src='/img/logo.png', alt='Service-Iphone ремонт техники Apple iphone ipad macbook')
        span(itemprop="name") Service-iPhone
    .hide-tablet.cf
      button#navbar-toggle.pull-right.navbar-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
    nav#top-nav.top-navigation.col-lg-6.col-md-7.col-sm-8
      a.top-navigation__link(href='/iphone', class=(menuActive === 'iphone' ? 'is-active' : '' ))
        span.top-navigation--text(title='Ремонт iPhone') iPhone
      a.top-navigation__link(href='/ipad-remont', class=(menuActive === 'ipad' ? 'is-active' : '' ))
        span.top-navigation--text(title='Ремонт iPad') iPad
      a.top-navigation__link(href='/macbook-remont', class=(menuActive === 'imac' ? 'is-active' : '' ))
        span.top-navigation--text(title='Ремонт MacBook') MacBook
      a.top-navigation__link(href='/feedback', class=(menuActive === 'feedback' ? 'is-active' : '' ))
        span.top-navigation--text(title='Отзывы') Отзывы
      a.top-navigation__link(href='/#contacts', rel='nofollow')
        span.top-navigation--text(title='Контакты') Контакты
    .col-md-2.col-xs-12.show-desktop
      a.btn.btn-link(target='_blank', title='Оставь комментарий и получи 10% скидки на ремонт', href='https://plus.google.com/109962936005483548770/about') Получи 10% скидки за отзыв!
  section.header-section
    .container
      .header-section__contacts.left.mr20
        div
          a.header-section__contacts__title(rel="nofollow", href="#contacts")
            i.fa.fa-map-marker.mr5
            |ул. Богдана Хмельницкого, 32
        div
          a.header-section__contacts__tel(href='tel:0961253246', itemprop='telephone') (096) 125-32-46
      .header-section__contacts.left.mr30
        div
          a.header-section__contacts__tel(href='tel:0937229156', itemprop='telephone') (093) 722-91-56
        div
          a.header-section__contacts__tel(href='tel:0665669752', itemprop='telephone') (066) 566-97-52
      .header-section__schedule.left.mr30
        a.header-section__schedule--description(href="#contacts", rel="nofollow", itemprop="openingHoursSpecification", itemscope, itemtype="http://schema.org/OpeningHoursSpecification")
          span(itemprop="dayOfWeek", itemscope, itemtype="http://schema.org/DayOfWeek")
            span(itemprop="name") пн-пт&nbsp;
          span(itemprop="opens") 10:00-
          span(itemprop="closes") 19:00
          br
          span(itemprop="dayOfWeek", itemscope, itemtype="http://schema.org/DayOfWeek")
            span(itemprop="name") сб&nbsp;
          span(itemprop="opens") 11:00
          | -
          span(itemprop="closes") 17:00
          br
          //span(itemprop="dayOfWeek", itemscope, itemtype="http://schema.org/DayOfWeek")
          //  span(itemprop="name") вс
          //| &nbsp;-&nbsp;
          //| выходной
      .header-section__courier.left.mr30
        button#call-courier.btn.btn-primary.btn-lg.show-desktop(rel='nofollow', href='mailto:agsremont@gmail.com')
          i.icon-running.aa.mr5
          | Вызвать курьера
      .header-section__warranty.left
        a.header-section__warranty__link(href='/warranty')
          i.icon-warranty.aa
          span.header-section__warranty--period Гарантия 6 месяцев
          span.header-section__warranty--all на все ремонты

#overlay-courier.overlay
  #courier.modal--courier
    button.btn-close &#10006
    header.modal-heading Вызвать курьера
    form#courier-form(action='contact-form', method='POST')
      .field
        input.field__controll(type='text', name='name', required, placeholder='Имя')
      .field
        input.field__controll(type='tel', name='tel', required, placeholder='Телефон')
      .field
        textarea(name='msg') Примечание
      .field
        .field__controll
          input.sbm.btn-primary(type='submit', value='Вызвать')