header.header(itemscope, itemtype="https://schema.org/LocalBusiness")
  .header__container.cf
    button#navbar-toggle.pull-right.navbar-toggle.hide-tablet
      span.icon-bar
      span.icon-bar
      span.icon-bar
    .site-logo.text-center.col-md-3.col-sm-3
      a.site-logo__link(itemprop='url', href='/', title='Service-iPhone - ремонт техники Apple.')
        img.site-logo__img(itemprop="image", src='/img/logo.png', alt='Service-Iphone ремонт техники Apple iphone ipad macbook')
        span(itemprop="name") Service-iPhone

    nav#top-nav.top-navigation.col-md-9.col-sm-9
      a.top-navigation__link(href='/iphone', class=(menuActive === 'iphone' ? 'is-active' : '' ))
        span.top-navigation--text(title='Ремонт iPhone') iPhone
      a.top-navigation__link(href='/ipad-remont', class=(menuActive === 'ipad' ? 'is-active' : '' ))
        span.top-navigation--text(title='Ремонт iPad') iPad
      a.top-navigation__link(href='/remont-macbook', class=(menuActive === 'imac' ? 'is-active' : '' ))
        span.top-navigation--text(title='Ремонт MacBook') MacBook
      a.top-navigation__link(href='/feedback', class=(menuActive === 'feedback' ? 'is-active' : '' ))
        span.top-navigation--text(title='Отзывы') Отзывы
      a.top-navigation__link(href='/warranty', class=(menuActive === 'warranty' ? 'is-active' : '' ))
        span.top-navigation--text(title='Гарантия') Гарантия
      a.top-navigation__link(href='/contacts', class=(menuActive === 'contacts' ? 'is-active' : '' ))
        span.top-navigation--text(title='Контакты') Контакты
  section.header-section
    .container
      .col-xs-12.col-sm-6.text-center
        .header-section__contacts__title
          i.fa.fa-map-marker.mr5
          span ул. Богдана Хмельницкого, 32
          span.is-hidden(itemprop="address") вул. Богдана Хмельницького, 32, оф.5 Kyiv, Ukraine, 02000

        a.header-section__contacts__tel(href='tel:0961253246', itemprop="telephone") (096) 125-32-46
        a.header-section__contacts__tel(href='tel:0937229156', itemprop="telephone") (093) 722-91-56
        a.header-section__contacts__tel(href='tel:0665669752', itemprop="telephone") (066) 566-97-52
        br
        span.header-section__schedule--description
          span(itemprop="openingHours", content="Пн,Вт,Ср,Чт,Пт 09:00-19:00") пн-пт 10:00-19:00
          br
          span(itemprop="openingHours", content="Сб 11:00-17:00") сб 11:00 - 17:00
          br

      .col-xs-12.col-sm-6.text-center
        .header-section__contacts__title
          i.fa.fa-map-marker.mr5
          span м Минская
          span.is-hidden(itemprop="streetAddress") м Минская
            span.is-hidden(itemprop="addressLocality") Kyiv
            span.is-hidden(itemprop="addressRegion") Ukraine
            span.is-hidden(itemprop="postalCode") 02000
        a.header-section__contacts__tel(href='tel:0631104224', itemprop="telephone") (063) 110-42-24
        a.header-section__contacts__tel(href='tel:0992504224', itemprop="telephone") (099) 250-42-24
        a.header-section__contacts__tel(href='tel:0981024224', itemprop="telephone") (098) 102-42-24
        br
        span.header-section__schedule--description
          span(itemprop="openingHours", content="Пн,Вт,Ср,Чт,Пт 09:00-19:00") пн-пт 10:00-19:00
          br
          span(itemprop="openingHours", content="Сб 11:00-17:00") сб 11:00 - 17:00
          br

#overlay-courier.overlay
  #courier.modal--courier
    button.btn-close &#10006
    header.modal-heading Вызвать курьера
    form#courier-form(action='contact-form', method='POST')
      .field
        input.field__controll(type='text', name='name', required, placeholder='Имя')
      .field
        input.field__controll(type='tel', name='tel', required, placeholder='Телефон')
      .field
        textarea(name='msg') Примечание
      .field
        .field__controll
          input.sbm.btn-primary(type='submit', value='Вызвать')