extends layout

block content
  .container
    h1.text-center.index-title Сервисный центр по ремонту техники Apple.
    nav.nav.row.show-tablet
      h2.col-sm-3.col-lg-offset-1
        a.nav__link(href="/iphone", title="Ремонт iPhone в Киеве")
          .nav__box
            img(src='/img/remont-iphone.jpg', alt='Ремонт iPhone в Сервисном центре Apple - Service-iPhone')
          | Ремонт iPhone
      h2.col-sm-3
        a.nav__link(href="/ipad-remont", title="Ремонт iPad в Киеве")
          .nav__box
            img(src='/img/remont-ipad.jpg', alt='Ремонт iPad в Сервисном центре Apple - Service-iPhone')
          | Ремонт iPad
      h2.col-sm-6.col-md-4
        a.nav__link(href="/macbook-remont", title="Ремонт MacBook в Киеве")
          .nav__box
            img(src='/img/remont-macbook.jpg', alt='Ремонт MacBook в Сервисном центре Apple - Service-iPhone')
          | Ремонт MacBook

  .container
    .cf.benefits
      .col-md-3.show-desktop
        img(src='img/iphone6s-remont.jpg', alt='Ремонт iPhone. #Ремонт Айфона в Киеве', style="max-width: 200px;")
      .col-md-9.col-xs-12
        p.benefits__heading Почему Service-iPhone?
        ol.benefits__list
          li.fa.fa-stethoscope <span class="b">Диагностика</span> проводится бесплатно!
          li.fa.fa-rocket <span class="b">Скорость</span>: Мы ценим время наших клиентов и выполняем большинство ремонтов в первый же час!
          li.fa.fa-check <span class="b">Качество</span>: Для ремонта используем высококачественные и оригинальные запчасти.
          li.fa.fa-balance-scale <span class="b">Стоимость</span>: Цены в Service-iPhone ниже, чем у конкурентов!
          li
            span.icon-security-checked.aa
            |<span class="b">Гарантия</span>: На все виды ремонтных работ мы даем гарантию от 6 месяцев.
          li.fa.fa-user-secret <span class="b">Конфиденциальность</span> ваших личных данных, ремонт производим в присутствии клиента.
          //li.fa.fa-map-marker Удобное расположение офиса.
          //li.fa.fa-check-circle-o Service-iPhone - официальный сервисный центр
          //li.fa.fa-calendar Более 3 лет на рынке
          //li.fa.fa-cogs Собственный склад оригинальных запчастей.


    p.title(title='Ремонт техники Apple в сервис-центре «Service iPhone»') Ремонт техники Apple в сервис-центре «Service iPhone»
    p Мастера сервисов Service iPhone производят <strong>ремонт всех моделей iPhone, iPad, iPod, MacBook и iMac</strong>. <br/>Часто наши клиенты интересуются следующими проблемами:
    .row
      .col-xs-12.col-sm-4.col-sm-offset-1
        ul.trbl-list
          li: a(href='/ne-rabotaet-displey-iphone', title='Не работает дисплей iPhone') разбит экран/дисплей;
          li: a(href='/razbilos-steklo-iphone', title='Замена стекла iPhone') треснуло стекло на iPhone;
          li: a(href='/iphone-ne-vklyuchaetsya', title='не включается айфон') не включается айфон
          li разбита задняя крышка;
          li: a(href='/iphone-byistro-razryazhaetsya', title='быстро разряжается айфон') аккумулятор плохо держит заряд;
          li не работает модуль wi-fi;
          li ремонт аудиокодека;
          li сгорел контроллер питания;
          li не работает динамик;
          li тихий звук полифонического динамика;
          li: a(href='/voda-iphone', title='iPhone попала вода') в iPhone попала вода;
          li не работает кнопка iHome;
          li запала кнопка Power/включения;
      .col-xs-12.col-sm-7
        script(type='text/javascript', src='//vk.com/js/api/openapi.js?121')
        // VK Widget
        #vk_groups
        script(type='text/javascript').
          VK.Widgets.Group("vk_groups", {mode: 0, width: "420", height: "350", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 107038011);

    hr.mt20
    .row
      .col-xs-12
        p.title.text-center: b Как происходит ремонт
    .row
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 1
          | Приём аппарата&nbsp;
          i.fa.fa-user-md
        p Клиенты обслуживаются без записи. Секретари принимают аппараты в ремонт как только клиент приходит в офис. Звонить заранее не обязательно.</p>
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 2
          |Диагностика&nbsp;
          i.fa.fa-stethoscope
        p В сервисных центрах Service iPhone <strong>диагностика выполняется бесплатно</strong>. Даже если клиент отказывается от ремонта, диагностика не оплачивается.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 3
          |Согласовываем цену &nbsp;
          i.fa-usd.fa
        p После диагностики мы связываемся с клиентом для согласования цены.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 4
          |Ремонтируем устройство &nbsp;
          i.fa-wrench.fa
        p Выполняем <strong>качественный ремонт</strong>, тщательно тестируем и отдаем владельцу исправный продукт фирмы Apple.

    hr
    .row.content-row
      .col-sm-4.col-xs-12.content-block
          h3 Гарантия &nbsp;
            i.icon-security-checked.aa
          p
            | На все аппараты&nbsp;
            a(title='Гарантия', href='/warranty') действует гарантия на 6 месяцев.
            | &nbsp;Она распространяется на запчасти и на работу мастера. Чтобы сдать телефон или ноутбук по гарантии достаточно иметь акт выполненных работ.
      .col-sm-8.col-xs-12.content-block
        div
          h3
            | Длительность ремонта &nbsp;
            i.icon-clock.aa
          p
            | После получения аппарата, свободный мастер сразу же приступает к ремонту или, если проблема не ясна, к
            | диагностике. Свободные мастера есть практически всегда.
        .row.content-row
          .col-sm-4.col-xs-12.content-block
            .content-img-left
              a(href='/')
                img(height='50', src='img/content/iphone_small.jpg', alt='Iphone картинка')
            div
              p
                a(href='/iphone') Ремонт iPhone
                | :
                br
                span.fa--gray
                  i.fa.fa-clock-o
                  |  30–40 минут
          .col-sm-4.col-xs-12
            .content-img-left
              a(title='Ремонт iPad', href='/ipad-remont')
                img(height='50', src='img/content/ipad_small.jpg', alt='Ipad mini image')
            div
              p
                a(title='Ремонт iPad', href='/ipad-remont') Ремонт iPad
                | &nbsp;и&nbsp;
                span(rel='nofollow', href='#remont-ipod/', title='Ремонт iPod') iPod
                span.fa--gray &nbsp;
                  i.fa.fa-clock-o
                  | 1–2 часа
          .col-sm-4.col-xs-12
            .content-img-left
              a(href='/macbook-remont')
                img(height='50', src='img/content/macbook_small.jpg', alt='MacBook pro ')
            p
              a(title='Ремонт MacBook', href='/macbook-remont') Ремонт MacBook
              | :
              br
              span.fa--gray
                i.fa.fa-clock-o
                |  1 день
      .col-xs-12.row
        .col-sm-4.col-xs-12
          h3 Запчасти &nbsp;
            i.icon-memory-module.aa
          p
            | Инженеры используют в ремонте оригинальные запчасти. Те запчасти, что отсутствуют у поставщиков, работники сервиса получают из купленных для разбора новых устройств. Стоимость запчастей включена в стоимость ремонта.

        .col-sm-4.col-xs-12
          h3
            | Отзывы &nbsp;
            i.icon-voice-presentation.aa
          p
            | За время работы компании, клиенты оставили&nbsp;
            a(title='Отзывы', href='/feedback') более 100 отзывов.
            | Все отзывы настоящие, с каждым из авторов можно связаться через ВКонтакте.
        .col-sm-4
          img(style='max-width: 200px; margin: 20px 0 0;', src='img/content/repear_iphone.jpg', alt='Ремонт iphone')