extends layout
block head
  script.
    dataLayer.push({'pageType': 'homepage'})
  script(type="application/ld+json").
    {
      "@context" : "http://schema.org",
      "@type" : "LocalBusiness",
      "priceRange":"$",
      "url":"https://service-iphone.com.ua/",
      "image":"https://service-iphone.com.ua/img/logo.png",
      "name":"Service-iPhone",
      "sameAs":"https://plus.google.com/u/0/109962936005483548770",
      "hasMap": "https://goo.gl/maps/62zFgY1gqPy",
      "telephone":"+380961253246",
      "telephone":"+380937229156",
      "telephone":"+380665669752",
      "openingHours": ["Пн,Вт,Ср,Чт,Пт 09:00-19:00"],
      "openingHours": ["Сб 11:00-17:00"],
      "address" : {
        "@type": "PostalAddress",
        "addressLocality": "Kyiv",
        "addressRegion": "Ukraine",
        "postalCode": "02000",
        "streetAddress": "вул. Богдана Хмельницького, 32",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "50.4460623",
          "longitude": "30.5073486"
        },
      },
      "hasMap": "https://goo.gl/maps/oWf5t1em3622",
      "telephone":"+380954311221",
      "telephone":"+380673011221",
      "telephone":"+380934211221",
      "openingHours": ["Пн,Вт,Ср,Чт,Пт 09:00-19:00"],
      "openingHours": ["Сб 11:00-17:00"],
      "address" : {
          "@type": "PostalAddress",
          "addressLocality": "Kyiv",
          "addressRegion": "Ukraine",
          "postalCode": "02000",
          "streetAddress": "вулиця Велика Васильківська, 74",
          "geo": {
          "@type": "GeoCoordinates",
          "latitude": "50.4317077",
          "longitude": "30.5156575"
        },
      },
      "hasMap": "https://goo.gl/maps/oWf5t1em3622",
      "telephone":"+380631104224",
      "telephone":"+380992504224",
      "telephone":"+380981024224",
      "openingHours": ["Пн,Вт,Ср,Чт,Пт 09:00-19:00"],
      "openingHours": ["Сб 11:00-17:00"],
      "address" : {
          "@type": "PostalAddress",
          "addressLocality": "Kyiv",
          "addressRegion": "Ukraine",
          "postalCode": "04205",
          "geo": {
          "@type": "GeoCoordinates",
          "latitude": "50.508763",
          "longitude": "30.502023"
        },
      },

      "email":"info@service-iphone.com.ua",
      "aggregateRating":{
          "@type":"AggregateRating",
          "ratingValue":"5",
          "reviewCount":"110"
        }

    }

block content
  .container
    h1.text-center.index-title(title="Сервисный центр по ремонту техники Apple.") Сервисный центр по ремонту техники Apple.
    nav.nav.row.show-tablet
      h2.col-sm-3.col-lg-4
        a.nav__link(href="/iphone")
          span.nav__box
            img(src='/img/remont-iphone.jpg', alt='Картинка:Ремонт iPhone в Сервисном центре Apple - Service-iPhone', title="Ремонт iPhone в Киеве")
          span.show-inline-desktop Цены на&nbsp;
          | Ремонт iPhone
      h2.col-sm-3
        a.nav__link(href="/ipad-remont")
          span.nav__box
            img(src='/img/remont-ipad.jpg', alt='Картинка:Ремонт iPad в Сервисном центре Apple - Service-iPhone', title="Ремонт iPad в Киеве")
          span.show-inline-desktop Цены на&nbsp;
          | Ремонт iPad
      h2.col-sm-6.col-md-4
        a.nav__link(href="/remont-macbook")
          span.nav__box
            img(src='/img/remont-macbook.jpg', alt='Картинка:Ремонт MacBook в Сервисном центре Apple - Service-iPhone', title="Ремонт MacBook в Киеве")
          span.show-inline-desktop Цены на&nbsp;
          | ремонт MacBook

  .container
    .row.benefits
      .col-md-3.show-desktop
        img(src='img/iphone6s-remont.jpg', alt='Картинка:Ремонт iPhone. #Ремонт Айфона в Киеве', title="Ремонт iPhone. #Ремонт Айфона в Киеве", style="max-width: 200px;")
      .col-md-9.col-xs-12
        p.benefits__heading Почему Service-iPhone?
        ol.benefits__list
          li.fa.fa-stethoscope <span class="b">Диагностика</span> проводится бесплатно!
          li.fa.fa-rocket <span class="b">Скорость</span>: Мы ценим время наших клиентов и выполняем большинство ремонтов в первый же час!
          li.fa.fa-check <span class="b">Качество</span>: Для ремонта используем высококачественные и оригинальные запчасти.
          li.fa.fa-balance-scale <span class="b">Стоимость</span>: Цены в Service-iPhone ниже, чем у конкурентов!
          li.fa
            span.icon-security-checked.aa
            | <span class="b">Гарантия</span>: На все виды ремонтных работ мы даем гарантию от 3 месяцев.
          li.fa.fa-user-secret <span class="b">Конфиденциальность</span> ваших личных данных, ремонт производим в присутствии клиента.
          //li.fa.fa-map-marker Удобное расположение офиса.
          //li.fa.fa-check-circle-o Service-iPhone - официальный сервисный центр
          //li.fa.fa-calendar Более 3 лет на рынке
          //li.fa.fa-cogs Собственный склад оригинальных запчастей.

    .show-desktop
      p.title(title='Ремонт техники Apple в сервис-центре «Service iPhone»') Ремонт техники Apple в сервис-центре «Service iPhone»
      p Мастера сервисов Service iPhone производят <strong>ремонт всех моделей iPhone, iPad, iPod, MacBook и iMac</strong>. <br/>Часто наши клиенты интересуются следующими проблемами:
      .row
        .col-xs-12.col-sm-4
          ul.trbl-list
            li: a(href='/ne-rabotaet-displey-iphone', title='Не работает дисплей iPhone') разбит экран/дисплей;
            li: a(href='/razbilos-steklo-iphone', title='Замена стекла iPhone') треснуло стекло на iPhone;
            li: a(href='/iphone-ne-vklyuchaetsya', title='не включается айфон') не включается айфон
            li разбита задняя крышка;
            li: a(href='/iphone-byistro-razryazhaetsya', title='быстро разряжается айфон') аккумулятор плохо держит заряд;
            li не работает модуль wi-fi;
            li ремонт аудиокодека;
            li сгорел контроллер питания;
            li не работает динамик;
            li тихий звук полифонического динамика;
            li: a(href='/voda-iphone', title='iPhone попала вода') в iPhone попала вода;
            li не работает кнопка iHome;
            li запала кнопка Power/включения;
        .col-xs-12.col-sm-4
          // VK Widget
          #vk_groups
        .col-xs-12.col-sm-4
          .fb-page(data-href='https://www.facebook.com/ServiceiPhoneUA/', data-tabs='timeline', data-small-header='false', data-height="350" ,data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ServiceiPhoneUA/')
              a(href='https://www.facebook.com/ServiceiPhoneUA/') Service-iphone


    hr.mt20
    .row
      .col-xs-12
        p.title.text-center: b Как происходит ремонт
    .row
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 1
          | Приём аппарата&nbsp;
          i.fa.fa-user-md
        p Клиенты обслуживаются без записи. Секретари принимают аппараты в ремонт как только клиент приходит в офис. Звонить заранее не обязательно.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 2
          | Диагностика&nbsp;
          i.fa.fa-stethoscope
        p В сервисных центрах Service iPhone <strong>диагностика выполняется бесплатно</strong>. Даже если клиент отказывается от ремонта, диагностика не оплачивается.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 3
          | Согласовываем цену &nbsp;
          i.fa-usd.fa
        p После диагностики мы связываемся с клиентом для согласования цены.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 4
          | Ремонтируем устройство &nbsp;
          i.fa-wrench.fa
        p Выполняем <strong>качественный ремонт</strong>, тщательно тестируем и отдаем владельцу исправный продукт фирмы Apple.

    hr
    .row.content-row
      .col-xs-12.content-block
        h2(title='Service-iphone - качественный сервис Apple (Киев). Все еще не знаете где сделать качественный ремонт техники Apple?')
          | Service-iphone - качественный сервис Apple в Киеве. Все еще не знаете где сделать ремонт техники Apple?
        p
          | Service-iphone -&nbsp;
          strong(title='сервисный центр Apple') сервисный центр Apple
          | , предоставляющий качественные услуги по ремонту гаджетов известной во всем мире корпорации. У нас работают специалисты, понимающие тонкости конструкций данных устройств. За время существования на рынке, мы решили множество проблем, связанных с поломкой продукции Apple, и завоевали доверие сотен потребителей.
        //div
        //  b Какие проблемы мы решаем?
        //h2(title='Ремонт iPhone в Киеве') Ремонт iPhone в Киеве
        //ol
        //  li
        //    | Разбит экран/дисплей. Нужна&nbsp;
        //    strong(title='замена стекла iPhone 7, 7 plus') замена стекла iPhone 7, 7 plus
        //    |&nbsp;или любой другой модели - с Service-iphone это не проблема. Мы произведем быстрый и качественный ремонт и Ваш смартфон снова будет, как новенький. Для ремонта используются оригинальные запчасти, поэтому результат будет долговечным.
        //  li
        //    | Треснуло стекло. Айфон может похвастаться прекрасной эстетикой, стильным дизайном и эргономикой. Однако прочность стекла не такая высокая, как хотелось бы. Чаще всего клиенты обращаются к нам именно с этой проблемой. Ее решение требует навыков и знаний, которыми мы владеем.&nbsp;
        //    em Замена дисплея iphone (Киев)
        //    | &nbsp;у нас можно произвести за 30 минут. Обратите внимание, что некоторые модели iPhone оснащены цельными конструкциями дисплей+стекло. Это означает, что замена стекла предусматривает и замену дисплея.
        //  li Не включается. Есть множество причин, по которым устройство может перестать включаться. Но это означает одно - ему нужна качественная диагностика и ремонт. Главное обратиться в наш сервисный центр вовремя. Возможно, Ваш смартфон может спасти только своевременный ремонт.
        //  li
        //    i Замена батареи iPhone
        //    | . Со временем все устройства теряют потребительские качества. Если Вы хотите продлить эксплуатационный срок гаджета и Вам нужна&nbsp;
        //    b замена батареи iPhone в Киеве
        //    |, тогда мы рады помочь Вам.
        //  li
        //    i Не работает модуль Wi-Fi
        //    |. В современном мире сложно представить повседневную жизнь без интернета, особенно если он нужен для работы. Чаще всего данная поломка связана с попаданием воды или сильным механическим повреждением. Для ремонта потребуется диагностика и определение точной причины поломки. После чего мы предоставим оптимальным ремонт именно для Вас.
        //  li Не заряжается. Такая поломка часто связана с неисправностью нижнего шлейфа. Рекомендуем в первую очередь проверить работоспособность зарядного устройства. Если оно в рабочем состоянии, тогда следует обратиться в сервисный центр.
        //  li Не работает тачскрин. Существует множество причин возникновения подобной поломки, но это может произойти даже без явных повреждений. Установить причину и определить пути решения можно только после диагностики.
        //  li
        //    | Тихий звук. Чаще всего в таких случаях требуется замена шлейфа или&nbsp;
        //    strong(title='ремонт динамика в iPhone') ремонт динамика в iPhone
        //    |. В независимости от причины поломки мы найдем решение.
        //  li Попала вода. Распространенная поломка, требующая немедленного ремонта. Только оперативный ремонт способен решить проблему. Поэтому поспешите.
        //  li Не работают кнопки. Причины - неаккуратное использование, механические повреждения и попадание грязи. Для устранения подобной проблемы необходимо поменять шлейф, отвечающий за нажатие.
        //  li Др.


    .row.content-row
      .col-sm-4.col-xs-12.content-block
        h3 Гарантия &nbsp;
          i.icon-security-checked.aa
        p
          | На все аппараты&nbsp;
          a(title='Гарантия', href='/warranty') действует гарантия на 3 месяцев.
          | &nbsp;Она распространяется на запчасти и на работу мастера. Чтобы сдать телефон или ноутбук по гарантии достаточно иметь акт выполненных работ.
      .col-sm-8.col-xs-12.content-block
        div
          h3
            | Длительность ремонта &nbsp;
            i.icon-clock.aa
          p
            | После получения аппарата, свободный мастер сразу же приступает к ремонту или, если проблема не ясна, к
            | диагностике. Свободные мастера есть практически всегда.
        .row.content-row
          .col-sm-4.col-xs-12.content-block
            .content-img-left
              a(href='/')
                img(height='50', src='img/content/iphone_small.jpg', alt='Картинка:Iphone картинка', title="ремонт айфонов в Киеве")
            div
              p
                a(href='/iphone') Ремонт iPhone
                | :
                br
                span.fa--gray
                  i.fa.fa-clock-o
                  |  30–40 минут
          .col-sm-4.col-xs-12
            .content-img-left
              a(title='Ремонт iPad', href='/ipad-remont')
                img(height='50', src='img/content/ipad_small.jpg', alt='Картинка:Ремонт iPad mini в Киеве')
            div
              p
                a(title='Ремонт iPad', href='/ipad-remont') Ремонт iPad
                | &nbsp;и&nbsp;
                span(title='Ремонт iPod') iPod
                span.fa--gray &nbsp;
                  i.fa.fa-clock-o
                  | 1–2 часа
          .col-sm-4.col-xs-12
            .content-img-left
              a(href='/remont-macbook')
                img(height='50', src='img/content/macbook_small.jpg', alt='Картинка:MacBook pro ремонт в Киеве')
            p
              a(title='Ремонт MacBook', href='/remont-macbook') Ремонт MacBook
              | :
              br
              span.fa--gray
                i.fa.fa-clock-o
                |  1 день
      .col-xs-12.row
        .col-sm-4.col-xs-12
          h3 Запчасти &nbsp;
            i.icon-memory-module.aa
          p
            | Инженеры используют в ремонте оригинальные запчасти. Те запчасти, что отсутствуют у поставщиков, работники сервиса получают из купленных для разбора новых устройств. Стоимость запчастей включена в стоимость ремонта.

        .col-sm-4.col-xs-12
          h3
            | Отзывы &nbsp;
            i.icon-voice-presentation.aa
          p
            | За время работы компании, клиенты оставили&nbsp;
            a(title='Отзывы', href='/feedback') более 100 отзывов.
            | Все отзывы настоящие, с каждым из авторов можно связаться через ВКонтакте.
        .col-sm-4
          img(style='max-width: 200px; margin: 20px 0 0;', src='img/content/repear_iphone_new.jpg', alt='Картинка:Ремонт iphone дешево')