extends layout
block head
  script.
    dataLayer.push({'pageType': 'homepage'})
  script(type="application/ld+json").
    {
    "@context":"http://schema.org",
    "@type":"WebSite",
    "@id":"#website",
    "url":"http://service-iphone.com.ua/",
    "name":"Service-iPhone",
    "alternateName":"Service-iPhone - Сервисный центр Apple"
    }
  script(type="application/ld+json").
    {
    "@context":"http://schema.org",
    "@type":"Organization",
    "url":"http://service-iphone.com.ua/",
    "sameAs":["https://www.facebook.com/ServiceiPhoneUA/","https://www.youtube.com/channel/UCEZAGPgJKGzaiqRYwHeQgrA","https://vk.com/serviceiphoneua","https://plus.google.com/109962936005483548770","https://www.instagram.com/serviceiphoneua/","https://twitter.com/Serviceiphoneua"],
    "@id":"#organization",
    "name":"Service-iPhone",
    "logo":"https://service-iphone.com.ua/img/logo.png"
    }
  script(type="application/ld+json").
    {
    "@context" : "http://schema.org",
    "@type" : "LocalBusiness",
    "priceRange":"$",
    "url":"https://service-iphone.com.ua/",
    "image":"https://service-iphone.com.ua/img/logo.png",
    "name":"Service-iPhone",
    "sameAs":"https://plus.google.com/u/0/109962936005483548770",
    "hasMap": "https://goo.gl/maps/62zFgY1gqPy",
    "telephone":"+380961253246",
    "telephone":"+380937229156",
    "telephone":"+380665669752",
    "openingHours": ["Пн,Вт,Ср,Чт,Пт 09:00-19:00"],
    "openingHours": ["Сб 11:00-17:00"],
    "address" : {
    "@type": "PostalAddress",
    "addressLocality": "Kyiv",
    "addressRegion": "Ukraine",
    "postalCode": "02000",
    "streetAddress": "вул. Богдана Хмельницького, 32"
    },
    "hasMap": "https://goo.gl/maps/oWf5t1em3622",
    "telephone":"+380954311221",
    "telephone":"+380673011221",
    "telephone":"+380934211221",
    "openingHours": ["Пн,Вт,Ср,Чт,Пт 09:00-19:00"],
    "openingHours": ["Сб 11:00-17:00"],
    "address" : {
    "@type": "PostalAddress",
    "addressLocality": "Kyiv",
    "addressRegion": "Ukraine",
    "postalCode": "02000",
    "streetAddress": "вулиця Велика Васильківська, 74"
    },
    "hasMap": "https://goo.gl/maps/oWf5t1em3622",
    "telephone":"+380631104224",
    "telephone":"+380992504224",
    "telephone":"+380981024224",
    "openingHours": ["Пн,Вт,Ср,Чт,Пт 09:00-19:00"],
    "openingHours": ["Сб 11:00-17:00"],
    "address" : {
    "@type": "PostalAddress",
    "addressLocality": "Kyiv",
    "addressRegion": "Ukraine",
    "postalCode": "04205"
    },
    "email":"info@service-iphone.com.ua",
    "aggregateRating":{
    "@type":"AggregateRating",
    "ratingValue":"5",
    "reviewCount":"110"
    }

    }

  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Place",
      "geo": {
      "@type": "GeoCoordinates",
      "latitude": "50.4460623",
      "longitude": "30.5073486"
      },
      "name": "Сервисный центр Apple Service-iPhone"
    }
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Place",
      "geo": {
      "@type": "GeoCoordinates",
      "latitude": "50.4317077",
      "longitude": "30.5156575"
      },
      "name": "Сервисный центр Apple Service-iPhone "
    }
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Place",
      "geo": {
      "@type": "GeoCoordinates",
      "latitude": "50.508763",
      "longitude": "30.502023"
      },
      "name": "Сервисный центр Apple Service-iPhone"
    }

block content
  .text-block
    h1.text-center.index-title(title="Сервисный центр по ремонту техники Apple.") Сервисный центр по ремонту техники Apple.
    div

  #slider.slider
    .slider__wrp
      .slider__item.slider__item--first
        .slider__container
          p.slider__title
            | Замена стекла с сохранением
            br
            | оригинального дисплея
          p.slider__description
            | Секономте до 50% стоимости на замене стекла
            br
            |  вашего устройства
          a.slider__link(href="#") Подробнее
      .slider__item.slider__item--second
        .slider__container
          p.slider__title
            |Принимаем заказы из любой
            br
            |части Украины
          p.slider__description
            |Мы организуем быструю доставку из любой точки Украины,
            br
            |удобным для вас способом
          a.slider__link(href="#") Подробнее

    button#prev.prev <
    button#next.next >
  include ./modules/home-iphone

  .container
    .row.benefits
      .col-md-3.show-desktop
        img(src='img/iphone6s-remont.jpg', alt='Картинка:Ремонт iPhone. #Ремонт Айфона в Киеве', title="Ремонт iPhone. #Ремонт Айфона в Киеве", style="max-width: 200px;")
      .col-md-9.col-xs-12
        p.benefits__heading Почему Service-iPhone?
        ol.benefits__list
          li.fa.fa-stethoscope <span class="b">Диагностика</span> проводится бесплатно!
          li.fa.fa-rocket <span class="b">Скорость</span>: Мы ценим время наших клиентов и выполняем большинство ремонтов в первый же час!
          li.fa.fa-check <span class="b">Качество</span>: Для ремонта используем высококачественные и оригинальные запчасти.
          li.fa.fa-balance-scale <span class="b">Стоимость</span>: Цены в Service-iPhone ниже, чем у конкурентов!
          li.fa
            span.icon-security-checked.aa
            | <span class="b">Гарантия</span>: На все виды ремонтных работ мы даем гарантию от 3 месяцев.
          li.fa.fa-user-secret <span class="b">Конфиденциальность</span> ваших личных данных, ремонт производим в присутствии клиента.

    .show-desktop
      p.title(title='Ремонт техники Apple в сервис-центре «Service iPhone»') Ремонт техники Apple в сервис-центре «Service iPhone»
      p Мастера сервисов Service iPhone производят <strong>ремонт всех моделей iPhone, iPad, iPod, MacBook и iMac</strong>. <br/>Часто наши клиенты интересуются следующими проблемами:
      .row
        .col-xs-12.col-sm-4
          // VK Widget
          #vk_groups
        .col-xs-12.col-sm-4
          .fb-page(data-href='https://www.facebook.com/ServiceiPhoneUA/', data-tabs='timeline', data-small-header='false', data-height="350" ,data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ServiceiPhoneUA/')
              a(href='https://www.facebook.com/ServiceiPhoneUA/') Service-iphone


    hr.mt20
    .row
      .col-xs-12
        p.title.text-center: b Как происходит ремонт
    .row
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 1
          | Приём аппарата&nbsp;
          i.fa.fa-user-md
        p Клиенты обслуживаются без записи. Секретари принимают аппараты в ремонт как только клиент приходит в офис. Звонить заранее не обязательно.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 2
          | Диагностика&nbsp;
          i.fa.fa-stethoscope
        p В сервисных центрах Service iPhone <strong>диагностика выполняется бесплатно</strong>. Даже если клиент отказывается от ремонта, диагностика не оплачивается.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 3
          | Согласовываем цену &nbsp;
          i.fa-usd.fa
        p После диагностики мы связываемся с клиентом для согласования цены.
      .col-xs-12.col-md-3
        h3.step-heading
          span.blue-number 4
          | Ремонтируем устройство &nbsp;
          i.fa-wrench.fa
        p Выполняем <strong>качественный ремонт</strong>, тщательно тестируем и отдаем владельцу исправный продукт фирмы Apple.

    hr
