extends ../../../layout

block content
  .sub-header
    .container
      .row
        .col-xs-12
          h1.text-center(title='Ремонт MacBook Air A1237') Ремонт MacBook Air A1237
      .sub-header__description
        | Сервисный центр в Киеве Service Apple осуществляет&nbsp;
        strong ремонт MacBook Air A1237
        |&nbsp;по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт MacBook Air A1237
      h3.pricelist__heading Основное
      include ../../../templates/price-table





