extends ../../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'macbook air 1466'})
block content
  .container
    .row
      .col-xs-12
        h1.text-center(title='Ремонт MacBook Air A1466') Ремонт MacBook Air A1466
    .sub-header__description
      | Сервисный центр в Киеве Service Apple осуществляет&nbsp;
      strong ремонт MacBook Air A1466
      |&nbsp;по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт MacBook Air A1466
      h3.pricelist__heading Основное
      include ../../../templates/price-table