.a2a_kit.a2a_kit_size_32.addtoany_list
    a.a2a_button_google_plus
    a.a2a_button_vk
    a.a2a_button_facebook
    a.a2a_button_twitter
    a.a2a_button_pinterest
    a.a2a_button_linkedin
script(async='', src='https://static.addtoany.com/menu/page.js')
