.show-desktop {
  display: block;
}

.show-inline-desktop {
  display: inline;
}

.hide-desktop {
  display: none;
}

.director-button {
  display: block;
}

.devices__wrp {
  overflow: inherit;
  white-space: inherit;
}

.devices__item {
  width: auto;
}

.device-title {
  font-size: 50px;
}

.director-button {
  display: block;
}

h3 {
  font-size: 18px;
  line-height: 20px;
}

.benefits {
  border-bottom: 1px solid #ccc;
}

.nav__link {
  border-left: 1px solid #ccc;
  filter: grayscale(100%);
  font-size: 20px;
  margin: 0 -10px;
  &:hover, &:focus {
    filter: grayscale(0);
  }
  &:last-child {
    padding-left: 40px;
  }
}

.lp-header__telephone {
  margin: 0;
  font-weight: bold;
}

.lptrack-phone {
  display: block;
}

.price-calc {
  display: block;
  position: fixed;
  top: 70%;
  right: 50px;
  z-index: 2;
  &:hover {
    .price-calc__tooltip {
      top: 55px;
      opacity: 1;
    }
  }
}

.price-calc__link {
  display: block;
}

.price-calc__tooltip {
  position: absolute;
  @include transition(all, .1s);
  top: 50px;
  background: #fff;
  left: 50%;
  margin-left: -62px;
  padding: 3px 5px;
  width: 124px;
  text-align: center;
  line-height: 14px;
  box-shadow: 0 0 1px rgba(0,0,0, .3);
  border-radius: 3px;
  opacity: 0;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: "";
    border: 3px solid;
    border-color: transparent transparent rgba(0,0,0, .2) transparent;
    top: -6px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
  }
}

.top-navigation__link {
  margin: 0 0 0 10px;
  padding: 7px 14px;
}