.show-desktop {
  display: block;
}

.show-inline-desktop {
  display: inline;
}

.hide-desktop {
  display: none;
}

.director-button {
  display: block;
}

.device-title {
  font-size: 50px;
}

.director-button {
  display: block;
}

h3 {
  font-size: 18px;
  line-height: 20px;
}

.benefits {
  border-bottom: 1px solid #ccc;
}

.nav__link {
  border-left: 1px solid #ccc;
  filter: grayscale(100%);
  font-size: 20px;
  margin: 0 -10px;
  &:hover, &:focus {
    filter: grayscale(0);
  }
  &:last-child {
    padding-left: 40px;
  }
}

.lp-header__telephone {
  margin: 0;
  font-weight: bold;
}

.lp-footer {
  margin-top: -200px;
}