extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/macbook/mac.jpg', alt='ремонт MacBook Киев')
        .col-sm-4
          h1(title='ремонт MacBook Киев') Ремонт MacBook
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        | Сервисный центр Service Apple осуществляет
        strong ремонт MacBook
        |  по
        |       самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт MacBook
      h3.pricelist__heading Основное
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description
              | Мы проводим диагностику совершенно бесплатно! Во время диагностики мы выявим причину неполадки и сможем сказать, что именно нужно чинить.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time от 1 дня.
          .col-md-3
            .pricelist__item__cost 200 грн.
          .col-md-4
            .pricelist__item__description
              | Если визуальная диагностика не дала результата,причину неисправности не выявлено, проводиться диагностика материнской платы.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost от 400 грн.
          .col-md-4
            .pricelist__item__description При ремонте после воды, мы сразу проводим чистку и диагностику.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Чистка от пыли
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost  200 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена жесткого диска
            time.pricelist__item__time от 3 часов.
          .col-md-3
            .pricelist__item__cost  200 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена клавиатуры
            time.pricelist__item__time от 3 часов.
          .col-md-3
            .pricelist__item__cost  500 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена термопасты
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost  300 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена wi-fi модуля
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost  300 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена провода на зарядке
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost  250 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт USB
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost  300 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена батареи
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost  100 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена жк матрицы
            time.pricelist__item__time от 2 часов.
          .col-md-3
            .pricelist__item__cost  500 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена оперативной памяти
            time.pricelist__item__time от 2 часов.
          .col-md-3
            .pricelist__item__cost 100 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена тачпада
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost 200 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт разъема зарядки
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Восстановление видеокарты
            time.pricelist__item__time от 2 часов.
          .col-md-3
            .pricelist__item__cost 1000 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена CD-привода
            time.pricelist__item__time от 2 часов.
          .col-md-3
            .pricelist__item__cost  120 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Гравировка клавиатуры
            time.pricelist__item__time 24 часа.
          .col-md-3
            .pricelist__item__cost  400 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена CD-привода на SSD или HDD (optibay)
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кулера
            time.pricelist__item__time от 60 мин.
          .col-md-3
            .pricelist__item__cost 250 грн.
          .col-md-4
            .pricelist__item__description


