.text-block {
  order: 10;
}

.home-slider, .home-slider__wrp {
  overflow: hidden;
  position: relative;
}

.problem {
  text-align: center;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.problem__item {
  width: 50%;
  padding: 0 10px;
  margin: 0 0 20px;
  float: left;
  color: #000;
  text-decoration: none;
  &:active {
    color: $link-hover-color;
  }
}

.problem__img {
  display: block;
  margin: 0 auto 10px;
  height: 40px;
}

.problem__text {
  white-space: nowrap;
}