extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'category'})

block content
  .text-block
    .container
      h1(title='Ремонт iPad (Киев)') Необходим качественный ремонт iPad?
      p Наш сервисный центр выполняет ремонт различной сложности. Для работы мы используем исключительно оригинальные детали, которые в большинстве случаев есть в наличии. Это позволяет производить ремонт в короткие сроки. Среди поломок, которые мы решаем находятся:
      ul.pl20
        li Ремонт после проникновения воды.
        li Замена стекла и других неисправных деталей.
        li Поломка кнопок.
        li Выход из строя тачскирина и др.
      p
        | Поломки любой сложности для нас не проблема. Воспользуйтесь бесплатной диагностикой и узнайте причину поломки Вашего гаджета.
      h2.text-center Мы ремонтируем Айпады с первого поколения и до последнего.
      .row
        .col-sm-7
          div
            h3
              | Выполняемые услуги
              i.icon-engineering.aa
            |           Как мы можем вам помочь::
            ul
              li Мы меняем стекла и неисправные элементы.
              li Мы чиним Айпады после попадания воды.
              li Мы ремонтируем любые неисправные Айпады.
            p
              | Наши инженеры также ремонтируют материнские платы. Мы умеем менять BGA-чипы и восстанавливать поврежденные элементы.
        .col-sm-5
          h3
            | Диагностика
            i.icon-stethoscope.aa
          p
            | Мы бесплатно выполняем диагностику. Даже если вы откажетесь от ремонта после диагностики, мы не возьмем с вас денег.
          h3
            | Запчасти
            i.icon-memory-module.aa
          p Мастера используют только оригинальные запчасти.
          p
            | В каждом офисе есть склад с необходимым количеством запчастей для каждой модели iPad. За наличием запчастей постоянно следят менеджеры и не допускают их недостатка.
      .row
        .col-sm-12
          h3 Замена стекла
          p
            strong Замена стекла
            |  занимает от 30 минут до 1 часа. Стекло на iPad меняется отдельно от дисплея.
        .col-sm-4
          h3 Выравнивание корпуса
          p
            | В 70% случаев, при падении, кроме стекла повреждается алюминиевый корпус Айпада. Часто после удара загибается один из уголков. Это мешает правильной установке нового стекла. Новая задняя панель стоит довольно дорого (на порядок дороже замены стекла), но менять её не обязательно.
          p
            | Перед установкой мы бесплатно исправляем деформацию корпуса. Благодаря этому, новое стекло встает ровно и не отклеивается.
        .col-sm-4
          h3 Очистка
          p
            | Важный этап при замене стекла — это очистка “посадочного места” от осколков и старого клея. Даже небольшие остатки клея не дадут качественно установить новое стекло.
          p Мы удаляем остатки клея, перед тем, как наклеить новое стекло.
        .col-sm-4
          h3 Клей
          p
            | Мы используем специальный двухсторонний скотч фирмы “3M”. Он не даст стеклу самому отклеиться, но так же как и с заводским клеем, стекло можно снять не разбивая.
          p
            | Мы не используем супер-клей, так как его сложно удалять при замене стекла и невозможно поднять стекло не разбив его при этом. Также, стекло, приклеенное на супер-клей к деформированному корпусу, лопнет, вместо того чтобы просто отклеиться.
      .row
        .col-sm-12
          h3(title='Ремонт iPad после попадания в воду') Ремонт iPad после попадания в воду
          p
            strong Ремонт iPad
            |  после воды — это комплексная услуга. Сюда входит чистка, замена неисправных модулей, а если надо, то и ремонт материнской платы.
          h3 Гарантия
          p На услуги и запчасти распространяется гарантия на 6 месяцев.

  section.device-section
    .wrp
      h2.h1.device-title(title='Ремонт iPad') Ремонт iPad
      include ../../modules/ipad_nav.jade

