extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad new 2017'})
block content
  .text-block
    .container
      h1 Ремонт iPad New 2017
      p.cf
        span.pull-left
          i.fa.fa-arrow-left
          | &nbsp;&nbsp;
          a(href="/remont-ipad-pro-105") Цены на ремонт iPad Pro 10.5
  .container
    section.repear
      h2.h1.text-center(title='Ремонт iPad new 2017') Цены на ремонт iPad new 2017
      .row
        .col-xs-12.col-sm-4
          img.sub-header__img(src='../img/ipad/ipad-mini3.jpg', alt='Картинка:Цены на ремонт iPad new 2017', title="Сервисный центр по ремонту iPad new 2017 в Киеве")
        .col-xs-12.col-sm-8
          include ../../templates/price-table