extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad pro 97'})
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad-mini3.jpg', alt='Цены на ремонт iPad Pro 9.7', title="Сервисный центр по ремонту iPad Pro 9.7 в Киеве")
        .col-sm-4
          h1(title='Ремонт iPad Pro 9.7') Ремонт iPad Pro 9.7
        .col-sm-6
      .sub-header__description
  .container
    section.repear
      include ../../templates/price-table