extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad 4'})
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad4.jpg', alt='iPad 4', title="Ремонт iPad 4 в Сервисном центре Apple в Киеве")
        .col-sm-4
          h1(title='Ремонт iPad 4') Ремонт iPad 4
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad 4 по самым низким ценам при любой сложности
        // ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad 4
      h3.pricelist__heading Основное
      include ../../templates/price-table

    p.title Ipad 4: особенности ремонта модного яблочного девайса
    p
      | Айпад 4, оснащенный, как и предыдущие модели, Retina-дисплеем, стал прекрасной альтернативой мини-ноутбукам и даже
      | портативному компьютеру и представлен в приемлемой ценовой категории. В линейке Apple — это один из самых
      | функциональных девайсов с эксклюзивным классическим дизайном, небольшими габаритами и модернизированным
      | процессором.
    p
      | Более того, линейка четвертого поколения яблочных планшетов имеет все «навороты», представленные в предыдущих моделях
      | Ipad. Вы можете пользоваться как 3G, так и 4G-коммуникациями, встроенными флеш-накопителями, наслаждаться улучшенными
      | цветопередачей и контрастностью воспроизводимого изображения.
    p
      | Планшет ipad 4 выигрывает даже по весу и толщине. Этот гаджет, как считают многие специалисты, —лучшее творение
      | Apple. В то же время, если при его использовании корпус, внутренние части или экран получили серьезные повреждения —
      | лучшей скорой помощью для вашего подручного помощника станет наш сервисный центр «Service-iphone».
    p.title Почему резонно довериться именно нам?
    p
      strong Ремонт ipad 4
      | в «Service-iphone» осуществляют опытные мастера, которые быстро, квалифицированно и
      |   качественно выполняют работы по восстановлению работоспособности девайса. Мы предлагаем бесплатную диагностику
      |   устройства каждому клиенту, после которой вы самостоятельно принимаете решение о ремонте.
    p
      | При желании можно заказать даже срочный ремонт. Кстати, на любой вид ремонтных работ мы предоставляем гарантию.
      | Поэтому в качестве выполненной работы можете не сомневаться.
    h2 Ремонт айпад 4: что подлежит ремонту?
    p
      | В большей степени ipad 4 подвержен чаще физическому и моральному износу, чем заводскому браку. При случайном падении,
      | ударе можно легко повредить дисплей, стекло, корпус и даже внутренние части. Если в девайс попала вода, грязь или
      | пыль, гаджет может некорректно работать: давать периодические или постоянные сбои.
    p
      | Отметим: любая поврежденная часть ipad 4 подлежит ремонту, если его проводит опытный специалист, а для ремонта
      | используются только оригинальные запчасти. Именно такой подход и практикует «Service-iphone».
    h2 Ликвидация косметических изъянов на корпусе, замена задней крышки
    p
      | Не секрет, что одним из самых стильных девайсов признан «яблочный» айпад. Замена корпуса и &nbsp;
      strong замена стекла
      | , на которых есть мелкие дефекты, поможет снова вернуть привлекательность вашему гаджету.
    p
      | Опытный специалист быстро ликвидирует некрасивые потертости, сколы и царапины, возвращая планшету первоначальный
      | статусный вид, как в день покупки. В нашем сервисном центре проводится быстрая замена любых недостатков эстетического
      | характера. Уже завтра планшет снова покорит и вас, и окружающих своей аккуратностью и красотой.
    h2 Замена стекла ipad 4, дисплея и тачскрина
    p
      | Вследствие сильного удара о твердую поверхность на стекле могут появиться царапины и другие механические дефекты,
      | последствия которых ощутимы сразу после падения. Чаще всего это отсутствие реакции на нажатие в сенсорном управлении
      | или геометрическое нарушение целостности девайса из-за расшатывания системы крепления между корпусом и экраном.
    p
      | Если дефект имеет чисто косметический характер, достаточно провести замену поврежденного стекла. В случае, когда
      | диагностика подтвердит, что задет сенсор, мастер заменит и эту деталь. В результате вы сможете полноценно пользоваться
      | меню, задать нужную команду девайсу и начать корректную работу с приложениями в любой момент.
    h2 Ремонт микрофона, динамика и аудиокодека
    p
      | При скоплении пыли внутри конструкции, в открытых звуковых устройствах или попадании в них воды, может резко пропасть
      | звук, появиться посторонний шум или звук (скрип, дребезжание, эхо). Чтобы устранить такую проблему, нужно провести
      | чистку или сушку устройства, заменить поврежденные детали.
    p
      | Правильно выполнить такие ремонтные работы сможет только квалифицированный мастер. При самовольной разборке
      | устройства можно случайно повредить звуковые платы и микросхемы, что увеличит стоимость ремонта. В этом случае желание
      | сэкономить будет неоправдано.
    h3 Устранение проблем с подзарядкой, кнопками
    p
      | В большинстве случаев подобные проблемы возникают вследствие физического износа наиболее часто используемых деталей.
      | В итоге гнезда расшатываются, а кнопки могут западать, что приводит к некорректной работе гаджета. Мастер выполнит
      | замену гнезда и кнопок, поможет устранить другие проблемы с гаджетом в минимальные сроки.
    h3 Наладка программного обеспечения
    p
      | Активное использование интернета, загрузка большого объема информации в память устройства может привести к сбоям в
      | системе программного обеспечения. Из-за таких неполадок многие приложения могут не загружаться, выключиться посреди
      | рабочего процесса или не сохранить введенную пользователем информацию.
    p
      | Чтобы избавиться от таких проблем потребуется комплексное восстановление программного обеспечения. При необходимости
      | мастер сохранит ваши данные на съемном носителе, а после исправления неполадок — загрузит базу данных в ваш
      | планшет.
    p
      | Выбирайте «Service-iphone» для ремонта своего айпад 4. Быстрый ремонт с гарантией восстановит работоспособность
      | вашего девайса!