extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad pro 129'})
block content
  .text-block
    .container
      h1 Ремонт iPad Pro 12.9
      p.cf
        span.pull-left
          i.fa.fa-arrow-left
          | &nbsp;&nbsp;
          a(href="/remont-ipad-pro-9") Цены на ремонт iPad Pro 9.7
  .container
    section.repear
      h2.h1.text-center(title='Ремонт iPad Pro 12.9') Цены на ремонт iPad Pro 12.9
      .row
        .col-xs-12.col-sm-4
          img(src='../img/ipad/ipad-mini3.jpg', alt='Картинка:Цены на ремонт iPad Pro 12.9', title="Сервисный центр по ремонту iPad Pro 12.9 в Киеве")
        .col-xs-12.col-sm-8
          include ../../templates/price-table