extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad4.jpg', alt='iPad 4')
        .col-sm-4
          h1(title='Ремонт iPad 4') Ремонт iPad 4
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad 4 по самым низким ценам при любой сложности
        // ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad 4
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 0 грн.
          .col-md-7
            .pricelist__item__description
              | Если проблема сразу не ясна, то для определения причины неисправности мы проводим диагностику.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-2
            .pricelist__item__cost 200* грн.
          .col-md-7
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 3 часов.
          .col-md-2
            .pricelist__item__cost от 400 грн.
          .col-md-7
            .pricelist__item__description
              | Рекомендуется как можно быстрее провести чистку и сушку аппарата, дабы избежать более серьезных последствий.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 150 грн.
          .col-md-7
            .pricelist__item__description
              | Если у Вас зависает iPad 4 или вы забыли пароль блокировки, нужно будет прошить устройство.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена стекла (тачскрина)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1200 грн.
          .col-md-7
            .pricelist__item__description
              | На вашем iPad 4 разбилось стекло? Замена стекла на iPad 4 в нашем сервисе занимает около часа и ваш планшет опять будет как новый.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена дисплея
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 2100 грн.
          .col-md-7
            .pricelist__item__description
              | Дисплей на iPad 4 не работает? Замена дисплея производится профессиональными мастерами в нашем сервис-центре.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1900 грн.
          .col-md-7
            .pricelist__item__description
              | При очень сильном ударе корпус iPad 4 может повредиться. В этому случае потребуется его замена.

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description Время от времени кнопка Home начинает залипать или полностью выходит из строя.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | Если на iPad 4 не работает переключатель вибро или блокировки поворота экрана, то после ремонта в нашем сервисе все заработает как новое.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы не можете убавить или прибавить звук, кнопка громкости залипает - это доставляет очень много неудобств при прослушивании аудио или видео.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | Не работает кнопка включения? Мы починим и вы снова сможете без проблем выключать iPad 4.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1300 грн.
          .col-md-7
            .pricelist__item__description
              | Аккумулятор iPad 4 не заряжается или не держит заряд? Замена аккумулятора решит эту проблему.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description
              | Камера на iPad 4 не часто выходит из строя, но если у вас есть искажения или камера совсем не работает, то её можно заменить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена разъёма для наушников
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description Если у Вас плохо ловит wi-fi, Вам нужно заменить антенну.

      h3.pricelist__heading Шлейфы
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 500 грн.
          .col-md-7
            .pricelist__item__description За работу кнопки Home отвечает шлейф кнопки Home.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена шлейфа разьема синхронизации и зарядки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description
              | Если iPad 4 не заряжается или его не видит компьютер, то проблема, скорее всего, в разъеме.

      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost от 120 грн.
          .col-md-7
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 50 грн.
          .col-md-7
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPad 4, наш курьер всегда с радостью Вам его доставит.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 0 грн.
          .col-md-7
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно забрать Ваше устройство.

    p.title Ipad 4: особенности ремонта модного яблочного девайса
    p
      | Айпад 4, оснащенный, как и предыдущие модели, Retina-дисплеем, стал прекрасной альтернативой мини-ноутбукам и даже
      | портативному компьютеру и представлен в приемлемой ценовой категории. В линейке Apple — это один из самых
      | функциональных девайсов с эксклюзивным классическим дизайном, небольшими габаритами и модернизированным
      | процессором.
    p
      | Более того, линейка четвертого поколения яблочных планшетов имеет все «навороты», представленные в предыдущих моделях
      | Ipad. Вы можете пользоваться как 3G, так и 4G-коммуникациями, встроенными флеш-накопителями, наслаждаться улучшенными
      | цветопередачей и контрастностью воспроизводимого изображения.
    p
      | Планшет ipad 4 выигрывает даже по весу и толщине. Этот гаджет, как считают многие специалисты, —лучшее творение
      | Apple. В то же время, если при его использовании корпус, внутренние части или экран получили серьезные повреждения —
      | лучшей скорой помощью для вашего подручного помощника станет наш сервисный центр «Service-iphone».
    p.title Почему резонно довериться именно нам?
    p
      strong Ремонт ipad 4
      | в «Service-iphone» осуществляют опытные мастера, которые быстро, квалифицированно и
      |   качественно выполняют работы по восстановлению работоспособности девайса. Мы предлагаем бесплатную диагностику
      |   устройства каждому клиенту, после которой вы самостоятельно принимаете решение о ремонте.
    p
      | При желании можно заказать даже срочный ремонт. Кстати, на любой вид ремонтных работ мы предоставляем гарантию.
      | Поэтому в качестве выполненной работы можете не сомневаться.
    h2 Ремонт айпад 4: что подлежит ремонту?
    p
      | В большей степени ipad 4 подвержен чаще физическому и моральному износу, чем заводскому браку. При случайном падении,
      | ударе можно легко повредить дисплей, стекло, корпус и даже внутренние части. Если в девайс попала вода, грязь или
      | пыль, гаджет может некорректно работать: давать периодические или постоянные сбои.
    p
      | Отметим: любая поврежденная часть ipad 4 подлежит ремонту, если его проводит опытный специалист, а для ремонта
      | используются только оригинальные запчасти. Именно такой подход и практикует «Service-iphone».
    h2 Ликвидация косметических изъянов на корпусе, замена задней крышки
    p
      | Не секрет, что одним из самых стильных девайсов признан «яблочный» айпад. Замена корпуса и &nbsp;
      strong замена стекла
      | , на которых есть мелкие дефекты, поможет снова вернуть привлекательность вашему гаджету.
    p
      | Опытный специалист быстро ликвидирует некрасивые потертости, сколы и царапины, возвращая планшету первоначальный
      | статусный вид, как в день покупки. В нашем сервисном центре проводится быстрая замена любых недостатков эстетического
      | характера. Уже завтра планшет снова покорит и вас, и окружающих своей аккуратностью и красотой.
    h2 Замена стекла ipad 4, дисплея и тачскрина
    p
      | Вследствие сильного удара о твердую поверхность на стекле могут появиться царапины и другие механические дефекты,
      | последствия которых ощутимы сразу после падения. Чаще всего это отсутствие реакции на нажатие в сенсорном управлении
      | или геометрическое нарушение целостности девайса из-за расшатывания системы крепления между корпусом и экраном.
    p
      | Если дефект имеет чисто косметический характер, достаточно провести замену поврежденного стекла. В случае, когда
      | диагностика подтвердит, что задет сенсор, мастер заменит и эту деталь. В результате вы сможете полноценно пользоваться
      | меню, задать нужную команду девайсу и начать корректную работу с приложениями в любой момент.
    h2 Ремонт микрофона, динамика и аудиокодека
    p
      | При скоплении пыли внутри конструкции, в открытых звуковых устройствах или попадании в них воды, может резко пропасть
      | звук, появиться посторонний шум или звук (скрип, дребезжание, эхо). Чтобы устранить такую проблему, нужно провести
      | чистку или сушку устройства, заменить поврежденные детали.
    p
      | Правильно выполнить такие ремонтные работы сможет только квалифицированный мастер. При самовольной разборке
      | устройства можно случайно повредить звуковые платы и микросхемы, что увеличит стоимость ремонта. В этом случае желание
      | сэкономить будет неоправдано.
    h3 Устранение проблем с подзарядкой, кнопками
    p
      | В большинстве случаев подобные проблемы возникают вследствие физического износа наиболее часто используемых деталей.
      | В итоге гнезда расшатываются, а кнопки могут западать, что приводит к некорректной работе гаджета. Мастер выполнит
      | замену гнезда и кнопок, поможет устранить другие проблемы с гаджетом в минимальные сроки.
    h3 Наладка программного обеспечения
    p
      | Активное использование интернета, загрузка большого объема информации в память устройства может привести к сбоям в
      | системе программного обеспечения. Из-за таких неполадок многие приложения могут не загружаться, выключиться посреди
      | рабочего процесса или не сохранить введенную пользователем информацию.
    p
      | Чтобы избавиться от таких проблем потребуется комплексное восстановление программного обеспечения. При необходимости
      | мастер сохранит ваши данные на съемном носителе, а после исправления неполадок — загрузит базу данных в ваш
      | планшет.
    p
      | Выбирайте «Service-iphone» для ремонта своего айпад 4. Быстрый ремонт с гарантией восстановит работоспособность
      | вашего девайса!