extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad_mini.jpg', alt='iPad Mini')
        .col-sm-4
          h1(title='Ремонт iPad Mini') Ремонт iPad Mini
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad mini по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad mini
      h3.pricelist__heading Основное
      include ../../templates/price-table

    p.title Ipad mini: характеристика и ремонт стильного 7-дюймового гаджета
    p
      | Apple ipad mini — первый семидюймовый планшет в линейке Apple. Эта модель по весу и толщине сравнима с Nexus 7 или
      | Samsung Galaxy Tab 2. Однако по другим характеристикам, кроме цены, значительно выигрывает. Не секрет, что iOS лучше
      | любой версии Android, тем более 6 уровня. В версии мини предусмотрены все наиболее востребованные пользователем
      | функции: загрузка документов и книг в формате PDF с возможностью чтения в альбомном и портретном режиме, использование
      | карт и сети интернет, а также различных фото и видеоредакторов на любой вкус.
    p
      | Более того, мини-планшет сохранил все настройки своего «родителя». Поэтому пользователь получает удобную возможность
      | наслаждаться всеми преимуществами айпад, но за меньшую стоимость.
    p
      | С учетом всех преимуществ айпад мини не так идеален, как кажется на первый взгляд. В отличие от ipad, уменьшенная
      | версия лишилась Retina-дисплея, к которому привыкли любители яркого и динамичного изображения. Поэтому в айпад mini
      | одним из самых слабых мест является именно экран и дисплей. При падениях и ударах они страдают в первую очередь.
    p
      | В «Service-iphone» вы сможете быстро избавиться от любых повреждений на корпусе и экране своего крутого гаджета. Наши
      | специалисты быстро проведут бесплатную диагностику и определят масштабность проблемы. Вернуть привлекательность и
      | работоспособность Apple ipad смогут квалифицированные мастера нашего сервисного центра, предоставляющие гарантию на
      | любой вид заказанного ремонта.
    h2 Ремонт ipad mini: какие виды ремонта существуют?
    p
      | Во время эксплуатации планшет ipad, так же как и планшет любого другого производителя, может выйти из строя не только
      | из-за заводского брака, но и по другим причинам. Например, сильный удар по корпусу или непреднамеренное падение
      | устройства приносит не только косметические дефекты (царапины на экране, сколы и потертости на корпусе), но и те,
      | которые влияют на работу девайса в целом (воспроизведение звука, передача изображения, запуск приложений, реакция на
      | нажатие по кнопкам).
    p
      | Ремонт айпад в «Service-iphone» осуществляется в минимальные сроки с заменой поврежденных деталей на оригинальные
      | запчасти. Предлагаем для ознакомления перечень услуг по ремонту планшета.
    h2 Замена стекла ipad mini, тачскирина и дисплея
    p
      | Как уже отмечалось, в этой модели планшета экран — одно из самых уязвимых мест устройства. В случае царапины на
      | экране или падения планшета может выйти из строя сенсорное управление. Тогда обычная &nbsp;
      strong замена стекла
      | не решит проблему. Для ее устранения необходимо заменить тачскрин, чтобы девайс реагировал на команды пользователя.
    p
      | В некоторых случаях в негодность могут прийти даже кнопки, расположенные сбоку устройства, например, «качельки»
      | громкости, главная кнопка управления и включения девайса. Ликвидировать подобную проблему поможет опытный мастер после
      | тщательной диагностики полученных девайсом повреждений.
    h2 Ремонт подсветки ipad mini
    p
      | Если пропадает подсветка, скорее всего, дело в экране. Только специалист сможет определить причину такой поломки и
      | восстановит видимость. Вы снова сможете использовать меню, работать с приложениями и документами.
    h2 Устранение косметических дефектов на корпусе
    p
      | Вследствие механических повреждений на корпусе могут появиться потертости, сколы, трещинки, которые портят внешний
      | вид планшета. Замена корпуса легко и недорого поможет решить такую проблему. В итоге, девайс будет выглядеть так же
      | привлекательно, как и в день покупки.
    h2 Ликвидация проблем со звуком
    p
      | В случае попадания пыли или воды внутрь конструкции вы можете столкнуться со «звуковыми» проблемами. Например, звук
      | может пропадать, потом вновь появляться, а при воспроизведении музыкальных композиций или видеофайлов актуальным
      | станет громкое дребезжание или наличие посторонних звуков.
    p
      | Чтобы понять, что именно приводит к таким проблемам, потребуется тщательная диагностика планшета. Во время этой
      | процедуры специалист обнаружит детали, которые повреждены и проведет их замену.
    h2 Ремонт камеры
    p
      | Основная или фронтальная камера также может выйти из строя при падении планшета, попадании внутрь воды или получении
      | удара в верхнюю часть устройства. Такие повреждения приводят к размытости снимков и видео, отсутствию яркости или
      | фокусировки на лицах.
    p
      | В большинстве случаев потребуется замена детали, чтобы вернуть качество снимку или ролику. Мастер выяснит характер
      | поломки, квалифицированно проведет замену. Вы снова сможете делать яркие снимки и снимать качественное видео.
    p Обращайтесь в «Service-iphone». Получите быструю помощь при любых повреждениях вашего айпад мини!