extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad3.jpg', alt='Ремонт iPad 3')
        .col-sm-4
          h1(title='Ремонт iPad 3') Ремонт iPad 3
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        | Сервисный центр Service Apple осуществляет
        strong ремонт iPad 3
        |  по
        |       самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad 3
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description
              | Если проблема сразу не ясна, то для определения причины неисправности мы проводим диагностику.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-3
            .pricelist__item__cost 200* грн.
          .col-md-4
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost от 400 грн.
          .col-md-4
            .pricelist__item__description
              | Если Ваш iPad 3 упал в воду, для начала его нужно отключить и провести чистку.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас зависает iPad 3 или вы забыли пароль блокировки, нужно будет прошить устройство.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла (тачскрина)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 1150 грн.
          .col-md-4
            .pricelist__item__description
              | На вашем iPad 3 разбилось стекло? Замена стекла на iPad 3 в нашем сервисе занимает несколько часов и ваш планшет опять будет как новый.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 1800 грн.
          .col-md-4
            .pricelist__item__description
              | При очень сильном ударе корпус iPad 3 может повредиться. В этому случае потребуется его замена.

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 500 грн.
          .col-md-4
            .pricelist__item__description
              | Не нажимается кнопка Home на iPad 3? Мы проведем ремонт и кнопка заработает как новая!

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 500 грн.
          .col-md-4
            .pricelist__item__description
              | Основные признаки неполадки кнопки вибрации iPad 3 : невозможно отключить звук, кнопка расшаталась или запала, произвольно включается и отключается звук.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 500 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете убавить или прибавить звук, кнопка громкости залипает - это доставляет очень много неудобств при прослушивании аудио- или видео.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description
              | От загрязнений или неправильного использования кнопка включения может перестать работать.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 500 грн.
          .col-md-4
            .pricelist__item__description
              | Не работает динамик на iPad 3? Сервисный центр проведет ремонт и исправит вашу проблему.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 500 грн.
          .col-md-4
            .pricelist__item__description Если Вас не слышит собеседник, скорее всего вышел из строя микрофон.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена дисплея
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 2000 грн.
          .col-md-4
            .pricelist__item__description
              | Дисплей на iPad 3 не работает? Замена дисплея производится профессиональными мастерами в нашем сервис-центре.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 1200 грн.
          .col-md-4
            .pricelist__item__description
              | Аккумулятор iPad 3 не заряжается или не держит заряд? Замена аккумулятора решит эту проблему.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description
              | Камера на iPad 3 не часто выходит из строя, но если у вас есть искажения или камера совсем не работает, то её можно заменить.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт разъёма синхронизации (зарядки)
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если iPad 3 не заряжается или его не видит компьютер, то проблема, скорее всего, в разъеме.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description Если у Вас плохо ловит wi-fi, Вам нужно заменить антенну.

      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 
          .col-md-3
            .pricelist__item__cost от 100 грн.
          .col-md-4
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 50 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPad 3, наш курьер всегда с радостью Вам его доставит.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно забрать Ваше устройство.
