extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad air'})
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img(src='../img/ipad/ipad1.jpg', alt='Картинка:Ремонт iPad Air в Киеве', title="Сервисный центр по ремонту iPad Air в Киеве")
        .col-sm-4
          h1(title='Ремонт iPad Air') Ремонт iPad Air
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad Air по самым низким ценам при любой сложности
        // ремонта.
  .container
    section.repear
      h2 Ipad air: особенности ремонта самого миниатюрного и функционального планшета
      p По сравнению с предыдущей линейкой яблочных планшетов значительно выигрывает по размерам и дизайну. Толщина этого устройства всего 7,5 мм, а длина и высота — 240 мм на 169,5 мм. Добиться таких значений получилось за счет уменьшения боковых рамок. В результате многие пользователи считают эту модель значительно легче и привлекательнее.
      p Что касается цветовой гаммы, то планшет apple тоже представлен в модном цвете Gold, который давно полюбился многим пользователям. На задней панели стандартно присутствует логотип Apple, который солидно подчеркивает принадлежность девайса к известному яблочному семейству.
      p Более того, функциональность планшета не вызывает сомнений: этот гаджет — современный и удобный представитель компактной компьютерной техники. Выход в интернет, встроенные камеры и возможность передачи данных — его главные преимущества.
      p Однако, не смотря на то, что этот планшет ipad имеет мощный процессор и аккумулятор, это не может обезопасить его от ударов, повреждений шлейфовых кабелей, проблем с зарядкой вследствие падения с большой высоты. За счет уменьшенных размеров хрупкость этого гаджета по сравнению с другими яблочными девайсами повышена в несколько раз.
      p В «Service-iphone» вы можете быстро отремонтировать свой планшет от любых косметических и механических дефектов. Наши специалисты помогут устранить потертости и царапины на корпусе, быстро справится с повреждениями звуковых плат, камеры и кнопок включения. При желании клиент всегда может заказать даже срочный ремонт айпад.
      h2 Какие услуги предлагает «Service-iphone»?

      h3.pricelist__heading Основное
      include ../../templates/price-table


    h2 Замена дисплея, тачскрина, экрана
    p Перечисленные составляющие являются одними из самых хрупких составляющих айпада. Повредить их можно даже с помощью несильного удара, падения с малой высоты или небольшого попадания воды внутрь конструкции. Чаще всего падение и удары приводят к появлению сколов, трещин и царапин на экране, а при попадании жидкости внутрь конструкции может прийти в негодность тачскрин (сенсорное управление). Последний вызывает отсутствие реакции на нажатия, что не позволяет пользоваться меню и приложениями планшета.
    p Операция по замене стекла или сенсора должна проводиться только квалифицированным мастером. Чтобы аккуратно снять верхнюю часть дисплея, понадобятся специальные пластиковые лопатки, присоски, отвертки и фен. Замена экрана iPad Air — сложный и кропотливый процесс, требующий определенных знаний и умений. Доверьте эту работу профессионалу!
    h2 Устранение потертостей и сколов на корпусе
    p Из-за падения или удара планшета, в первую очередь, страдает корпус, особенно тогда, когда пользователь забывает о дополнительной защите — чехле. Поэтому со временем гаджет теряет свою привлекательность, что требует замены задней панели.
    p В нашем сервисном центре мастера осуществляют качественную замену корпуса на оригинальную запчасть, что вернет вашему устройству прежнюю солидность и привлекательность.
    h2 Ремонт батереи, разъемов, кнопок включения
    p Если ваш айпад разряжается после нескольких часов неактивной работы, дело в аккумуляторе. Замена батареи iPad Air — одна из самых востребованных и доступных ремонтных услуг. Причиной выхода батареи из строя может быть попадание внутрь конструкции влаги, интенсивная подзарядка, когда аккумулятор до конца не разряжен и даже скачок напряжения в сети. Запомните: причиной недержания заряда является даже физический износ аккумулятора, редко — заводской брак.
    p Кстати, расшатывание гнезд и поломка кнопок включения — также не редкость. Из-за частого использования этих элементов планшет apple ipad может некорректно работать. Избавиться от такой проблемы поможет замена разъема или кнопки. Мастер быстро проведет диагностику и по ее результатам осуществит необходимый ремонт ipad.
    h2 Ликвидация проблем со звуком
    p Звуковые устройства (микрофон, динамик или аудиокодек) тоже могут пострадать из-за попадания пыли, воды внутрь конструкции, а также вследствие ударов по корпусу. В результате таких повреждений звук может периодически исчезать и появляться а во время воспроизведения музыкальных композиций или видеофайлов, иногда с сопровождением постороннего шума, дребезжани, свиста или скрипа.
    p В этих случаях решить подобную проблему поможет замена микрофона, динамика и других звуковых устройств, обеспечивающих звук. Точно определить причину поломки сможет только специалист после проведения тщательной диагностики планшета.
    p В «Service-iphone» вы сможете быстро вернуть работоспособность своему устройству с гарантией на проведенный мастером ремонт. Обращайтесь уже сегодня!
    p.cf
      span.pull-left
        i.fa.fa-arrow-left
        | &nbsp;&nbsp;
        a(href="/remont-ipad4") Цены на ремонт iPad 4
      span.pull-right
        a(href="/remont-ipad-air2") Цены на ремонт iPad Air 2
        | &nbsp;&nbsp;
        i.fa.fa-arrow-right