extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad1.jpg', alt='iPad Air')
        .col-sm-4
          h1(title='Ремонт iPad Air') Ремонт iPad Air
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad Air по самым низким ценам при любой сложности
        // ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad air

      h3.pricelist__heading Основное
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time 20 мин.
          .col-md-3
            .pricelist__item__cost бесплатно
          .col-md-4
            .pricelist__item__description
              | Мы проводим диагностику совершенно бесплатно! Во время диагностики мы выявим причину неполадки и сможем сказать, что именно нужно чинить.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-3
            .pricelist__item__cost 200* грн.
          .col-md-4
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description
              | Прошивка может потребоваться, если iPad Air зависает, глючит или если вы неудачно обновились.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 3 часов.
          .col-md-3
            .pricelist__item__cost от 400 грн.
          .col-md-4
            .pricelist__item__description
              | Рекомендуется как можно быстрее провести чистку и сушку аппарата, дабы избежать более серьезных последствий.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла (тачскрина)
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 1500 грн.
          .col-md-4
            .pricelist__item__description
              | На вашем iPad Air разбилось стекло? Замена стекла на iPad Air в нашем сервисе занимает несколько часов и ваш планшет опять будет как новый.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена дисплея
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 2200 грн.
          .col-md-4
            .pricelist__item__description
              | Замена дисплея на iPad Air чаще всего необходима, если экран вдруг перестал показывать или была повреждена матрица.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 2200 грн.
          .col-md-4
            .pricelist__item__description

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт кнопки включения (блокировки)
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description
              | Не работает кнопка включения? Мы починим и вы снова сможете без проблем выключать iPad Air.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description
              | Не нажимается кнопка Home на iPad Air? Мы проведем ремонт и кнопка заработает как новая!

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт кнопок громкости
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 750 грн.
          .col-md-4
            .pricelist__item__description
              | Если у вас не работают кнопки громкости на iPad Air, то наши мастера без проблема проведут ремонт.

      h3.pricelist__heading Комплектующие
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена полифонического динамика (buzzer)
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 1600 грн.
          .col-md-4
            .pricelist__item__description
              | Со временем, аккумулятор в iPad Air все меньше держит заряд, но его без проблем можно заменить и он будет работать как новый.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 850 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 750 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена разъёма для наушников (аудиоджека)
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 700 грн.
          .col-md-4
            .pricelist__item__description
              | Сломан разъем наушников на iPad Air? Мы проведем ремонт и вы снова сможете использовать наушники с вашим iPad.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт разъема синхронизации (зарядки)
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost 750 грн.
          .col-md-4
            .pricelist__item__description
              | Если iPad Air не заряжается или его не видит компьютер, то проблема, скорее всего, в разъеме.

      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Поклейка пленки
            time.pricelist__item__time
          .col-md-3
            .pricelist__item__cost от 120 грн.
          .col-md-4
            .pricelist__item__description Пленка поможет избежать Вам царапин и повреждений на переднем стекле.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost бесплатно
          .col-md-4
            .pricelist__item__description
              | Еслм вы спешите, и нет времени заехать в сервис, тогда наш курьер сможет забрать iPad Air и привести на диагностику бесплатно.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 50 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы заняти, нет времени забрать Ваш iPad Air, курьер с радостью доставит Вам его по адресу.

