extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad mini 2'})
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad_mini2.jpg', alt='Картинка:Цены на ремонт iPad Mini2', title="Сервисный центр по ремонту iPad Mini 2 в Киеве")
        .col-sm-4
          h1(title='Ремонт iPad Mini2') Ремонт iPad Mini2
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad mini 2 по самым низким ценам при любой сложности ремонта.

  .container
    p.title Ipad mini2: особенности ремонта нового поколения яблочных планшетов
    p Apple ipad mini 2, как считают многие специалисты, гораздо лучше, чем первый айпад мини. Эта версия получила улучшенный вариант экрана Retina Display и более мощный процессор А7, фронтальную камеру в 5 МП и улучшенную HD-камеру. Что касается беспроводных сетей, все осталось на прежнем уровне. Apple ipad 2 обладает беспроводными сетями и доступами вида EDGE, LTE, Wi-Fi, HSDPA и GPRS.
      | Внешний вид нового планшета практически не отличается от предыдущей модели. Однако существенные изменения все же есть. Толщина нового детища Apple составляет 7,5 мм, что на 3 мм больше первой версии. С технической точки зрения эту особенность можно записать к преимуществам. Но, к сожалению, это незначительное утяжеление тоже не уберегает айпад от последствий падений или ударов по корпусу. Не секрет, чем меньше металла имеет конструкция, тем выше степень повреждения при механическом воздействии внешних факторов.
    p Если ваш apple ipad получил существенные или косметические повреждения (сколы, царапины, потертости, другие механические дефекты) — обращайтесь в «Service-iphone». Опытные специалисты быстро ликвидируют эстетические недостатки на корпусе или экране, помогут решить проблему с треснувшим стеклом, внутренними поломками.
    section.repear
      h2 Ремонт iPad: сколько стоит?
      h3.pricelist__heading Основное
      include ../../templates/price-table


    p Чаще всего планшет apple ipad выходит из строя вследствие случайного падения, удара, морального и физического износа, реже — из-за заводского брака или дефекта. Компания «Apple» ответственно подходит к разработке и технологии производства своей продукции. Не зря этот товар является лидером на рынке компьютерной техники. Его используют не только бизнесмены, офисные работники, но и студенты. Небольшие размеры и высокая продуктивность планшетов позволяет пользоваться ими не только дома, но и на работе, в командировке и даже на отдыхе.
    p Стоимость замены поврежденных или изношенных запчастей зависит от характера и степени тяжести повреждения. После бесплатной диагностики в нашем сервисном центре мастер составит перечень необходимых ремонтных работ, чтобы вернуть девайсу работоспособность.
    p.title Какие услуги ремонта предлагает «Service-iphone» для iPad mini2?
    h2 Устранение неполадок с сенсором и звуком
    p Вследствие падения или удара, попадания пыли и воды в открытые звуковые устройства, кнопки могут перестать отвечать на нажатия, звук может пропадать и появляться, а в динамике — слышаться посторонние шумы (скрипы, дребезжание). Нередко сушка и чистка таких деталей не в состоянии восстановить нормальную работу гаджета. Чтобы ликвидировать последствия, потребуется замена сенсора, микрофона или аудиокодека.
    p Специалист поможет найти неисправность, определит наиболее бюджетный и качественный вариант ее устранения. В качестве запчастей мы используем только оригинальные детали, что позволяет увеличить полезный срок использования планшета.
    h2 Ликвидация косметических изъянов на корпусе и экране
    p Со временем верхняя оболочка устройства изнашивается, особенно если вы пренебрегаете защитным чехлом, стеклом или пленкой. В итоге становятся слишком заметными потертости на корпусе, трещины и сколы на дисплее. В этом случае потребуется замена стекла ipad mini или задней панели. Такой ремонт поможет снова вернуть вашему планшету привлекательность и солидность. Мастер оценит глубину и характер повреждений, заменив испорченную деталь на новую в минимальные сроки.
    h2 Ремонт камеры, кнопок включения
    p В результате падения или сильных ударов может пострадать камера или главные кнопки управления планшетом. Чтобы восстановить качество снимков и видео, а также облегчить управление гаджетом потребуется их замена. Мастер определит причину поломки и быстро заменит деталь.
    h2 Восстановление программного обеспечения
    p Активное использование интернет-ресурсов может привести к попаданию вирусов в систему. Достаточно посетить один сомнительный сайт, чтобы столкнуться с неприятными последствиями (торможением, «глюком», зависанием программ, документов). Нередко система дает сбой даже вследствие перегрузки памяти множеством файлов различного характера или ударов о твердую поверхность.
    p Чтобы вернуть функциональность устройству, мастер выполнит диагностику, наладит работу системы, чтобы приложения и меню работали корректно. Это поможет выполнить любую поставленную задачу с помощью вашего айпад, скрасить досуг запуском интересных приложений или игр.
    p Обращайтесь в наш сервисный центр. Мы поможем вдохнуть жизнь в ваш гаджет, качественно выполнив даже срочный ремонт айпад. Ведь на каждый вид заказанных услуг по ремонту наши специалисты предоставляют официальную гарантию.
    p Звоните!
