extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad_mini2.jpg', alt='Цены на ремонт iPad Mini2')
        .col-sm-4
          h1(title='Ремонт iPad Mini2') Ремонт iPad Mini2
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad mini 2 по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad mini 2
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика
            time.pricelist__item__time 20 мин.
          .col-md-2
            .pricelist__item__cost бесплатно
          .col-md-7
            .pricelist__item__description
              | Мы проводим диагностику совершенно бесплатно! Во время диагностики мы выявим причину неполадки и сможем сказать, что именно нужно чинить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-2
            .pricelist__item__cost 200* грн.
          .col-md-7
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.	  

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 3 часов.
          .col-md-2
            .pricelist__item__cost от 400 грн.
          .col-md-7
            .pricelist__item__description Уронили iPad mini 2в воду? Даже если планшет попал в снег, то он мог выйти из строя.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 150 грн.
          .col-md-7
            .pricelist__item__description
              | Прошивка может потребоваться, если iPad mini 2 зависает, глючит или если вы неудачно обновились.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена стекла (тачскрина)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1200/1700грн.
          .col-md-7
            .pricelist__item__description
              | На вашем iPad mini 2 разбилось стекло? Замена стекла на iPad mini 2 в нашем сервисе занимает несколько часов и ваш планшет опять будет как новый.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена дисплея
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 2100 грн.
          .col-md-7
            .pricelist__item__description
              | Замена дисплея на iPad mini 2 чаще всего необходима, если экран вдруг перестал показывать или была повреждена матрица.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 2000 грн.
          .col-md-7
            .pricelist__item__description
              | При очень сильных повреждениях корпуса (если он треснул или очень сильно перегнулся), может потребоваться замена.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 	600 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost  600 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1500 грн.
          .col-md-7
            .pricelist__item__description
              | Ваш аккумулятор все чаще приходится заряжать и он быстрее садится? Новый аккумулятор решит все проблемы!

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description
              | Задняя камера iPad mini 2 может выдавать плохое изображение или вообще не запускаться, в этом случае, мы заменим её на новую.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена фронтальной камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена разъёма для наушников
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description
              | Сломан разъем наушников на iPad mini 2? Мы проведем ремонт и вы снова сможете использовать наушники с вашим iPad.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт разъема синхронизации (зарядки)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 700 грн.
          .col-md-7
            .pricelist__item__description
              | Если iPad mini 2 не заряжается или его не видит компьютер, то проблема, скорее всего, в разъеме.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description
              | Невозможность убавить или прибавить звук, приводит к тому, что вы не слышите звука при исправном динамике. Достаточно просто заменить шлейф громкости iPad mini 2 и все заработает.

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description
              | Не нажимается кнопка Home на iPad mini 2? Мы проведем ремонт и кнопка заработает как новая!

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description
              | Кнопка включения не нажимается? Это часто приводит к проблеме, что вы не можете включить iPad mini 2. Мы заменим кнопку Power на iPad в кратчайшие сроки.

      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Поклейка пленки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost от 80 грн.
          .col-md-7
            .pricelist__item__description Пленка поможет избежать Вам царапин и повреждений на переднем стекле.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 50грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы заняти, нет времени забрать Ваш iPad mini 2, курьер с радостью доставит Вам его по адресу.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost бесплатно
          .col-md-7
            .pricelist__item__description
              | Вы спешите, и нет времени заехать в сервис, тогда наш курьер сможет забрать iPad mini 2 и привести на диагностику бесплатно.
