extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad4.jpg', alt='iPad 4')
        .col-sm-4
          h1(title='Ремонт iPad 4') Ремонт iPad 4
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad по самым низким ценам при любой сложности
        // ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad 4
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Диагностика
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description
              | Если проблема сразу не ясна, то для определения причины неисправности мы проводим диагностику.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 2 часов.
          .col-md-3
            .pricelist__item__cost от 400 грн.
          .col-md-4
            .pricelist__item__description
              | Рекомендуется как можно быстрее провести чистку и сушку аппарата, дабы избежать более серьезных последствий.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-3
            .pricelist__item__cost 150 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас зависает iPad 4 или вы забыли пароль блокировки, нужно будет прошить устройство.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена стекла (тачскрина)
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 800/1000 грн.
          .col-md-4
            .pricelist__item__description
              | На вашем iPad 4 разбилось стекло? Замена стекла на iPad 4 в нашем сервисе занимает около часа и ваш планшет опять будет как новый.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена дисплея
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 2200/2400 грн.
          .col-md-4
            .pricelist__item__description
              | Дисплей на iPad 4 не работает? Замена дисплея производится профессиональными мастерами в нашем сервис-центре.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 1400/1600 грн.
          .col-md-4
            .pricelist__item__description
              | При очень сильном ударе корпус iPad 4 может повредиться. В этому случае потребуется его замена.

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description Время от времени кнопка Home начинает залипать или полностью выходит из строя.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если на iPad 4 не работает переключатель вибро или блокировки поворота экрана, то после ремонта в нашем сервисе все заработает как новое.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете убавить или прибавить звук, кнопка громкости залипает - это доставляет очень много неудобств при прослушивании аудио- или видео.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Не работает кнопка включения? Мы починим и вы снова сможете без проблем выключать iPad 4.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 700/1000 грн.
          .col-md-4
            .pricelist__item__description
              | Аккумулятор iPad 4 не заряжается или не держит заряд? Замена аккумулятора решит эту проблему.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Камера на iPad 4 не часто выходит из строя, но если у вас есть искажения или камера совсем не работает, то её можно заменить.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 600 грн.
          .col-md-4
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 550 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена разъёма для наушников
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description Если у Вас плохо ловит wi-fi, Вам нужно заменить антенну.

      h3.pricelist__heading Шлейфы
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа кнопки Home
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 500 грн.
          .col-md-4
            .pricelist__item__description За работу кнопки Home отвечает шлейф кнопки Home.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Замена шлейфа разьема синхронизации и зарядки
            time.pricelist__item__time 60 мин.
          .col-md-3
            .pricelist__item__cost 650 грн.
          .col-md-4
            .pricelist__item__description
              | Если iPad 4 не заряжается или его не видит компьютер, то проблема, скорее всего, в разъеме.

      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 5 мин.
          .col-md-3
            .pricelist__item__cost от 140 грн.
          .col-md-4
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 100 грн.
          .col-md-4
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPhone 5, наш курьер всегда с радостью Вам его доставит.

        .row.pricelist__row
          .col-md-5
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-3
            .pricelist__item__cost 0 грн.
          .col-md-4
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно.

