extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad pro 97'})
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img(src='../img/ipad/ipad-mini3.jpg', alt='Картинка:Цены на ремонт iPad Pro 9.7', title="Сервисный центр по ремонту iPad Pro 9.7 в Киеве")
        .col-sm-4
          h1(title='Ремонт iPad Pro 9.7') Ремонт iPad Pro 9.7
        .col-sm-6
      .sub-header__description
  .container
    section.repear
      include ../../templates/price-table
    p.cf
      span.pull-left
        i.fa.fa-arrow-left
        | &nbsp;&nbsp;
        a(href="/remont-ipad-mini4") Цены на ремонт iPad Mini 4
      span.pull-right
        a(href="/remont-ipad-pro-12") Цены на ремонт iPad Pro 12.9
        | &nbsp;&nbsp;
        i.fa.fa-arrow-right