extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad 3'})

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad3.jpg', alt='Ремонт iPad 3')
        .col-sm-4
          h1(title='Ремонт iPad 3') Ремонт iPad 3
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        | Сервисный центр Service Apple осуществляет&nbsp;
        strong ремонт iPad 3
        |  по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad 3
      h3.pricelist__heading Основное
      include ../../templates/price-table

    p.title Многофункциональный ipad 3: особенности и ремонт яблочного девайса
    p
      | Планшет ipad 3 в отличие от своего предшественника получил улучшенную версию процессора Apple A5X, содержащий два ядра
      | ARM Cortex A9 и камеру в 5 МП. Более того, девайс оснащен долгожданной 4G-технологией LTE. Но если вы думаете, что этот
      | планшет не имеет недостатков — ошибаетесь. Ведь его толщина и вес немного отличаются от айпад 2 и далеко не в лучшую
      | сторону — айпад 3 несущественно тяжелее. С другой стороны, визуально эти изменения не бросаются в глаза, однако при
      | взятии планшета в руки — станут заметными.
    p
      | Увеличение веса и толщины играют на руки пользователю только при механических повреждениях. Не секрет, что чем больше
      | металла в корпусе, тем выше прочность устройства. И с этим не поспоришь. Однако, не смотря на это, ремонт ipad 3 — не
      | редкость. Ведь постоянная эксплуатация устройства рано или поздно приводит к непреднамеренным ударам, падению,
      | физическому и моральному износу. Редко айпад выходит из строя из-за заводского брака. Ведь Apple на 100 % отвечает за
      | качество своей продукции.
    p.title Планшет Apple ipad 3 и ремонт: цена вопроса
    p
      | Если вы повредили свой Ipad и не знаете, куда обратиться за качественным ремонтом, предлагаем оптимальный и недорогой
      | вариант решения возникшей проблемы.
    p
      | В «Service-iphone» наши мастера способны провести бесплатную диагностику вашего устройства и необходимый вид ремонта за
      | разумные деньги. Специалист подробно расскажет, какая деталь требует замены, сколько будет стоить ремонт и в какой срок
      | его можно выполнить. При необходимости возможен даже срочный ремонт, что никоим образом не отобразиться на качестве.
      | Кстати, наш сервис использует только оригинальные запчасти, что помогает быстро вернуть работоспособность вашему
      | девайсу. Нам по силам любые, даже самые сложные повреждения, в чем каждый может убедиться лично.
      | Какие услуги мы предлагаем своим клиентам?
    h2 Замена дисплея, стекла, тачскрина
    p
      | Чаще всего&nbsp;
      strong замена стекла
      |  или ремонт дисплея на айпаде потребуется после таких повреждений, как удар по корпусу или падение гаджета. В
      | большинстве случаев такие последствия помогает смягчить защитный чехол. Поэтому не пренебрегайте такой защитой. Из-за
      | механических повреждений на передней части девайса появляются царапины, сколы и трещины.
    p
      | Когда повреждение носит косметический характер, проводится замена стекла ipad 3. Если задет дисплей и сенсорное
      | управление — необходима замена и этих запчастей для восстановления корректной работы вашего планшета. Наш мастер сможет
      | определить глубину царапины или скола, обозначить перечень необходимых ремонтных работ и быстро вернуть
      | работоспособность устройству.
    h2 Устранение косметических дефектов с корпуса
    p
      | В нашем сервисе вы сможете быстро вернуть привлекательность своему айпад.&nbsp;
      strong Замена корпуса
      |  — одна из самых
      | распространенных проблем, которая возникает в результате падения устройства, постоянного использования без защитного
      | кейса. После ремонта гаджет снова порадует вас гладкостью корпуса и стильным дизайном без единой царапины.
    h2 Диагностика и ремонт камеры, разъема зарядки и других гнезд
    p
      | При интенсивном использовании устройства может наступить физический износ отдельных деталей. В большинстве случаев,
      | первыми изнашиваются разъемы, кнопки, основная и фронтальная камера. Кстати, причиной поломки таких деталей может
      | послужить падение или удар о твердую поверхность.
    p
      | Чтобы устранить неисправность, мастер проведет диагностику, установит корень проблемы (удар, падение, попадание воды,
      | пыли) и отремонтирует деталь.
    h2 Замена динамика ipad 3, микрофона, звуковых плат, аудиокодека
    p
      | В большинстве случаев звук может пропадать вследствие повреждения звуковой платы, попадания пыли, грязи или воды в
      | звуковые отверстия. В результате этого пользователь заметит периодическое или полное исчезновение звука, дребезжание или
      | появление посторонних шумов при воспроизведении музыкальных композиций и видеофайлов.
    p
      | Чтобы понять, что именно приводит к «звуковым» проблемам, потребуется тщательная диагностика планшета. Во время этой
      | процедуры специалист обнаружит детали, которые повреждены и проведет их замену.
    h2 Прошивка ipad 3
    p
      | Вследствие использования интернета, нередко в систему попадают вирусы. Иногда — система дает сбои при перегрузке
      | оперативной памяти или вследствие падения айпад. Такие «травмы» не дают возможности полноценно использовать технику.
      | Приложения часто виснут, сайты медленно загружаются. Исправить проблему поможет прошивка программного обеспечения.
      | Не рекомендуем самостоятельно проводить такую работу. Программное обеспечение Apple требует определенных знаний и
      | квалификации, чтобы наладить систему. Ликвидировать сбои поможет наш мастер, имеющий необходимый опыт в этом деле.
      | Обращайтесь в «Service-iphone» и решите проблемы своего планшета в минимальные сроки!
