extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad_mini.jpg', alt='iPad Mini')
        .col-sm-4
          h1(title='Ремонт iPad Mini') Ремонт iPad Mini
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad mini по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad mini
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title бесплатно
            time.pricelist__item__time 20 мин.
          .col-md-2
            .pricelist__item__cost бесплатно
          .col-md-7
            .pricelist__item__description
              | Мы проводим диагностику совершенно бесплатно! Во время диагностики мы выявим причину неполадки и сможем сказать, что именно нужно чинить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-2
            .pricelist__item__cost 200* грн.
          .col-md-7
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time от 3 часов.
          .col-md-2
            .pricelist__item__cost от 400 грн.
          .col-md-7
            .pricelist__item__description
              | Уронили iPad mini в воду? Даже если телефон попал в снег, то он мог выйти из строя.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 150 грн.
          .col-md-7
            .pricelist__item__description
              | Прошивка может потребоваться, если iPad mini зависает, глючит или если вы неудачно обновились.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена сенсорного стекла
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1300/1700 грн.
          .col-md-7
            .pricelist__item__description
              | На вашем iPad mini разбилось стекло? Замена стекла на iPad mini в нашем сервисе занимает несколько часов и ваш планшет опять будет как новый.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1800 грн.
          .col-md-7
            .pricelist__item__description
              | При очень сильных повреждениях корпуса (если он треснул или очень сильно перегнулся), может потребоваться замена.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена дисплея (отдельно)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 2000 грн.
          .col-md-7
            .pricelist__item__description
              | Замена дисплея на iPad mini чаще всего необходима, если экран вдруг перестал показывать или была повреждена матрица.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1300 грн.
          .col-md-7
            .pricelist__item__description
              | Ваш аккумулятор все чаще приходится заряжать и он быстрее садится? Новый аккумулятор решит все проблемы!

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 700 грн.
          .col-md-7
            .pricelist__item__description
              | Камера на iPad mini не часто выходит из строя, но если у вас есть искажения или камера совсем не работает, то её можно заменить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена фронтальной камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description
              | Если у вас сильно снизился уровень приема Wi-Fi, то проблема скорее всего в антенне и потребуется её заменить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена разъёма для наушников
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600грн.
          .col-md-7
            .pricelist__item__description
              | Сломан разъем наушников на iPad mini? Мы проведем ремонт и вы снова сможете использовать наушники с вашим iPad.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт разъёма синхронизации (зарядки)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 750грн.
          .col-md-7
            .pricelist__item__description
              | Если iPad mini не заряжается или его не видит компьютер, то проблема, скорее всего, в разъеме.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description
              | Невозможность убавить или прибавить звук, приводит к тому, что вы не слышите звука при исправном динамике. Достаточно просто заменить кнопки громкости iPad mini и все заработает.

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | Чаще всего кнопка Home выходит из строя из-за неправильного обращения или попадания воды и грязи. Обычно при этом достаточно заменить её шлейф.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена переключателя режимов
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | Рычажок вибрации может выйти из строя и тогда вы не сможете включить или выключить беззвучный режим.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 650 грн.
          .col-md-7
            .pricelist__item__description
              | Кнопка включения не нажимается? Это часто приводит к проблеме, что вы не можете включить iPad mini. Мы заменим кнопку Power на iPad в кратчайшие сроки.

      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost от 120 грн.
          .col-md-7
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 50 грн.
          .col-md-7
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPad mini, наш курьер всегда с радостью Вам его доставит.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost бесплатно
          .col-md-7
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно забрать Ваше устройство .

    p.title Ipad mini: характеристика и ремонт стильного 7-дюймового гаджета
    p
      | Apple ipad mini — первый семидюймовый планшет в линейке Apple. Эта модель по весу и толщине сравнима с Nexus 7 или
      | Samsung Galaxy Tab 2. Однако по другим характеристикам, кроме цены, значительно выигрывает. Не секрет, что iOS лучше
      | любой версии Android, тем более 6 уровня. В версии мини предусмотрены все наиболее востребованные пользователем
      | функции: загрузка документов и книг в формате PDF с возможностью чтения в альбомном и портретном режиме, использование
      | карт и сети интернет, а также различных фото и видеоредакторов на любой вкус.
    p
      | Более того, мини-планшет сохранил все настройки своего «родителя». Поэтому пользователь получает удобную возможность
      | наслаждаться всеми преимуществами айпад, но за меньшую стоимость.
    p
      | С учетом всех преимуществ айпад мини не так идеален, как кажется на первый взгляд. В отличие от ipad, уменьшенная
      | версия лишилась Retina-дисплея, к которому привыкли любители яркого и динамичного изображения. Поэтому в айпад mini
      | одним из самых слабых мест является именно экран и дисплей. При падениях и ударах они страдают в первую очередь.
    p
      | В «Service-iphone» вы сможете быстро избавиться от любых повреждений на корпусе и экране своего крутого гаджета. Наши
      | специалисты быстро проведут бесплатную диагностику и определят масштабность проблемы. Вернуть привлекательность и
      | работоспособность Apple ipad смогут квалифицированные мастера нашего сервисного центра, предоставляющие гарантию на
      | любой вид заказанного ремонта.
    h2 Ремонт ipad mini: какие виды ремонта существуют?
    p
      | Во время эксплуатации планшет ipad, так же как и планшет любого другого производителя, может выйти из строя не только
      | из-за заводского брака, но и по другим причинам. Например, сильный удар по корпусу или непреднамеренное падение
      | устройства приносит не только косметические дефекты (царапины на экране, сколы и потертости на корпусе), но и те,
      | которые влияют на работу девайса в целом (воспроизведение звука, передача изображения, запуск приложений, реакция на
      | нажатие по кнопкам).
    p
      | Ремонт айпад в «Service-iphone» осуществляется в минимальные сроки с заменой поврежденных деталей на оригинальные
      | запчасти. Предлагаем для ознакомления перечень услуг по ремонту планшета.
    h2 Замена стекла ipad mini, тачскирина и дисплея
    p
      | Как уже отмечалось, в этой модели планшета экран — одно из самых уязвимых мест устройства. В случае царапины на
      | экране или падения планшета может выйти из строя сенсорное управление. Тогда обычная &nbsp;
      strong замена стекла
      | не решит проблему. Для ее устранения необходимо заменить тачскрин, чтобы девайс реагировал на команды пользователя.
    p
      | В некоторых случаях в негодность могут прийти даже кнопки, расположенные сбоку устройства, например, «качельки»
      | громкости, главная кнопка управления и включения девайса. Ликвидировать подобную проблему поможет опытный мастер после
      | тщательной диагностики полученных девайсом повреждений.
    h2 Ремонт подсветки ipad mini
    p
      | Если пропадает подсветка, скорее всего, дело в экране. Только специалист сможет определить причину такой поломки и
      | восстановит видимость. Вы снова сможете использовать меню, работать с приложениями и документами.
    h2 Устранение косметических дефектов на корпусе
    p
      | Вследствие механических повреждений на корпусе могут появиться потертости, сколы, трещинки, которые портят внешний
      | вид планшета. Замена корпуса легко и недорого поможет решить такую проблему. В итоге, девайс будет выглядеть так же
      | привлекательно, как и в день покупки.
    h2 Ликвидация проблем со звуком
    p
      | В случае попадания пыли или воды внутрь конструкции вы можете столкнуться со «звуковыми» проблемами. Например, звук
      | может пропадать, потом вновь появляться, а при воспроизведении музыкальных композиций или видеофайлов актуальным
      | станет громкое дребезжание или наличие посторонних звуков.
    p
      | Чтобы понять, что именно приводит к таким проблемам, потребуется тщательная диагностика планшета. Во время этой
      | процедуры специалист обнаружит детали, которые повреждены и проведет их замену.
    h2 Ремонт камеры
    p
      | Основная или фронтальная камера также может выйти из строя при падении планшета, попадании внутрь воды или получении
      | удара в верхнюю часть устройства. Такие повреждения приводят к размытости снимков и видео, отсутствию яркости или
      | фокусировки на лицах.
    p
      | В большинстве случаев потребуется замена детали, чтобы вернуть качество снимку или ролику. Мастер выяснит характер
      | поломки, квалифицированно проведет замену. Вы снова сможете делать яркие снимки и снимать качественное видео.
    p Обращайтесь в «Service-iphone». Получите быструю помощь при любых повреждениях вашего айпад мини!