extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad air 2'})
block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad-air2.jpg', alt='iPad Air 2')
        .col-sm-4
          h1(title='Ремонт iPad Air 2') Ремонт iPad Air 2
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        // Сервисный центр Service Apple осуществляет ремонт iPad Air 2 по самым низким ценам при любой сложности
        // ремонта.
  .container
    section.repear
      h2 Ipad air2: как отремонтировать модный гаджет
      p Планшет практически схож с предыдущей моделью, но лишь внешне. На самом деле, технические характеристики девайса гораздо лучше: процессор стал значительно мощнее, вблизи камеры разместился дополнительный микрофон, а цветовая гамма дополнена новым красивым золотым цветом.
      p Более того, вес нового гаджета из линейки air существенно меньше и отличается от первой модели примерно на 200 грамм. Это говорит о том, что этот планшет apple стал гораздо легче и тоньше (толщина равна всего 6,1 мм). Однако чем меньше размер устройства, тем большему риску он подвергается при падениях и ударах. И это даже несмотря на то, что корпус Apple вылит из цельного куска алюминия, а в качестве дополнительной защиты используется сапфир.
      p Кстати, наиболее уязвимой частью этой модели планшета, как ни странно, является именно задняя часть. Поскольку ее корпус имеет небольшую пластиковую вставку. Другими словами, при падении устройства с большой высоты именно пластик и пострадает в первую очередь.
      p В «Service-iphone» наши специалисты проведут качественный ремонт поврежденных частей гаджета и выполнят даже срочный ремонт айпад. Мы проводим замену деталей только на оригинальные запчасти, что продлит срок полезного использования вашего планшета. Для всех клиентов предусмотрена бесплатная диагностика, после которой мастер подберет наиболее оптимальный вариант ремонта.
      p Кстати, на все виды предоставляемых услуг мы даем гарантию, что позволит быть уверенными в качестве выполненного ремонта.
      h2 Какой ремонт вы можете заказать в «Service-iphone»?
      h3.pricelist__heading Основное
      include ../../templates/price-table

    p.title Устранение косметических дефектов с корпуса и экрана
    p Нередко в результате падения айпад на корпусе и дисплее появляются царапины и сколы. Это приводит к тому, что девайс теряет свою привлекательность и солидность. Чтобы исправить такие дефекты, мастер проводит замену поврежденных деталей на новые. В качестве запчастей применяются только оригинальные детали, в точности соответствующие размерам и конструкции планшета.
    h2 Восстановление тачскрина, замена стекла, дисплея
    p В большинстве ситуаций даже небольшая, но глубокая царапина может привести к повреждению сенсора. Такую поломку нужно обязательно устранить, иначе использование гаджета становится бессмысленным. Ведь он не отвечает на прикосновения, а значит, пользователь не имеет возможности воспользоваться меню и приложениями. С помощью специальных приспособлений специалист определит причину отсутствия отклика сенсорного управления и при необходимости выполнит необходимые ремонтные работы. Чаще всего требуется
      strong замена дисплея
      | .
    h2 Устранение проблем с батареей, разъемами
    p Из-за частого использования отдельных составляющих устройства, они быстро выходят из строя. В первую очередь, к ним относят гнезда и аккумулятор. При частом использовании флешки и других съемных носителей разъемы расшатываются, вследствие чего айпад не видит зарядку, а компьютер — планшет.
    p Иногда причиной подобного явления может быть попадание воды внутрь отверстия. Кстати, в этом случае может возникнуть проблема даже с аккумулятором. Он перестанет держать заряд, что не позволит длительно пользоваться планшетом.
    p Чтобы определить, в чем именно причина неисправности, необходима диагностика. Только по ее результату мастер сможет провести замену поврежденной детали или выполнить другие виды ремонтных работ, которые не предполагают замену (например, чистку, спайку или сушку).
    h2 Ремонт аудиокодека, динамика, микрофона
    p Исчезновение звука говорит о том, что внутрь конструкции попала вода, другая жидкость или пыль. В редких случаях звук может отсутствовать из-за сильного удара или падения девайса. Тогда это говорит о том, что повреждено звуковое устройство. Чтобы решить подобную проблему, нужно заменить поврежденную деталь на новую.
    p.title Восстановление программного обеспечения
    p Система тоже может давать сбой, если перегружена память гаджета или загружены файлы, содержащие вирусы. В таком случае некоторые программы могут зависать, самостоятельно выключаться после запуска или не сохранять данные по окончанию работы. Только квалифицированный специалист поможет избавиться от вируса, полностью восстановить корректную работу приложений и установленных игр.
    p Кстати, при необходимости мастер перенесет существующую базу данных на съемный носитель до начала ремонтных работ. Это поможет сохранить фотографии, документы, хранящиеся на главном диске. Отметим: нежелательно пытаться самостоятельно наладить работу устройства. Самовольное вмешательство может сделать ремонт еще дороже, чем проблема, которая возникла ввиду неопытности. Помните: Apple разрабатывали ведущие инженеры, которые тщательно продумывали каждую возможность меню.
    p Ремонт ipad в «Service-iphone» — ваша возможность быстро и качественно восстановить работоспособность своего гаджета. Приходите уже сегодня!
