extends ../../layout

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad3.jpg', alt='Ремонт iPad 3')
        .col-sm-4
          h1(title='Ремонт iPad 3') Ремонт iPad 3
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        | Сервисный центр Service Apple осуществляет&nbsp;
        strong ремонт iPad 3
        |  по самым низким ценам при любой сложности ремонта.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad 3
      h3.pricelist__heading Основное
      .pricelist__table

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 0 грн.
          .col-md-7
            .pricelist__item__description
              | Если проблема сразу не ясна, то для определения причины неисправности мы проводим диагностику.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Диагностика материнской платы
            time.pricelist__item__time 1-3 дня.
          .col-md-2
            .pricelist__item__cost 200* грн.
          .col-md-7
            .pricelist__item__description
              | Диагностика бесплатна при ремонте устройства.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт после воды
            time.pricelist__item__time
          .col-md-2
            .pricelist__item__cost от 400 грн.
          .col-md-7
            .pricelist__item__description
              | Если Ваш iPad 3 упал в воду, для начала его нужно отключить и провести чистку.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Перепрошивка, программный ремонт
            time.pricelist__item__time 30 мин.
          .col-md-2
            .pricelist__item__cost 150 грн.
          .col-md-7
            .pricelist__item__description
              | Если у Вас зависает iPad 3 или вы забыли пароль блокировки, нужно будет прошить устройство.

      h3.pricelist__heading Корпус
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена стекла (тачскрина)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1150 грн.
          .col-md-7
            .pricelist__item__description
              | На вашем iPad 3 разбилось стекло? Замена стекла на iPad 3 в нашем сервисе занимает несколько часов и ваш планшет опять будет как новый.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена корпуса
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1800 грн.
          .col-md-7
            .pricelist__item__description
              | При очень сильном ударе корпус iPad 3 может повредиться. В этому случае потребуется его замена.

      h3.pricelist__heading Кнопки
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки Home
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 500 грн.
          .col-md-7
            .pricelist__item__description
              | Не нажимается кнопка Home на iPad 3? Мы проведем ремонт и кнопка заработает как новая!

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена переключателя вибро
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 500 грн.
          .col-md-7
            .pricelist__item__description
              | Основные признаки неполадки кнопки вибрации iPad 3 : невозможно отключить звук, кнопка расшаталась или запала, произвольно включается и отключается звук.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопок громкости
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 500 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы не можете убавить или прибавить звук, кнопка громкости залипает - это доставляет очень много неудобств при прослушивании аудио- или видео.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена кнопки включения/блокировки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | От загрязнений или неправильного использования кнопка включения может перестать работать.

      h3.pricelist__heading Комплектующие
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена полифонического динамика
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 500 грн.
          .col-md-7
            .pricelist__item__description
              | Не работает динамик на iPad 3? Сервисный центр проведет ремонт и исправит вашу проблему.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена микрофона
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 500 грн.
          .col-md-7
            .pricelist__item__description Если Вас не слышит собеседник, скорее всего вышел из строя микрофон.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена дисплея
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 2000 грн.
          .col-md-7
            .pricelist__item__description
              | Дисплей на iPad 3 не работает? Замена дисплея производится профессиональными мастерами в нашем сервис-центре.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена аккумулятора
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 1200 грн.
          .col-md-7
            .pricelist__item__description
              | Аккумулятор iPad 3 не заряжается или не держит заряд? Замена аккумулятора решит эту проблему.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена задней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | Камера на iPad 3 не часто выходит из строя, но если у вас есть искажения или камера совсем не работает, то её можно заменить.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена передней камеры
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 550 грн.
          .col-md-7
            .pricelist__item__description
              | Если Вы не можете настроить фокус или у Вас низкое качество изображения, Вам нужно заменить камеру.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Ремонт разъёма синхронизации (зарядки)
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description
              | Если iPad 3 не заряжается или его не видит компьютер, то проблема, скорее всего, в разъеме.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Замена антенны Wi-Fi
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost 600 грн.
          .col-md-7
            .pricelist__item__description Если у Вас плохо ловит wi-fi, Вам нужно заменить антенну.

      h3.pricelist__heading Другое
      .pricelist__table
        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Наклейка пленки
            time.pricelist__item__time 
          .col-md-2
            .pricelist__item__cost от 100 грн.
          .col-md-7
            .pricelist__item__description
              | Пленка поможет избежать Вам царапин и повреждений на переднем стекле. Стоимость указана за наклейку пленки с одной стороны и с учетом самой пленки.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка из сервиса
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 50 грн.
          .col-md-7
            .pricelist__item__description
              | Если у Вас нет времени забрать Ваш iPad 3, наш курьер всегда с радостью Вам его доставит.

        .row.pricelist__row
          .col-md-3
            .pricelist__item__title Доставка в сервис
            time.pricelist__item__time от 30 мин.
          .col-md-2
            .pricelist__item__cost 0 грн.
          .col-md-7
            .pricelist__item__description Курьер сможет приехать в удобное для Вас время и совершенно бесплатно забрать Ваше устройство.

    p.title Многофункциональный ipad 3: особенности и ремонт яблочного девайса
    p
      | Планшет ipad 3 в отличие от своего предшественника получил улучшенную версию процессора Apple A5X, содержащий два ядра
      | ARM Cortex A9 и камеру в 5 МП. Более того, девайс оснащен долгожданной 4G-технологией LTE. Но если вы думаете, что этот
      | планшет не имеет недостатков — ошибаетесь. Ведь его толщина и вес немного отличаются от айпад 2 и далеко не в лучшую
      | сторону — айпад 3 несущественно тяжелее. С другой стороны, визуально эти изменения не бросаются в глаза, однако при
      | взятии планшета в руки — станут заметными.
    p
      | Увеличение веса и толщины играют на руки пользователю только при механических повреждениях. Не секрет, что чем больше
      | металла в корпусе, тем выше прочность устройства. И с этим не поспоришь. Однако, не смотря на это, ремонт ipad 3 — не
      | редкость. Ведь постоянная эксплуатация устройства рано или поздно приводит к непреднамеренным ударам, падению,
      | физическому и моральному износу. Редко айпад выходит из строя из-за заводского брака. Ведь Apple на 100 % отвечает за
      | качество своей продукции.
    p.title Планшет Apple ipad 3 и ремонт: цена вопроса
    p
      | Если вы повредили свой Ipad и не знаете, куда обратиться за качественным ремонтом, предлагаем оптимальный и недорогой
      | вариант решения возникшей проблемы.
    p
      | В «Service-iphone» наши мастера способны провести бесплатную диагностику вашего устройства и необходимый вид ремонта за
      | разумные деньги. Специалист подробно расскажет, какая деталь требует замены, сколько будет стоить ремонт и в какой срок
      | его можно выполнить. При необходимости возможен даже срочный ремонт, что никоим образом не отобразиться на качестве.
      | Кстати, наш сервис использует только оригинальные запчасти, что помогает быстро вернуть работоспособность вашему
      | девайсу. Нам по силам любые, даже самые сложные повреждения, в чем каждый может убедиться лично.
      | Какие услуги мы предлагаем своим клиентам?
    h2 Замена дисплея, стекла, тачскрина
    p
      | Чаще всего&nbsp;
      strong замена стекла
      |  или ремонт дисплея на айпаде потребуется после таких повреждений, как удар по корпусу или падение гаджета. В
      | большинстве случаев такие последствия помогает смягчить защитный чехол. Поэтому не пренебрегайте такой защитой. Из-за
      | механических повреждений на передней части девайса появляются царапины, сколы и трещины.
    p
      | Когда повреждение носит косметический характер, проводится замена стекла ipad 3. Если задет дисплей и сенсорное
      | управление — необходима замена и этих запчастей для восстановления корректной работы вашего планшета. Наш мастер сможет
      | определить глубину царапины или скола, обозначить перечень необходимых ремонтных работ и быстро вернуть
      | работоспособность устройству.
    h2 Устранение косметических дефектов с корпуса
    p
      | В нашем сервисе вы сможете быстро вернуть привлекательность своему айпад.&nbsp;
      strong Замена корпуса
      |  — одна из самых
      | распространенных проблем, которая возникает в результате падения устройства, постоянного использования без защитного
      | кейса. После ремонта гаджет снова порадует вас гладкостью корпуса и стильным дизайном без единой царапины.
    h2 Диагностика и ремонт камеры, разъема зарядки и других гнезд
    p
      | При интенсивном использовании устройства может наступить физический износ отдельных деталей. В большинстве случаев,
      | первыми изнашиваются разъемы, кнопки, основная и фронтальная камера. Кстати, причиной поломки таких деталей может
      | послужить падение или удар о твердую поверхность.
    p
      | Чтобы устранить неисправность, мастер проведет диагностику, установит корень проблемы (удар, падение, попадание воды,
      | пыли) и отремонтирует деталь.
    h2 Замена динамика ipad 3, микрофона, звуковых плат, аудиокодека
    p
      | В большинстве случаев звук может пропадать вследствие повреждения звуковой платы, попадания пыли, грязи или воды в
      | звуковые отверстия. В результате этого пользователь заметит периодическое или полное исчезновение звука, дребезжание или
      | появление посторонних шумов при воспроизведении музыкальных композиций и видеофайлов.
    p
      | Чтобы понять, что именно приводит к «звуковым» проблемам, потребуется тщательная диагностика планшета. Во время этой
      | процедуры специалист обнаружит детали, которые повреждены и проведет их замену.
    h2 Прошивка ipad 3
    p
      | Вследствие использования интернета, нередко в систему попадают вирусы. Иногда — система дает сбои при перегрузке
      | оперативной памяти или вследствие падения айпад. Такие «травмы» не дают возможности полноценно использовать технику.
      | Приложения часто виснут, сайты медленно загружаются. Исправить проблему поможет прошивка программного обеспечения.
      | Не рекомендуем самостоятельно проводить такую работу. Программное обеспечение Apple требует определенных знаний и
      | квалификации, чтобы наладить систему. Ликвидировать сбои поможет наш мастер, имеющий необходимый опыт в этом деле.
      | Обращайтесь в «Service-iphone» и решите проблемы своего планшета в минимальные сроки!
