extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'product', 'productType': 'ipad 2'})

block content
  .sub-header
    .container
      .row
        .col-sm-2.text-center
          img.sub-header__img(src='../img/ipad/ipad2.jpg', alt='Картинка:Ремонт iPad 2', title="Ремонт iPad 2 в Сервисном центре Apple в Киеве")
        .col-sm-4
          h1(title='Ремонт iPad 2') Ремонт iPad 2
          p Услуги и цены
        .col-sm-6
      .sub-header__description
        strong Ремонт iPad 2
        |  производится в нашем сервисе только
        |       профессиональными, специально обученными мастерами, имеющими опыт в несколько лет работы с iPad 2. Вы можете
        |       полностью доверить ваш аппарат нашим специалистам. На любые ремонты мы даем гарантию 6 месяцев.
      div
        p
          | iPad 2 даже в конце 2013 года является самым популярным из всех планшетов компании Apple. Этой моделью
          | пользуется 38% от посетителей нашего сайта, которые зашли на него с помощью Айпада. Как и любая другая техника,
          | iPad 2 иногда требует ремонта.
        p
          | Мы довольно часто ремонтируем iPad 2, но чаще всего мы меняем стекла. Эта модель часто бьется, так как всю
          | переднюю панель занимает тонкое стекло. Причем, в большинстве случаем, дисплей продолжает работать и тачскрин
          | обрабатывает нажатия на разбитое стекло.
        p
          a(href='/') Замена стекла iPad 2 в Киеве
          |  — это самый частый ремонт, который мы производим с iPad 2.
        p
          | Наш сервисный центр может произвести качественный ремонт iPad 2 в самые короткие сроки. Так как самое слабое
          | место в планшет, это экран, то замена стекла iPad 2 стала самой востребованной услугой из всех. Мы заменяем
          | стекло в кратчайшие сроки по самой низкой цене (вы сами можете сравнить).
        p
          | При других различных поломках, таких как проблемы с сетью, с кнопками, <strong>замена дисплея в Киеве</strong> приходится всегда снимать
          | стекло. Сделать это довольно сложно и для выполнения этой работы необходим достаточно большой опыт в разборке iPad 2.
  .container
    section.repear
      h2.repear__title Цены на Ремонт iPad 2
      h3.pricelist__heading Основное
      include ../../templates/price-table

    p.title Мегаудобный планшет ipad 2: особенности эксплуатации и ремонта
    p
      | Планшет Apple айпад 2 — один из самых функциональных гаджетов на рынке современной компьютерной техники. И дело не только
      | в стильном аккуратном дизайне в стиле минимализма. Продукт яблочного бренда всегда демонстрирует выносливость, мощность
      | и функциональность, изящно подчеркивая тонкость вкуса своего владельца.
    p
      | Когда рынок впервые познакомился с айпад 2, уже в первые несколько месяцев в США с витрин магазинов напрочь исчез этот
      | элегантный и удобный девайс. Если его сравнить с более доступными по цене моделями, например, Motorola XOOM или Samsung
      | Tab вывод будет один: даже несмотря на меньший размер дисплея, Apple iPad 2 значительно выигрывает по возможностям,
      | прочности и особенностям конструкции.
    p
      | Не секрет, что яблочная продукция вполне справедливо за столько лет завоевала не только мировое признание, но и
      | считается наиболее удобной и практичной техникой для деловых людей и даже для студентов.&nbsp;
      strong Ремонт ipad 2
      | : есть ли в нем необходимость?
    p
      | Планшет ipad 2 редко подвергается 100 % ремонту. Обнаружение заводского брака в модели бывает нечасто. Ведь
      | производитель свято соблюдает технологию изготовления девайса, не бросая тень на свою репутацию. Поэтому если какая-либо
      | деталь и выходит из строя, скорее всего, это следствие механических повреждений. В большинстве случаев их получают не
      | только дома, но и на улице.
    p
      | К самым распространенным поломкам относят попадание воды и другой жидкость внутрь корпуса через разъемы, камеру, а также
      | падение планшета на твердую поверхность (асфальт, бетон, паркет), удары передней или задней части о жесткие предметы.
      | В «Service-iphone» вы можете получить бесплатную диагностику планшета на предмет неисправностей. Наши специалисты
      | объяснят, почему не работает кнопка или не подзаряжается устройство, что надо заменить, чтобы устранить неполадку, и
      | сколько стоит такой ремонт. Кстати, после диагностики вы можете отказаться от ремонта, не оплатив за услугу ни копейки.
      | Если вы решитесь доверить свой планшет нам — не ошибетесь. Быстрое устранение поломок с заменой только на оригинальные
      | запчасти для полноценной работы ipad по доступной и разумной цене поможет забыть о проблеме. Ваш айпад 2 снова будет
      | радовать скоростью работы и привлекательностью.
    p.title.text-center Варианты ремонта
    h2 Замена стекла, дисплея, сенсора ipad 2
    p
      | Стекло, дисплей и сенсор — самые хрупкие детали планшета. Поэтому они первыми выходят из строя при его падении, что
      | приводит к порче не только внешнего вида гаджета, но и его некорректной работе. В большинстве случаев девайс не отвечает
      | на команды, заданные пользователем. В итоге становится невозможным активировать приложение, прочесть документ.
    p
      | Если поломка, например, царапина, повредила только стекло, проводится его замена. Кстати, стекло для айпада, как и любая
      | другая деталь, требует замены только на оригинальную запчасть. Когда царапина засела слишком глубоко и зацепила
      | тачскрин, а удар привел к повреждению контактов соединения, шлейфа, креплений к корпусу — разборка дисплея, замена всех
      | поврежденных деталей опытным мастером.
    h2 Устранение царапин, вмятин и потертостей на корпусе айпад 2
    p
      | Корпус — оболочка, которая защищает внутренние части айпад от механический повреждений, пыли и грязи. При сильных
      | повреждениях возникает не только эстетическая проблема внешнего вида гаджета, но и реальная угроза тому, что расположено
      | внутри (микросхемы, платы).
    p
      | Квалифицированный мастер оценит характер полученных изъянов, проведет разборку гаджета, оценит ущерб и сможет
      | ликвидировать проблему, заменив корпус и, при необходимости, запчасти, вышедшие из строя.
      | Ремонт микрофона, динамика, кнопок блокировки и громкости, камеры
      | Попадание воды, пыли и грязи в разъемы или на поверхность устройства — основная причина выхода из строя звука, кнопок и
      | видеокамеры. Чтобы понять, в чем проблема, потребуется диагностика, после — очистка или просушка и уже потом ремонт,
      | если предыдущие действия не решили проблему. Мастер быстро справиться с поломками, и вы снова сможете юзать девайс в
      | свое удовольствие.
    h2  Ликвидация проблем с подзарядкой, подключением внешних устройств
    p
      | Разъемы — наиболее используемые части планшета. Постоянное подключение флешки, смартфона, зарядного устройства
      | расшатывает гнезда. В этом случае достигается 100 % физический износ девайса, как и другой техники при длительном
      | использовании. Наш специалист быстро решит эту проблему и заменит гнездо на новое, наладит контакт видимости зарядки
      | устройством.
    h2 Восстановление ПО iPad 2
    p
      | При желании мы переносим нужные данные пользователя на временные носители информации и только потом проводим прошивку
      | айпад 2. Обычно программное обеспечение выходит из строя из-за морального износа, последствий падения, попадания пыли
      | внутрь конструкции. Наш сервисный центр быстро вернет айпаду работоспособность в минимальные сроки.
    p Приходите в «Service-iphone».
    p  Чем быстрее вы среагируете на проблему своего гаджета, тем дешевле обойдется его ремонт!