extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'feedback'})

block content
  .container
    h1 Отзывы.
    .col-xs-6
      // Put this script tag to the <head> of your page
      script(type='text/javascript', src='//vk.com/js/api/openapi.js?136', defer)
      script(type='text/javascript', defer).
        VK.init({apiId: 5764890, onlyWidgets: true});
      // Put this div tag to the place, where the Comments block will be
      #vk_comments
      script(type='text/javascript', defer).
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: "*"});




