
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена батареи (аккумулятора) iPad Air 2') Замена батареи (аккумулятора) iPad Air 2
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad-air2.jpg', title='Ремонт iPad Киев', alt='Картинка:Ремонт iPad Киев')
        p
          | По разным причинам и в разное время, любой владелец планшета iPad Air 2 может столкнуться с неудовлетворительной
          | работой аккумулятора устройства. &nbsp;
          strong Замена батареи (аккумулятора) iPad Air 2
          |  необходима по причине резкого снижения ее
          |   емкости. Это происходит как по естественным причинам, так и в результате неправильного использования аккумулятора.
        p
          | При правильной эксплуатации батарея требует замены после определенного количества циклов зарядки. Это происходит, в
          | среднем, через 1,5-2 года использования планшета. Признаками того, что необходим &nbsp;
          a(href='http://service-iphone.com.ua/ipad-remont') ремонт iPad Air 2
          |  в виде замены
          |   батареи, являются резкое уменьшение времени работы без подзарядки, а в некоторых случаях - внезапные перезагрузки или
          |   выключения устройства.
        p
          | Причинами досрочного выхода аккумулятора из строя чаще всего являются использование неподходящих или неисправных
          | зарядных устройств, попадание воды внутрь корпуса, перегрев аккумулятора, механические повреждения.
        p
          | Независимо от причины, лучше доверить &nbsp;
          a(href='http://service-iphone.com.ua/remont-ipad-air2') ремонт Айпад Air 2
          |  профессионалам, не пытаясь самостоятельно
          |   заменить батарею, если у вас нет опыта разбора и ремонта сложной техники. В авторизованном сервисном центре в ваш iPad
          |   Air 2 будет установлен оригинальный аккумулятор от производителя, а также обязательно произведена диагностика. Это
          |   позволит выявить причину повреждения батареи и устранить ее быстро и качественно.