
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена экрана (дисплея) iPad Air 2
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad-air2.jpg', title='Ремонт iPad Киев', alt='Картинка:Ремонт iPad Киев')
        p
          | Если в вашем
          b iPad Air 2
          |  перестала работать подсветка, либо не включается экран, необходима &nbsp;
          a(href='http://service-iphone.com.ua/remont-ipad-air2', title='замена экрана (дисплея) iPad Air 2') замена экрана (дисплея) iPad Air 2
          | . Причинами этих неисправностей могут быть попадание влаги внутрь корпуса планшета, а также удары и другие
          |   внешние воздействия на поверхность экрана. По причине своего большого размера, дисплей в планшетах является самым
          |   уязвимым местом, независимо от производителя и качества устройства.
        p
          a(href='http://service-iphone.com.ua/ipad-remont', title='Ремонт iPad Air 2 в Киеве') Ремонт iPad Air 2 в Киеве
          |  осуществляют многие мастерские и сервисные
          |   центры, но лучше обращаться в организации, которые имеют сертификаты, выданные компанией Apple. Наличие авторизации от
          |   производителя подтверждает то, что сервисный центр соответствует высоким стандартам качества, и имеет все необходимое
          |   для обслуживания сложной современной электроники.
        p
          | Мы не рекомендуем обращаться в небольшие полукустарные мастерские, где вам никто не сможет гарантировать качество
          | ремонта и безупречную работу планшета. Для этого компания, которая осуществляет &nbsp;
          a(href='http://service-iphone.com.ua', title='ремонт Айпад Air 2') ремонт Айпад Air 2
          | , должна иметь
          |   необходимое оборудование, квалифицированный персонал, а также оригинальные запасные детали, которые предоставляет
          |   производитель.
        p
          | Еще одно правило хорошего сервисного центра - обязательная бесплатная диагностика, которая позволяет выявить причину
          | неисправности, и устранить ее, обеспечив качественную работу планшета после замены необходимой детали.
