extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена стекла iPad Air 2') Замена стекла iPad Air 2
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad-air2.jpg', title='Ремонт iPad Киев', alt='Картинка:Ремонт iPad Киев')
        p
          | Несмотря на кажущуюся простоту, &nbsp;
          a(href='http://service-iphone.com.ua/remont-ipad-air2', title='замена стекла iPad Air 2') замена стекла iPad Air 2
          |  является сложной и ответственной операцией. Сенсорное
          |   стекло в планшетах большого размера является очень уязвимым для внешних воздействий элементом. Удары, которые приводят
          |   к его повреждениям, могут оказывать воздействие и на другие компоненты, в частности, на дисплей. Поэтому компания
          |   Apple использует модульный способ ремонта и замены таких сложных деталей.
        p
          | Даже в случае появления небольших трещин на сенсорном стекле вашего планшета, следует произвести &nbsp;
          a(href='http://service-iphone.com.ua/ipad-remont', title='ремонт iPad Air 2') ремонт iPad Air 2
          | ,
          |   который будет заключаться в замене всего дисплейного модуля. Такой способ повышает стоимость ремонта, но гарантирует
          |   его результат. Испытанный и настроенный в заводских условиях, оригинальный дисплейный блок от производителя работает
          |   точно так же, как в новом планшете. Такого результата невозможно достичь в случае замены одного только сенсорного
          |   стекла.
        p
          | Очень не рекомендуется пытаться провести &nbsp;
          a(href='http://service-iphone.com.ua', title='ремонт Айпад Air 2') ремонт Айпад Air 2
          |  самостоятельно. Учитывая размер экрана, а также
          |   сложность и чувствительность внутренних компонентов устройства, для качественного ремонта требуется соблюсти ряд
          |   условий. Это возможно только в условиях сервисного центра, уполномоченного производить ремонт планшетов компанией
          |   производителем.
