extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'contacts'})

block content
  section.container
    div.cf.pt10.pb10.show-tablet
      div.col-sm-2.col-lg-1.col-lg-offset-3.col-sm-offset-1
        | Мы в &nbsp;
        a(href='https://vk.com/serviceiphoneua', rel="nofollow", target="_blank")
          i.fa.fa-vk
          //|&nbsp;Vkotakte
      div.col-sm-2.col-lg-1
        | Мы в &nbsp;
        a(href='https://www.facebook.com/ServiceiPhoneUA/', rel="nofollow", target="_blank")
          i.fa.fa-facebook
          //|&nbsp;Facebook
      div.col-sm-2.col-lg-1
        | Мы в &nbsp;
        a(href='https://twitter.com/Serviceiphoneua', rel="nofollow", target="_blank")
          i.fa.fa-twitter
          //|&nbsp;Twitter
      div.col-sm-2.col-lg-1
        | Мы в &nbsp;
        a(href='https://www.instagram.com/serviceiphoneua/', rel="nofollow", target="_blank")
          i.fa.fa-instagram
          //|&nbsp;Instagram
      div.col-sm-2.col-lg-1
        | Мы в &nbsp;
        a(href='https://plus.google.com/109962936005483548770', rel="nofollow", target="_blank")
          i.fa.fa-google-plus
          //|&nbsp;Google+


  section#contacts.adress-section.text-center(itemprop='address', itemscope, itemtype='http://data-vocabulary.org/Address')
    #googleMap.google-maps

  script.
    function initMap() {
      var uluru = new google.maps.LatLng(50.446805, 30.510911),
          uluru2 = new google.maps.LatLng(50.508761, 30.502066),
          uluru3 = new google.maps.LatLng(50.4317077, 30.5156575),
          center = new google.maps.LatLng(50.464805, 30.510911),
          options = {
            center: center,
            scrollwheel: false,
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          },
          map = new google.maps.Map(document.getElementById("googleMap"), options),
          marker = new google.maps.Marker({position: uluru}),
          marker2 = new google.maps.Marker({position: uluru2}),
          marker3 = new google.maps.Marker({position: uluru3});

      marker.setMap(map);
      marker2.setMap(map);
      marker3.setMap(map);

      var markerInfo = new google.maps.InfoWindow({content: "Service-iPhone <br> ул. Богдана Хмельницкого, 32 офис 5 <br>(096) 1253246<br>(093) 7229156<br>(066) 5669752"});
      var markerInfo2 = new google.maps.InfoWindow({content: "Service-iPhone <br> Ремонт любой сложности техники Apple <br>(063) 1104224<br>(099) 2504224<br>(098) 1024224"});
      var markerInfo3 = new google.maps.InfoWindow({content: "Service-iPhone <br> ул. Большая Васильковская 74 офис 2 <br>(093) 4211221<br>(067) 3011221<br>(093) 4211221"});
      google.maps.event.addListener(marker, "click", function () {
        markerInfo.open(map, marker)
      })
      google.maps.event.addListener(marker2, "click", function () {
        markerInfo2.open(map, marker2)
      })
      google.maps.event.addListener(marker3, "click", function () {
        markerInfo3.open(map, marker3)
      })

    }
    function loadScript() {
      var e = document.createElement("script");
      e.type = "text/javascript", e.src = "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initMap", document.body.appendChild(e)
    }
    window.onload = loadScript;