extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Диагностика iPhone 6s') Диагностика iPhone 6s
        p Если с вашим айфон 6s возникли проблемы, например, тачскрин не отвечает на прикосновения, камера дает размытые снимки, а звук то появляетс, то пропадает или батарейка не держит заряд, необходим <a href='/remont-iphone-6s' title="ремонт iphone 6s">ремонт iphone 6s</a>. Возможно, причина некорректной работы телефона кроется в случайном падении на асфальт, получении сильного удара по корпусу или попадании воды внутрь конструкции.

        p Определить точную причину, по которой телефон вышел из строя, поможет диагностика смартфона. Получить бесплатную консультацию от квалифицированного специалиста вы можете уже сегодня в современном «яблочном» ремонтном центре <strong title="«Service-iPhone» в Киеве">«Service-iPhone» в Киеве</strong>.

        p Опытные специалисты за 10 минут протестируют телефон и сообщат исчерпывающую информацию о том, какие именно детали вышли из строя, что нужно сделать, чтобы устранить существующие неполадки в первую очередь. При желании вы на месте получите оперативный и качественный ремонт с гарантией на выполненную работу. Наши мастера проведут замену поврежденных запчастей на оригинальные детали, что обеспечит длительную работу вашей мобилки на долгое время.

        p В «Service-iphone» ваш девайс быстро восстановит работоспособность и вы снова сможете использовать функционал гаджета на полную мощность!
