
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Ремонт кнопки включения (блокировки) iPhone 6s') Ремонт кнопки включения (блокировки) iPhone 6s
        p Кнопка блокировки или режим сна позволяет «заморозить» заряд батареи и избежать непроизвольного нажатия на дисплей. Таким образом, вы экономите энергию и защищаете телефон от несанкционированных вами команд, которые могут привести к установке неправильных параметров работы и даже удалению программ.

        p <strong title="Ремонт кнопки включения (блокировки) iPhone 6s">Ремонт кнопки включения (блокировки) iPhone 6s</strong> понадобится в том случае, если она морально износилась (не нажимается, барахлит) или вышла из строя из-за недавнего падения смартфона. В этом случае потребуется ремонт телефона. Если этого не сделать вовремя, вы лишитесь такой удобной функции блока, что грозит другими проблемами при дальнейшем использовании девайса.

        p Заказать качественный <a href='/remont-iphone-6s' title="ремонт iPhone 6s">ремонт iPhone 6s</a> вы можете в нашем ремонтном центре «Service-iPhone» в Киеве. Наши специалисты проведут замену кнопки на оригинальную и ваш гаджет снова можно будет поставить на блок по первой необходимости.

        p На каждый вид ремонта мы даем гарантию. Поэтому можете не сомневаться в том, что замененная кнопка будет некорректно работать сразу после того, как вы вернем ваш айфон. При желании мастер проведет бесплатную диагностику телефона, чтобы определить есть ли еще «слабые» места, которые требуют внимания и устранения неполадок.

        p Приносите свой айфон в «Service-iphone» и мы обязательно устраним поломку.