
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена основной камеры iPhone 6s') Замена основной (задней) камеры iPhone 6s
        p Сегодня с помощью мобильных телефонов можно делать фото и видео в любое время. Самыми лучшими камерами среди всех существующих моделей смартфонов считают те, которые установленные в «яблочных» девайсах. Например, в iPhone 6s. Четкость, яркость и контрастность снимка позволяет запечатлеть наиболее важные и интересные моменты в жизни.
        p Однако из-за падения телефона с высоты или вследствие случайного удара по заднему корпусу первой чаще всего выходит из строя основная камера, поскольку фронтальная расположена на передней части девайса. Изображение может потерять краски, а в некоторых местах появиться размытости. Более того, после подобных повреждений камера может вообще не запускаться или срабатывать через два или три раза после запуска.
        p <strong title="Замена основной (задней) камеры iPhone 6s">Замена основной (задней) камеры iPhone 6s</strong> решит все ваши проблемы и вернет качество снимка и корректную работу камеры. Заказать такой <a href='/remont-iphone-6s' title="ремонт iphone 6s">ремонт iphone 6s</a> можно в «Service-iPhone». Наши специалисты быстро заменят поврежденную деталь на оригинальную и вы снова сможете снимать видео и делать фото без ограничений.
        p Кстати, на проведенный ремонт мы даем гарантию. Вы можете быть уверены, что наши специалисты ответственно подходят к вашей проблеме.