
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена передней камеры iPhone 6s') Замена фронтальной (передней) камеры iPhone 6s
        p С помощью передней камеры телефона можно осуществлять или принимать видеозвонки со всего мира. Прекрасное качество изображения дает возможность не только поговорить, но и увидеть абонента, находящегося даже в другом городе или стране. Однако такая возможность может быть утеряна, если вы случайно уронили телефон на асфальт или в него попала вода. В результате картинка становится размытой, а иногда камера попросту не включается.

        p Чтобы решить данную проблему, нужна <strong title="замена фронтальной (передней) камеры iPhone 6s">замена фронтальной (передней) камеры iPhone 6s</strong>. Мастер выполнит диагностику телефона, выяснит причину поломки камеры и заменит ее на новую. Учтите: такая работа требует соответствующего опыта и квалификации. В «Service-iPhone» в Киеве вы получите качественный ремонт фронтальной камеры даже в срочном порядке.

        p <a href='/remont-iphone-6s' title="Ремонт iPhone 6s">Ремонт iPhone 6s</a> в нашем ремонтном центре проводится только с гарантией. Поэтому вы сможете быть уверены в качестве выполненной работы. Приходите в «Service-iphone» и мы предложим лучшие условия и цену на ремонт вашего айфона!
