
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена корпуса iPhone 6s') Замена корпуса iPhone 6s
        p Во время эксплуатации модного смартфона, принадлежащего к линейке яблочных гаджетов, на корпусе могут возникнуть потертости, сколы и царапины. Больше всего это касается тех пользователей, которые не приемлют защитные чехлы. В результате панель выглядит непривлекательно, что портит общий стиль вашего девайса.
        p <strong title="Замена корпуса iPhone 6s">Замена корпуса iPhone 6s</strong> — оптимальный вариант, если вы желаете вернуть девайсу прежнюю привлекательность. При установке нового корпуса используется оригинальная деталь, которая в точности подходит по размерам и выполнена из того же материала, что и родная.
        p В «Service-iPhone» вы можете заказать подобную услугу в любое удобное время. Такой <a href='/remont-iphone-6s' title="ремонт iphone 6s">ремонт iphone 6s</a> проходит с соблюдением всех правил, что гарантирует надлежащее качество ремонта и сохранность внутренних деталей. Опытный мастер оперативно выполнит разборку телефона, установит и закрепит новый корпус.

        p Более того, в нашем ремонтном центре каждому клиенту мы предоставляет гарантию на любой вид ремонта. Вы можете быть уверены в том, что ваш телефон попал в надежные руки настоящих профессионалов и после замены поврежденной запчасти телефон прослужит еще долгое время.

        p Приходите!
