
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена стекла iphone 6s
        p Передняя часть смартфона — самая хрупкая составляющая во всей конструкции «яблочного» гаджета, поскольку состоит из стекла. Если вы случайно прижали телефон какой-либо вещью или уронили его на пол, на дисплее могут образоваться трещины и сколы.

        p Во-первых, такие косметические дефекты портят внешний вид девайса. Во-вторых, не дают возможности полноценно пользоваться меню и приложениями из-за нечеткости изображения в местах изъянов. В-третьих, опасны тем, что могут пропускать пыль и влагу внутрь конструкции, деформируя внутренние детали.
        p При обнаружении дефектов на стекле <strong title="замена стекла iPhone 6s">замена стекла iPhone 6s</strong> — оптимальное решение. Учтите: при замене стекла нужно менять весь экранный модуль, который состоит из дисплея, защитного стекла и тачскрина. Таким образом, девайс снова будет корректно выполнять свою миссию, ведь будет установлена родная запчасть.
        p Заказать <a href='/remont-iphone-6s' title="ремонт iphone 6s">ремонт iphone 6s</a> надлежащего качества и не только при повреждении стекла вы можете в «Service-iPhone». Опытные специалисты предоставят гарантию на выполненный ремонт, заменят стекло быстро и качественно в любое удобное время. Ваш телефон снова обретет привлекательность и будет выглядеть так же стильно, как и в день покупки. Звоните по контактным телефонам или приходите в центр и мы ответим на любые ваши вопросы уже сегодня!

. 