extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Диагностика iPhone 4
        p <strong>iPhone 4</strong> — модный смартфон, который дарит практичность и удобство своему обладателю во время использования. Поэтому в случае, когда перестал работать сенсорный экран, а на корпусе появились сколы и царапины стоит получить консультацию специалиста относительно серьезности имеющихся повреждений. В первом случае вы теряете доступ к меню телефона, во втором — страдает привлекательный вид гаджета.
        p Подробная диагностика позволяет определить глубину и характер поломки, а также предотвратить порчу рядом расположенных деталей. Например, попадание воды в конструкцию может не только лишить устройство звука, но и отразиться на программном обеспечении, что потребует прошивки.
        p Учтите: своевременный <strong><a href='/remont-iphone4'>ремонт iphone 4</a></strong> позволит не только вернуть девайсу работоспособность, но и сэкономить на ремонте. Качественно и с гарантией отремонтировать свой стильный гаджет вы сможете уже сегодня.
        p Обращайтесь в сервисный центр <a href='/'> «Service-iPhone»</a> и доверьте <strong>ремонт айфон</strong> настоящим профессионалам. <b>Бесплатная диагностика</b> дает возможность получить исчерпывающую информацию о состоянии своей мобилки и бюджетных вариантах устранения проблемы. Приходите и убедитесь сами!