
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена передней камеры iPhone 4') Замена фронтальной (передней) камеры iPhone 4

        p <strong>Передняя камера Iphone 4</strong> — хрупкая часть конструкции телефона. Именно эта деталь дает возможность пользователям делать селфи, так полюбившиеся многим. Высокое качество камеры в айфон дает возможность получить четкие снимки и качественное видео в любой момент.

        p Однако часто в процессе использования телефона, передняя камера выходит из строя. В основном, такие повреждения возникают после падения смартфона на твердую поверхность, в результате сильного удара по корпусу,  а также в случае, если на девайс оказывает давление посторонний тяжелый предмет (например, тяжелая сумка, случайно поставленная на стол, где лежит телефон).

        p Чтобы вернуть прежнее качество снимкам и видео, потребуется <strong>замена фронтальной (передней) камеры iPhone 4</strong>. Мастер проводит разборку телефона, извлекает камеру и устанавливает на ее место оригинальную деталь. Кстати, иногда качество снимка теряется даже в результате попадания в камеру влаги или пыли.

        p В <b>Service-iPhone</b> вы можете заказать любой <a href='/remont-iphone4'>ремонт iPhone 4</a>, в том числе и замену камеры. Наши специалисты быстро проведут ремонтные работы вашей камеры и вы снова сможете фотографировать и снимать видео без ограничений. Обращайтесь уже сегодня, чтобы получить профессиональную помощь!
