extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена стекла (тачскрина) iPhone 4') Замена стекла (тачскрина) iPhone 4
        p Если ваш Iphone 4 упал на твердую поверхность, на него наступили или девайс получил сильный удар по корпусу — стекло может треснуть или разбиться. Не всегда защитная пленка или специальное стекло уберегают от таких повреждений.

        p Иногда после ударов на дисплее образуется своеобразный рисунок в виде паутинки. В результате гаджет теряет не только привлекательность, но и работоспособность. Трещины и сколы мешают пользоваться меню и приложениями.

        p <strong>Замена стекла (тачскрина) iPhone 4</strong> помогает решить возникшую проблему и устранить дискомфорт во время использования смартфона. Во всех случаях такой <a href='/remont-iphone4'>ремонт iphone 4</a> предполагает замену всего дисплейного модуля. Ведь часто после полученных механических повреждений выходит из строя и сам тачскрин.

        p В сервисном центре «Service-iPhone» каждый клиент получает бесплатную диагностику «яблочного» телефона. Наши специалисты помогут восстановить испорченный дизайн девайса и его функциональность. Мы выполняем полную замену передней панели, что обеспечит надлежащее качество ремонта.

        p Не доверяйте тем, кто предлагает замену только стекла или другой поврежденной запчасти по отдельности. Такой ремонт — фикция. Производитель выпускает дисплейный модуль как единую деталь и не производит отдельные составляющие айфон.

        p Приходите в наш ремонтный центр и получите ремонт своего девайса надлежащего качества с гарантией!

