
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена основной камеры iPhone 4') Замена основной (задней) камеры iPhone 4
        p Iphone 4 оснащен двумя камерами: на лицевой стороне и задней части корпуса. Соответственно, первая получила название фронтальная, вторая — основная. И та, и другая дает возможность делать яркие фотографии и записывать видео в хорошем качестве.

        p По статистике, задняя камера чаще выходит из строя, чем передняя. Причина довольно проста: в большинстве случаев пользователь кладет телефон на поверхность «лицом» вверх. Поэтому если на столе или тумбочке разлита вода, другая жидкость, есть пыль или грязь — загрязнения и влага быстро проникают в камеру, отражаясь на качестве фото и видео.

        p В случае падения смартфона камера тоже может получить серьезные повреждения. Поэтому <strong>замена основной (задней) камеры iPhone 4</strong> — распространенный вид ремонта, предполагающий установку только оригинальной детали. Мастер проводит разборку девайса и с помощью специальных инструментов быстро заменяет деталь. После замены специалист выполняет тщательную диагностику на функциональность установленной запчасти. Это позволяет оценить ее работоспособность.

        p В «<strong>Service-iPhone</strong>» вы получите качественный <b>ремонт iPhone 4</b> в максимально короткие сроки. Наши мастера выполнят замену задней камеры с гарантией и проведут бесплатную диагностику смартфона. Вы снова сможете делать селфи и делиться фото- и видеофайлами с друзьями и близкими.



