
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена корпуса iPhone 6 Plus') Замена корпуса iPhone 6 Plus
        p Даже самый прочный металлический корпус подвержен механическим повреждениям. Царапины и трещины существенно портят привлекательность любого телефона, а об iPhone 6 Plus и говорить не приходится. Этот представитель линейки Apple давно завоевал ступеньки популярности своим элегантным дизайном и легким весом.
        p <strong title="Замена корпуса iPhone 6 Plus">Замена корпуса iPhone 6 Plus</strong> требуется в тех случаях, когда девайс упал на асфальт, бетон или на другую твердую поверхность, а также получил сильные удары по корпусу или близко познакомился с шероховатой (неровной) поверхностью.
        p Помните: сколы и царапины не просто угрожают эстетическим характеристикам мобилки, они способны пропускать влагу и пыль внутрь конструкции. В большинстве случаев это приводит к поломкам внутренних запчастей и системных плат.
        p Чтобы вернуть телефону прежнюю привлекательность, нужен <a href='' title="ремонт iphone 6 Plus">ремонт iphone 6 Plus</a>. Достаточно заменить корпус на оригинальную деталь и вы сможете снова владеть стильным и модным гаджетом из «яблочной» линейки.
        p В «Service-iPhone» мастера проведут быструю замену корпуса с гарантией. Это позволит вам получить уверенность в том, что ремонт был выполнен в надлежащем качестве с соблюдением всех правил и норм. Приходите уже сегодня. Не откладывайте замену корпуса на потом, чтобы существенно сэкономить и не столкнуться с более серьезными поломками мобильника!
