extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'politika-konfidenczialnosti'})

block content
  section.container
    br
    br
    p Мы высоко ценим конфиденциальность личной информации наших пользователей. Используя в работе с Интернет-ресурсами все доступные возможности сети, вы можете быть абсолютно спокойны на счет сохранности личной информации.
    p Данные, которые пользователи предоставляют при заполнении регистрационной формы или во время других манипуляций, применяются только в обусловленных в "Согласии с рассылкой" случаях. Преимущественно, личная информация используется в целях подготовки специальных Продуктов и Услуг. Также, в соглашении есть пункты, которые оговаривают особые случаи, когда какие-то данные могут быть переданы третьим лицам.
    p Данные, необходимые для сайта
    p Необходимые для сервиса данные - то те пункты, которые заполняются в регистрационной форме, а именно Имя и E-mail. Таким образом, пользователь добровольно соглашается на получение писем от "Инсайдер интернет предпринимателя".
    p Цель сбора личной информации.
    p Единственное для чего используется информация о пользователе - это отправка ему на электронную почту писем рассылки. Имя, которое указывается в регистрационной форме, необходимо для личного обращения. В письме от компании вы будете получать информацию об акциях, интересных фактах и предложениях.
    p Вся предоставленная информация не передается третьим лицам. Исключением из правила может быть только исполнение требований законодательства, что предусмотрено в Соглашении.
    p За пользователем остается право отказаться от рассылки. Тогда его имя и электронный адрес будет автоматически удален из базы данных. Для этого достаточно всего одного клика мыши на соответствующем пункте, который есть в каждом полученном письме.
    p
      strong Как происходит использование личных данных
    p Сайт www.service-iphone.com.ua использует Cookies и информацию о пользователях сервиса Google Analytics.
    p С их помощью происходит сбор данных о перемещениях посетителей по сайту. Такой контроль дает возможность улучшать и совершенствовать работу ресурса. Данный подход позволяет лучше ориентироваться на предпочтения посетителей и создавать интересующий пользователей контент.
    p В настройках каждого браузера можно запретить отправку Cookies или указать необходимость подтверждения каждой отправки. Эти действия, конечно, сохранят вас от распространения информации о ваших перемещениях в сети, но при этом некоторые сайты и возможности будут недоступны.
    p
      strong Защита персональных данных
    p Для обеспечения конфиденциальности информации о пользователях мы применяем различные меры безопасности, в том числе административные, управленческие и технические. Соответственно с международными стандартами контроля, мы не только собираем данные, но и несем полную ответственность за их сохранность. Каждый сотрудник нашей компании осознает всю важность соблюдения необходимых мер контроля, а также норм и указаний, принятыми в Соглашении.
    p Но, не смотря на высокие уровень обеспечения сохранности ваших персональных данных, пользователю тоже необходимо придерживаться определенных правил. Работая в Интернете, будьте осторожны и не распространяйте свои личные данные.
    p Наши разработчики делают все возможное, чтобы предотвратить возможность утечки информации, необоснованного использования и изменения персональных данных. Но 100% гарантии не может предоставить ни один интернет-сервис, так как от незаконного взлома системы не застрахован никто. Хакерская атака может создать условия для получения данных другими людьми.
    p
      | Если определенные пункты политики конфиденциальности буду меняться, то все пользователи получат извещения о данных переменах на свою электронную почту. Для выяснения каких-нибудь вопросов непосредственно с администрацией сайта, можно отправить письмо по адресу 
      a(href='mailto:support@service-iphone.com.ua') support@service-iphone.com.ua
    br


