extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'otkaz-ot-otvetstvennosti'})

block content
  section.container
    br
    br
    p Соответственно действующему украинскому законодательству, Администрация сайта оставляет за собой право отказаться от предоставления любых гарантийных соглашений или заверений, которые иным образом могут иметься в виду, а также, пользуясь данным правом, снимает с себя всю ответственность по отношению к самому Сайту, к его Содержимому и их эксплуатации.
    p Не зависимо от обстоятельств, Администрация Сайта не несет никакой ответственности перед любой из возможно возникнувших сторон. За любой возможный ущерб, нанесенный прямым, непрямым, косвенным либо особым образом, от использования в любых интересах информации и данных, размещенных на нашем Сайте либо на любом другом ресурсе, на странице которого размещена гиперссылка с данного Сайта, Администрация нашего Сайта ответственность не понесет. Также, Администрация Сайта не понесет ответственность за какие-либо заболевания, которые могут возникнуть от доступа или использования данного Сайта, а также от использования информации, размещенной на нём. Администрация Сайта не несет ответственности за возможный ущерб, полученный от эксплуатации данного Сайта или его содержимого, а также от любого интернет-портала, связанного с Сайтом, от любого упущения, системного сбоя, ошибки, задержки в передаче, дефекта, невозможности использования Сайта, простоя в работе, компьютерного вируса, перебоя, которые могут привести: к потери работы и работоспособности, к понижению активности и продуктивности, к потери программ или любых данных, к упущению какой-либо выгоды, к отчислению из учебного заведения, к приостановлению хозяйственной деятельности, а также к возникновению различного рода зависимостей. За всё вышеперечисленное Администрация Сайта ответственности не несет, даже, если о вероятности нанесения подобного ущерба администрация будет извещена заранее.
    p Пользователь подтверждает своё согласие, согласно которому любые возможные возникновения споров будут решены, опираясь на нормы украинского права.
    p Пользователь подтверждает своё согласие, согласно которому, любые существующие законы и нормы, защищающие права потребителей, не имеют никакого действия по отношению к данному Сайту, так как Сайт не занимается оказанием возмездных услуг.
    p При использовании данного сайта, Вы подтверждаете своё полное согласие со всей информацией, поданной на данной странице – «Отказ от ответственности». Также, Вы подтверждаете своё полное соглашение со всеми Правилами Сайта, принимая на свой счет всю, возможно возложенную на Вас, ответственность.
    br


