extends ../../layout
block head
  script.
    dataLayer.push({'pageType': 'otkaz-ot-otvetstvennosti'})

block content
  section.container
    br
    br
    p Если вы заполняете регистрационную форму на нашем сайте - это означает соглашение с нашей политикой конфиденциальности. Кроме этого, вы даете согласие на то, что мы можем разгласить вашу персональную информацию в описанных ниже случаях.
    p 1) В случае вашего личного согласия: в остальных случаях перед тем, как Наша компания передаст Вашу конфиденциальную информацию третьим лицам, Мы должны получить Ваше личное согласие. Например, третья сторона предлагает сотрудничество с Нашей компанией или конкурс, тогда мы будем делать запрос на Ваше разрешение на пользование Вашими личными данными.
    p 2) Компаниям, которые работают от лица Нашей компании: Ваши персональные данные могут быть частично раскрыты компании, которая выполняет функции бизнес поддержки от нашего лица. В наши требования входит, чтобы такая компания использовала данные исключительно в целях предоставление услуг соответственно с договором; им запрещено передавать Ваши конфиденциальные данные другим сторонам в ситуациях, но в ситуациях, когда это необходимо для предоставления оговоренных услуг передача личной информации им разрешается. Выполнение заказов, реализация заявок, награждение бонусами и призами, управление информационными системами и организации опросов промеж клиентов - все это функции бизнес поддержки. Также предусмотрено раскрытие обобщенных не персонифицированных данных в случаи выбора поставщика услуг.
    p 3) Совместным и дочерним предприятиям: Совместное или дочернее предприятие - это компания, в которой не меньше 50% долевого участия принадлежит Компании. В процессе передачи Ваших конфиденциальных данных партнеру по совместному или дочернему предприятию мы требуем не распространять данные другим сторонам в рекламных целях и не пользоваться Вашими данными каким-либо путем, который будет противоречить Вашему выбору. Мы не будет передавать Ваши конфиденциальные данные своим партнерам по совместным и дочерним компаниям для рекламных целей, в случае если Вы укажете, что не желаете получать маркетинговые материалы от нашей Компании.
    p 4) На совместно партнерских или позиционируемых страницах: в договоре предусмотрено, что у нашей Компании есть право распространять данные компаниям-партнерам, совместно с которыми мы занимаемся реализацией специальных мероприятий и предложений по продвижению товара на совместно позиционируемых страницах сайта. На таких страницах Вы будете предупреждены о передаче личных данных. Перед предоставлением личных данных вы сможете ознакомиться с уведомление о конфиденциальности, согласно которому партнер будет использовать данные, которые Вы предоставляете.
    p 5) В случае передачи контроля над предприятием: мы имеем право передать Вашу конфиденциальную информацию в случаи с трансфертом, полной или частичной продажи наших активов или предприятия в целом. У вас есть полное право отказаться от передачи данных о себе. Это будет означать, что у новой организации не будет прав и возможности дальше обеспечивать Вас продуктами и услугами, которые раньше предоставлялись нашей Компанией.
    p 6) Правоохранительным органам: Мы можем без Вашего согласия раскрыть Вашу конфиденциальную информацию третьим сторонам из-за следующих причин: защита или укрепление прав дочерних предприятий Компании или собственно прав самой Компании; помощь в случае предотвращения мошенничества; постановлений суда, чтобы избежать нарушения закона или нормативно - правовых актов.
    p Все конфиденциальные данные, которые будут Вами переданы для регистрации на нашем сайте, могут быть изменена в любой момент или же удалена по Вашему запросу. Вам всего лишь нужно будет с нами связаться, любым доступным и удобным для Вас способом использовав контактную информацию, которая размещена в специальном разделе на нашем сайте.
    p Вы без проблем можете сделать отказ от нашей регулярной рассылки и регулярного получения писем. В конце всех писем размещена ссылка для отказа, вы можете ее использовать в любой момент.

    br


