svg(width='34px', height='34px', viewbox='0 0 61 60', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  title Facebook
  desc Created with Service-iPhone.
  defs
  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#Colour(transform='translate(-79.000000, 0.000000)')
      g#Row-1
        g#Facebook(transform='translate(79.000000, 0.000000)')
          path(d='M0.11416185,30 C0.11416185,13.4314567 13.5650282,0 30.1575145,0 C46.7500007,0 60.2008671,13.4314567 60.2008671,30 C60.2008671,46.5685433 46.7500007,60 30.1575145,60 C13.5650282,60 0.11416185,46.5685433 0.11416185,30 Z', fill='#3B5998')
          path#Path(d='M32.6697148,46.3196729 L32.6697148,29.9980891 L37.1751858,29.9980891 L37.772258,24.3735809 L32.6697148,24.3735809 L32.6773696,21.5584604 C32.6773696,20.091502 32.8167502,19.3054722 34.9237261,19.3054722 L37.7403631,19.3054722 L37.7403631,13.6803271 L33.2342542,13.6803271 C27.8216928,13.6803271 25.9166115,16.4088187 25.9166115,20.9972835 L25.9166115,24.3742179 L22.5427709,24.3742179 L22.5427709,29.998726 L25.9166115,29.998726 L25.9166115,46.3196729 L32.6697148,46.3196729 Z', fill='#FFFFFF')
          path#reflec(d='M60.2008671,30 C60.2008671,46.5685433 46.7500007,60 30.1575145,60 C24.0037543,60 18.2821216,58.1525134 13.5186513,54.9827754 L47.9432097,5.81941103 C55.3769726,11.2806503 60.2008671,20.0777973 60.2008671,30 Z', fill-opacity='0.08', fill='#000000')
