.navbar-toggle {
  position: relative;
  float: left;
  padding: 10px 15px;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &.is-open {
    background: #f2f2f2;
  }
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #428bca;
    & + .icon-bar {
      margin-top: 4px;
    }
  }
}

.top-navigation {
  padding: 0;
  display: none;
  border-top: 1px solid #f2f2f2;
  &.is-open {
    display: block;
  }

}

.top-navigation__link {
  color: $black;
  display: block;
  padding: 7px 10px;
  font-size: 16px;
  margin: 0 -15px;
  border-bottom: 1px solid #f2f2f2;
  text-decoration: none;

  &.is-active {
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: #0483d9; // Old browsers
    //@include filter-gradient(#0483d9, #05aad9, vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    //		$experimental-support-for-svg: true;
    //		@include background-image(linear-gradient(top, #0483d9 0%, #05aad9 100%));
    color: #fff;
    text-decoration: none;
    border: none;
    .top-navigation--text {
      border: none;
      color: #fff;
    }
    &:hover, &:focus {
      border: none;
    }
  }
  &:hover, &:focus {
    color: #000;
  }
}

.subnav__link {
  position: relative;
  font-size: 14px;
  .fa {
    font-size: 15px;
    color: #ddd;
    position: absolute;
    z-index: 1;
    left: 3px;
    top: 3px;
  }
}

.subnav__link--text {
  padding-left: 10px;
  text-shadow: 0 1px 0 #fff;
}

.nav {
  margin: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    &:first-child {
      .nav__link {
        border-left: none;
      }
    }
  }
}

.nav__link {
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: underline;
  }
  img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
  }
}