.is-nav-open {
  .header__container {
    background: #0b1f32;
  }
  .logo__link,
  .nav__link,
  .logo__text {
    color: #fff;
  }

  .nav {
    display: block;
  }

  .icon-bar {
    background: #fff;
  }

  .nav__img path,
  #XMLID_229_,
  #XMLID_2_ {
    fill: #fff;
  }
  #Group {
    fill: #0b1f32;
  }
}

.navbar-toggle {
  float: right;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  &:active .icon-bar{
    background: $link-hover-color;
  }
}

.icon-bar {
  display: block;
  height: 2px;
  background: $link-hover-color;
  border-radius: 1px;
}

.icon-bar + .icon-bar {
  margin: 5px 0 0;
}

.nav {
  text-align: center;
  display: none;
  //border-top: 1px solid #0b1f32;
  //border-bottom: 1px solid #0b1f32;
}

.nav__link {
  display: block;
  text-decoration: none;
  margin: 0 0 30px;
  color: #000;
  border-right: 1px solid #000;
  @include transition(color, .2s);
  @include transition(background, .5s);
  background: #0b1f32;
  path {
    @include transition(all, .2s);
  }
  &:first-child {
    border-left: 1px solid #000;
  }
  &:active {
    color: $link-hover-color;
  }
  &:active path {
    fill: $link-hover-color;
  }
}

.nav__img {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 0 0;
}

.nav__separator {
  border-top: 1px solid #000;
  padding: 20px 0 0;
}

.nav__last {
  margin: 0 0 30px;
}

.fb-like {
  margin: 0 10px;
  vertical-align: top;
}

.nav__link--second {
  margin: 0 0 20px;
}

.btn--calc-mobile {
  display: inline-block;
}