extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена стекла iPad Mini 3
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad-mini3.jpg', title='Ремонт iPad Киев', alt='Картинка:Ремонт iPad Киев')
        p
          | Независимо от производителя, планшетные компьютеры имеют одно общее уязвимое место - дисплей и сенсорное стекло. Даже
          | такие качественные и надежные устройства, как планшеты серии iPad Mini, нередко оказываются в ремонте по причине
          | повреждений стекла. &nbsp;
          a(href='http://service-iphone.com.ua/ipad-remont', title='Замена стекла iPad Mini 3') Замена стекла iPad Mini 3
          | , это услуга, которая
          |   пользуется большим спросом в Киеве.
        p
          | Причинами повреждений стекла и дисплея в iPad чаще всего являются падения устройства на твердую поверхность с высоты,
          | удары и сильное давление, которое может возникнуть, если на гаджет воздействует большой вес. Нередко планшеты
          | небольшого размера забывают в карманах одежды или на сиденьях автомобилей, где на них может кто-то сесть, повредив не
          | только стекло, но и корпус.
        p
          a(href='http://service-iphone.com.ua/remont-ipad-mini3') Ремонт iPad Mini 3
          |  в случае повреждения сенсорного стекла необходим даже в тех случаях, когда планшет
          |   продолжает выполнять свои функции. Помимо того, что такое устройства имеет неприглядный внешний вид, трещины повышают
          |   риск попадания внутрь корпуса влаги и пыли. А это может негативно сказаться на работоспособности других компонентов
          |   планшета.
        p
          | В случае, если ваш &nbsp;
          b iPad Mini 3
          |  имеет повреждения стекла, не откладывайте обращение в сервисный центр “на
          |   потом”. &nbsp;
          strong Ремонт Айпад Мини 3
          |  лучше всего осуществлять в авторизованном сервисном центре, не полагаясь на качество услуг
          |   небольших мастерских. Тем более, не следует производить процедуру замены тачскрина своими силами, если у вас нет опыта
          |   ремонта столь сложной и тонкой техники.
