
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена экрана (дисплея) iPad Mini 3
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad-mini3.jpg', title='Ремонт iPad Киев', alt='Картинка:Ремонт iPad Киев')
        p
          | В случаях механических повреждений планшета может возникнуть необходимость в более серьезном ремонте, чем простая
          | замена стекла. &nbsp;
          a(href='http://service-iphone.com.ua/remont-ipad-mini3', title='Замена экрана (дисплея) iPad Mini 3') Замена экрана (дисплея) iPad Mini 3
          |  может понадобиться, если не работает подсветка, или не включается
          |   экран планшета.
        p
          | Неисправности в работе экрана вызваны, чаще всего, неправильным или неаккуратным использованием устройства, в
          | результате чего оно подвергалось воздействию влаги или сильных ударов.Несмотря на то, что компания Apple немало сил и
          | средств затрачивает на повышение надежности своей техники, экран остается самым уязвимым элементом планшета, ведь он
          | занимает почти всю площадь лицевой стороны устройства.
        p
          a(href='http://service-iphone.com.ua/ipad-remont', title='Ремонт iPad Mini 3') Ремонт iPad Mini 3
          |  это сложная процедура, которая требует высокой квалификации мастера, наличия специального
          |   оборудования, а также качественных запасных деталей, предоставляемых производителем. Все это можно получить только в
          |   сервисных центрах, которые имеют сертификаты компании Apple, подтверждающие высокое качество услуг и профессиональный
          |   уровень персонала.
        p
          | Не стоит доверять &nbsp;
          strong ремонт Айпад Мини 3
          |  сомнительным мастерским, которые, как правило, не имеют всего необходимого для
          |   качественного ремонта столь сложной и тонкой техники, как планшеты &nbsp;
          b iPad Mini 3
          | . В лучшем случае, вы будете недовольны
          |   результатом ремонта, и обратитесь в авторизованный центр. В худшем - непрофессиональный подход к ремонту может
          |   привести к появлению дополнительных неполадок, которые могут поставить под вопрос целесообразность ремонта устройства
          |   вообще.
