extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Диагностика iPhone 5
        p Какой бы надежной ни была техника такой компании, как Apple, существует множество причин, по которым может потребоваться ее ремонт. Это касается и смартфонов iPhone всех линеек. Неправильная эксплуатация, неаккуратное обращение со смартфоном, экстремальные условия использования - причин, по которым может понадобиться ремонт iPhone 5 может быть предостаточно.

        p Во многих случаях причина неисправности становится ясна практически сразу - стоит только узнать “симптомы” поломки. Но иногда определить точно причину, по которой смартфон работает не так, как следует, или вообще не работает, невозможно. В таких случаях для качественного ремонта Айфона необходимо провести диагностику.

        p Диагностика iPhone 5 в компании Service-iPhone производится бесплатно всем без исключений клиентам. Даже если вы решите отложить ремонт после проведенной диагностики, или просто передумаете - мы не возьмем плату за эту услугу.

        p Качественная бесплатная диагностика, которую проведут наши специалисты, позволит вам точно понять, что необходимо отремонтировать, и какие затраты повлечет за собой ремонт iPhone 5. Вы сможете определить приоритет проведения ремонта в соответствии со своими возможностями, а наш мастер будет обладать полной информацией по состоянию вашего смартфона прежде, чем начать ремонтные работы. Точная диагностика - залог успешного ремонта.