
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена стекла iphone 5
        p
          strong Замена экрана iphone 5
          |  — одна из самых распространенных причин выхода смартфона из строя. В случае падения телефона,
          | удара по передней или задней панели телефона в первую очередь пострадает стекло. На нем сразу появятся царапины, трещины
          | виде паутинки и даже сколы различной глубины. Такие повреждения не только портят внешний вид крутого яблочного девайса,
          | но и создают определенные проблемы во время использования устройства. Вы не сможете увидеть часть меню, воспользоваться
          | возможностями многих приложений из-за нечеткой видимости панели управления.
        p
          | В «Service-iphone» вы сможете быстро вернуть своему телефону солидность и работоспособность. Наши мастера быстро
          | выполняют ремонт, возвращая мобильнику прежнюю привлекательность в минимальные сроки. Качественная замена стекла на
          | iPhone 5 предполагает установку оригинальной запчасти, которая в точности соответствует размерам девайса. Каждый клиент
          | получает гарантию на проведенный ремонт, что засвидетельствует качество предоставленных услуг.
        p
          | Обращайтесь в «Service-iphone».&nbsp;
          a(href='http://service-iphone.com.ua/remont-iphone5', title='Узнать цену') Замена стекла iphone 5 в Киеве
          |  возможна даже в срочном порядке!
