
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена корпуса iPhone 5') Замена корпуса iPhone 5
        p Корпус смартфона - это та деталь, на которую приходятся постоянные физические нагрузки. Как результат - потертости, царапины, потеря первоначально вида приводят к тому, что любимый Айфон выглядит не столь презентабельно и аккуратно, как хотелось бы.

        p Замена корпуса iPhone 5 может понадобиться не только тогда, когда вы желаете обновить внешний вид смартфона. Нередки случаи падений, которые приводят к серьезным повреждениям корпуса, и тогда ремонт iPhone 5 становится неизбежным.

        p Сервисный центр Service-iPhone производит ремонт iPhone 5 в Киеве, в который входят как самые сложные неисправности, так и такие, как замена корпуса. Мы производим замену на “фирменные” детали, поэтому гарантируем возвращение первоначально внешнего вида, идеальную подгонку корпуса и его надежность. Высокое мастерство наших специалистов гарантирует отличный конечный результат.

        p В случае, если корпус повредился в результате падения или удара существует риск повреждения других моделей смартфона. Мы осуществим бесплатную диагностику вашего аппарата, чтобы убедиться в том, сто после ремонта Айфон будет работать долго без каких-либо неполадок, которые могут возникнуть вследствие удара.


