
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена экрана (дисплея) iPhone 5') Замена экрана (дисплея) iPhone 5

        p Одна из самых распространенных причин обращения в сервисные центра владельцев смартфонов от Apple - <strong>замена экрана (дисплея) iPhone 5</strong>. Причины поломок экрана могут быть различными, но самой распространенной является механическое повреждение стекла. Сколы и трещины стекла происходят чаще всего по причине неосторожного обращения с гаджетом.

        p <a href='/remont-iphone5'>Ремонт iPhone 5</a> в виде замены дисплея также происходит в случаях потери чувствительности сенсора, различных неполадках в калибровке экрана а также, если экран самопроизвольно отключается.

        p Поскольку смартфоны iPhone последних серий имеют модульную сборку, ремонт отдельных компонентов модулей авторизованными сервисными центрами не производится - их меняют на готовые блоки. Это вызвано тем, что такие сложные устройства нуждаются в настройке в фабричных условиях, которых невозможно достичь в сервисной организации.

        p Компания <strong>Service-iPhone</strong> оказывает весь спектр услуг, касающийся <b>ремонта iPhone в Киеве</b>. Бесплатная диагностика поломки позволяет правильно определить причину неисправности, и заменить тот компонент смартфона, который необходимо. Комплектующие, которые мы используем для замены, сертифицированы производителем, поэтому на результат ремонта действует гарантия. Высокая квалификация специалистов обеспечивает качественное и быстрое обслуживание для наших клиентов.

