extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена стекла (тачскрина) iPhone 5') Замена стекла (тачскрина) iPhone 5
        p Если экран вашего iPhone начал некорректно работать, или вовсе перестал функционировать, сенсор реагирует не так, как нужно, либо вы повредили стекло смартфона - скорее всего, потребуется <strong>замена стекла (тачскрина) iPhone 5</strong>.

        p Смартфоны последних серий компании Apple собраны по модульному принципу. Поэтому, даже при повреждении только лишь стекла, замене подлежит весь дисплейный модуль. Бесплатная диагностика, которую проведут специалисты компании <b>Service-iPhone</b> поможет определить, какого рода <a href='/remont-iphone5'>ремонт iPhone 5</a> вам может понадобится, и в чем кроется неисправность.

        p По каким причинам может <b>выйти из строя дисплей iPhone</b>:
        ul
          li после падения на жесткую поверхность даже с относительно небольшой высоты;
          li если вы, или кто-то другой случайно сел на смартфон, надавив на его экран, что привело к повреждению стекла;
          li вы подвергли Айфон воздействию воды, намочив его. В большинстве случаев это приводит к выходу из строя экрана.

        p Как видим, объективными причинами неисправностей дисплейного блока являются нарушения условий эксплуатации. Поэтому мы рекомендует более бережно относится к своему помощнику в “лице” iPhone 5. Но, если все-таки поломка произошла, мы определим, что не так, и проведем <strong>ремонт iPhone 5 с использованием оригинальных комплектующих</strong>, руками специалистов высокой квалификации. На результат ремонтных работ распространяется гарантия гарантия.