
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена микрофона iPhone 5') Замена микрофона iPhone 5
        p При пользовании смартфонами от компании Apple могут возникать проблемы в работе микрофона. Они выражаются в том, что человек, с которым вы говорите, нечетко слышит вашу речь, ему слышны посторонние звуки, помехи, иногда кажется, что связь прерывается. В некоторых случаях звук может внезапно пропадать, и собеседник не может услышать вас. Все это признаки того, что необходима <strong>замена микрофона iPhone 5</strong> на новый.

        p От этой небольшой детали современного смартфона зависит большая часть его функциональности, и поломка доставляет немало неприятностей. Мы рекомендуем не медлить, и обратиться в сервисный центр, который осуществляет <a href='/remont-iphone5'>ремонт iPhone 5 в Киеве</a>. Тем более, что эта процедура не займет много времени.

        p Специалисты Service-iPhone проверят работоспособность микрофона и определят причину поломки. Если замена действительно необходима, мы устанавливаем новый качественный микрофон от производителя, который будет долго служить, не вызывая нареканий.

        p Наш сервисный центр проводит замену только на оригинальные комплектующие, и гарантирует качество. В случае ненадлежащей работы компонента, который заменили, <strong>Service-iPhone</strong> осуществляет гарантийный ремонт в течение срока гарантии на деталь.
