
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена основной камеры iPhone 5') Замена основной (задней) камеры iPhone 5

        p Смартфоны iPhone последних серий заслужили свою популярность во многом благодаря отличной основной камере. Высокое качество снимков и удобство использования для многих превратили Айфон в замену отдельно фотокамеры. И тем более неприятно ощущаются неполадки в работе этого компонента смартфона.

        p <strong>Замена основной (задней) камеры iPhone 5</strong> может понадобиться в таких случаях, как:

        ul
          li ухудшение качества снимков по причине попадания в камеру влаги или пыли;
          li поломка камеры в результате падения Айфона -  в  таких случаях она может полностью потерять работоспособность;
          li другие физические воздействия, которые приводят к темному экрану при включении камеры или выводу сообщения об ошибке.

        p <a href='/remont-iphone5'>Ремонт iPhone 5 в Киеве</a>, который осуществляется нашим сервисным центром, среди остальных услуг включает в себя и замену основной камеры. Это достаточно сложная процедура, и требует высокого профессионализма от специалистов ремонтников. В компании <b>Service-iPhone</b> работают опытные мастера, которые осуществляют ремонт любой сложности. Даже если вы заметили небольшие отличия в том, как работала камера раньше и сейчас, рекомендуем обратиться к нам. Здесь осуществят бесплатную диагностику неисправности, и установят точную причину нарушений в работе аппарата. Если дело, все-таки, в камере - будет произведен качественный и быстрый ремонт с гарантией.


