
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена передней камеры iPhone 5') Замена фронтальной (передней) камеры iPhone 5

        p <b>Фронтальная камера</b> в смартфонах iPhone последних серий, получи более высокое разрешение, способствовала росту популярности видео-звонков среди пользователей. Многие находят ее полезной и для решения других задач. Поэтому выход из строя этой части вашего Айфона может повлечь за собой массу неудобств, а в некоторых случаях и более серьезные последствия.

        p <strong>Замена фронтальной (передней) камеры iPhone 5</strong> может потребоваться в тех случаях, когда камера работает с нарушениями, либо вовсе не включается. Это может быть вызвано влагой или пылью, попавшей в камеру, а также физическими повреждениями, которые могли случиться в результате падения или удара смартфона.

        p <a href='/remont-iphone5'>Ремонт iPhone 5 в Киеве</a>, который уже в течение нескольких лет осуществляет компания Service-iPhone, предусматривает решение самых сложных проблем, которые могут возникнуть с вашим гаджетом. Поломка фронтальной камеры не является исключением. Проведя бесплатную диагностику, наши специалисты установят точную причину неработоспособности фронтальной камеры, и проведут быстрый и качественный ремонт. Новая камера высокого качества от производителя прослужит вам еще долго, тем более, что на нее распространяется наша гарантия.

