
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1(title='Замена батареи iPad 2') Замена батареи (аккумулятора) iPad 2
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad2.jpg', title='Ремонт iPad Киев', alt='Картинка:Ремонт iPad Киев')
        p
          | Впечатляющая функциональность планшетов компании Apple приводит к тому, что их владельцы используют iPad постоянно и
          | подолгу. Это вызывает большую нагрузку на батарею устройства, и, в конце концов, приводит к тому, что требуется &nbsp;
          a(href='http://service-iphone.com.ua/remont-ipad2', title='замена батареи (аккумулятора) iPad 2') замена батареи (аккумулятора) iPad 2
          | .
        p
          | Как понять, что аккумулятор в вашем Айпаде пора менять? Признаками уменьшения емкости батареи могут быть:
        ul
          li резкое сокращение времени работы устройства без подзарядки;
          li некорректное отображения уровня заряда аккумулятора устройством;
          li внезапные перезагрузки планшета;
          li
            | в некоторых случаях устройство может выключаться, без возможности включиться, не используя зарядное устройство.
        p
          | В конечном итоге, износ батареи приводит к тому, что вы не можете пользоваться устройством без подзарядки хоть
          | сколько-нибудь заметное время, и приходится обращаться в &nbsp;
          a(href='http://service-iphone.com.ua/ipad-remont', title='ремонт iPad 2') ремонт iPad 2
          | .
        p
          | Причинами выхода аккумулятора из строя могут быть как естественные (постепенная потеря емкости в процессе
          | использования батареи), так и вызванные внешними причинами. Использование неподходящего зарядного устройства, перегрев
          | планшета, попадание в корпус воды - все это может вызвать слишком быструю потерю емкости аккумулятора.
        p
          | Сервисные центры, которые сертифицированы производителем для ремонта техники Apple, выполняют&nbsp;
          strong(title'ремонт айпада') ремонт Айпада 2
          |  быстро
          |   и качественно, используя только оригинальные комплектующие.
