extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена стекла iPad 2
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad2.jpg', title='Ремонт iPad Киев', alt='Ремонт iPad Киев')
        p
          | Уже несколько лет планшеты iPad являются флагманами на рынке планшетных компьютеров. Их большая популярность стала
          | возможной благодаря ряду инноваций, а также безупречному качеству устройств. Широкое распространение и интенсивное
          | использование этих ПК пользователями неизбежно привело к тому, что&nbsp;
          a(href='http://service-iphone.com.ua/remont-ipad2', title='ремонт iPad 2') ремонт iPad 2
          |  стал достаточно востребованной
          |   услугой в сервисных центрах, которые ремонтируют технику компании Apple.
        p
          | Компания прикладывает немало усилий для того, чтобы сделать свою продукцию не только качественной и удобной, но
          | также, устойчивой к различным внешним воздействиям. И, хотя&nbsp;
          b iPad 2
          |  отличается высокой прочностью в сравнении с
          |   аналогами, от повреждений в результате неправильного использования, он не застрахован.
        p
          | Одной из наиболее часто встречающихся поломок любого мобильного устройства с сенсорным экраном является повреждение
          | стекла и тачскрина. В случаях падений, сильных ударов или воздействия большой массы на стекло экрана, оно
          | повреждается, и&nbsp;
          a(href='http://service-iphone.com.ua/ipad-remont', title='замена стекла iPad 2') замена стекла iPad 2
          |  становится неизбежной.
        p
          | Доверять &nbsp;
          strong ремонт Айпад 2
          |  лучше только профессионалам. Не пытайтесь заменить стекло с тачскрином
          |   самостоятельно, если у вас нет опыта проведения этой операции и разбора такого устройства. самостоятельный ремонт или
          |   обращение в малоизвестные мастерские, где ремонт осуществляется полукустарным способом, может принести еще больше
          |   вреда устройству.