
extends ../../../layout

block content
  .container
    .row
      .col-xs-12
        h1 Замена экрана (дисплея) iPad 2
        //img(style='float: left; margin: 0 10px 10px 0;', src='http://service-iphone.com.ua/img/ipad/remont-ipad2.jpg', title='Ремонт iPad Киев', alt='Картинка:Ремонт iPad Киев')
        p
          | Если в вашем
          b iPad 2
          |  начались проблемы с работоспособностью экрана, возможно, вам предстоит&nbsp;
          a(href='http://service-iphone.com.ua/ipad-remont', title='замена экрана (дисплея) iPad 2') замена экрана (дисплея) iPad 2
          | . Признаками таких проблем может быть как полностью неработающий дисплей, так и некорректная цветопередача,
          |   наличие искажений в изображении. В любом случае, точную причину неработающего дисплея может определить только опытный
          |   мастер с использованием современной диагностики устройства.
        p
          a(href='http://service-iphone.com.ua/remont-ipad2', title='Ремонт iPad 2') Ремонт iPad 2
          |  является не редкостью в киевских сервисных центрах, которые работают с техникой компании Apple. При
          |   очень высоком качестве всего устройства и его отдельных компонентов, поломки случаются по причине неправильного
          |   использования планшета, которое может привести, например, к попаданию внутрь корпуса влаги.
        p
          | Производитель не рекомендует производить ремонт такого сложного устройства, как планшетный компьютер, самостоятельно,
          | либо в полукустарных мастерских. Точная подгонка компонентов устройства, необходимость использования специального
          | оборудования в соответствующих условиях делают&nbsp;
          b ремонт Айпад 2
          |  возможным только в условиях авторизованных сервисных
          |   центров.
        p
          | В таком центре профессионалы высокой квалификации проведут диагностику всех основных систем планшета, определят
          | причину, и устранят неисправность максимально быстро и качественно. При этом используются только оригинальные
          | комплектующие, а также выдается гарантия на замененную дуталь.