extends ../../layout

block content
  section.warranty
    .container
      h1(title="Гарантия 2 года - 'Service-Iphone'") Гарантия
      h2.warranty__heading2 Мы предоставляем гарантию на все ремонты.
      p
        strong Срок гарантии — 6 мес.
      p Гарантия распространяется на все установленные запчасти и выполненные услуги.
      h3.mb5 Гарантийные обязательства
      ul.warranty__agreement
        li
          strong Срок гарантии составляет 6 мес
          |  со дня выдачи аппарата Заказчику.
        li
          | Ремонт что производиться на материнской плате устройства, гарантия составляет 30 дней.
        li Гарантия на замену стекла(переклейку) iPhone составляет 30 дней.
        li
          | Гарантия не предоставляеться при чистке,пропайке устройства после попадании влаги.
        li
          | Исполнитель гарантирует безотказную работу компонентов (деталей), установленных в аппарат, в течении гарантийного срока. Гарантия распространяется только на выполненные работы и на установленные оригинальные запчасти в технику для устранения неисправности.
        li
          | Гарантия не распространяется на технику в случае выхода из строя компонентов (деталей) не относящихся к выполненным работам или изначальной проблеме, либо если Исполнитель определит, что поломка связана с действиями клиента, или по причине форс-мажорных обстоятельств. Также, гарантия не распространяется на целостность корпусных деталей, подверженных естественному износу, таких как панели, стекла, крышки. Гарантия не распространяется на программное обеспечение в любом виде.
        li
          | Под гарантийное сервисное обслуживание не попадают устройства, потерявшие работоспособность вследствие несанкционированного обслуживания или модификации, разборки устройства, нарушений пломб, условий эксплуатации, а также применения техники способами несоответствующих от оговоренных в инструкции по эксплуатации,также гарантия онулируеться при попадании влаги в любом виде.
        li
          | Исполнитель не несет ответственности за возможную потерю данных, находящихся в памяти оборудования или на каких-либо носителях информации.
        li
          | Гарантийные обязательства выполняются сроком от 1-7 рабочих дней ( в зависимости от наличия комплектующих и сложности роботы).
        li
          | Срок гарантийного ремонта не является основанием для увеличения основного срока гарантии. Изменение сроков гарантийного обслуживания обратной силы не имеет.
        li
          | В случае утери акта выполненных работ Исполнитель вправе отказать Заказчику в гарантийном ремонте.
        li
          | Гарантия не распространяется на время автономной работы аппарата после замены элемента питания.
        li
          | Гарантийный ремонт выполняется в сервисном центре, находящемся по адресу м. Золотые Ворота, ул. Богдана Хмельницкого 32, оф. 5. Контактный телефон: +38 (067) 77-68-610